[2016-08-01 19:04] andykog commented on #84
@jmaguirrei, React can't use PureRender by default becouse then it will fail when one of the props is some complex tree that was changed deeply inside. Then it needs to make deep equality check, resulting in problems with performance. Or some of the props may be not an object, but some class that can't be compared at all. So when you implementing PureRender by yourself you are taking the responsib

[2016-08-01 19:38] mbriggs commented on #443
...and i think i just hit the issue @andykog was worried about (feel free to ask me to open a new ticket)

[code]

and when I run tests, I get

[code]

[2016-08-01 20:35] mweststrate commented on #443
@mbriggs would you be able to provide a small repo or test snippet + the minimal amount of deps that causes this problem? Then I'll try to grok the root cause of this issue and add a regression test

[2016-08-01 20:45] mweststrate commented on #166
I'm still planning on this, but not in the near future (next month) as there don't seem to be much need for these kind of optimizations so far. If in dire need, a case specific solution using splices will often not be that hard (a generic solution is harder, as there need to be clear semantics on the influence of transactions, arbitrary observables used in mapping functions etc, but I already buil

[2016-08-01 20:46] andykog commented on #443
@mweststrate, you can try `npm run full-test` in this branch https://github.com/andykog/mobx/tree/reflectDecorateProblem
That is a sad picture

[2016-08-01 20:47] andykog commented on #443
@mbriggs, you are using `reflect-metadata`, aren't you?

[2016-08-01 20:50] mbriggs commented on #443
@andykog yup, trying to mark something as angular2 `@Injectable`, which has `@observable` properties

[2016-08-01 21:11] mbriggs commented on #443
@andykog @mweststrate so looks like this was fixed in mobx or reflect metadata. I couldnt repro in a standalone project, so tried copying versions used in package.json. still couldnt repo, so removed the ^ from versions and got it :) . Uploading the repo anyways, just in case it helps narrow other issues around this. https://github.com/mbriggs/mobx-issue

[2016-08-01 21:26] andykog commented on #443
@mbriggs, you are right, that problem was fixed in #423

[2016-08-01 22:41] orrybaram opened #453 "Bug with toJS on ObservableArray ?"
Im testing out some mobx stuff, and ran into an issue. Maybe its a bug maybe not?

#### setup
[code]

#### issue
[code]
The array, doesn't get converted to js. It just returns the above object. Observable objects seem to work fine. This might be on my end, but I was wondering if theres anything that sticks out?

#### screenshot
<img width="1245" alt="screen shot 2016-08-01 at 6 38 15 pm" src="http

[2016-08-01 22:48] andykog commented on #453
@orrybaram, works fine for me: https://jsfiddle.net/Sl1v3r/6n0ohbse/

[2016-08-02 00:13] orrybaram commented on #453
@andykog  Thanks for the reply. I think its gotta be something strange on my end. So I'm working on this https://github.com/micnews/mobx-deku/blob/master/index.js#L32. And in that line, im getting the issues i described before. The weird thing is, when I run the tests in that repo it works exactly as it should. The issues only occur when I import this module and use it in a different code base. ¯\

[2016-08-02 08:16] hellectronic commented on #453
Is `Array.slice()` an option?

[2016-08-02 08:23] ronag opened #454 "How to create field dependable atom"
Consider the following example:

[code]

Basically I have a field, `meta` that depends on a property on `data`. However, with my current implementation I will re-create the `_meta` atom when any property on `data` changes, which is rather inefficient. However, I am unsure what is the pragmatic way to resolve this scenario?

[code]

[2016-08-02 08:31] ronag commented on #454
Solved it for now using rxjs:

[code]

[2016-08-02 08:51] andykog commented on #453
@hellectronic, toJS is intendet to convert ObservableArray to Array without `.slice()` https://github.com/mobxjs/mobx/blob/master/src/api/tojs.ts#L30

[2016-08-02 11:05] leebenson opened #455 "Detecting observable type"
I have a simple store like this:

[code]

... which I can then use as `Session.data.get(key)`.

To allow my stores to work universally in the browser and from the server, I have a store provider that looks like this:

[code]

This allows me to set store values on the server, and dehydrate them down to the client, in a value that looks something like this:

[code]

(each object inside the array is

[2016-08-02 11:18] leebenson commented on #455
As a meantime hack, I've modified the rehydrate block to:

[code]

... which simply detects if it's an object, and assumes it needs transforming into a map.

This isn't perfect - it assumes _all_ plain objects are maps. In the meantime, I'll just ditch plain objects. Would be awesome to have an `isType` or equivalent function to reflect on the observable's type.

[2016-08-02 11:23] mweststrate commented on #455
Didn't read the entire question, but see https://mobxjs.github.io/mobx/refguide/is-observable.html

[2016-08-02 11:25] #448 closed

[2016-08-02 11:28] mweststrate commented on #446
@testerez according to the types, this should be inferred indeed: https://github.com/mobxjs/mobx-react/blob/master/src/index.d.ts#L6, but somehow TS doesn't seem to well to infer this. On the other hand, I usually do get the correct autocomplete, so the precise behavior of the compiler here puzzles me a bit as well

[2016-08-02 11:29] leebenson commented on #455
thanks @mweststrate, missed that - that should solve it. Closing.

[2016-08-02 11:29] #455 closed

[2016-08-02 12:04] testerez commented on #446
Yes it seams like it should to me too. I'll try to find the time to isolate the issue and send it to the typescript team.

[2016-08-02 12:15] darko-mijic commented on #84
@markoshust and @jamiewinder, here is the initial draft of ported Mantra Sample Blog:
https://github.com/darko-mijic/mantra-sample-blog-app/pull/1

There is only one thing I miss from Redux and that is redux-form.

[2016-08-02 14:24] jamiewinder commented on #84
@darko-mijic - FYI, I think you're intending to reference someone other than me? :)

[2016-08-02 14:42] darko-mijic commented on #84
Sorry about that ;)

[2016-08-02 15:06] Kukkimonsuta opened #456 "Observable extended array"
I've got follwing class:

[code]

Is there a way to transform instance of this class into an observable array while keeping both extra properties?

[2016-08-03 05:06] dreambo8563 opened #457 "decorate action when change state in autorun"
I hope find the card and assign it to local observable automatically.
the problem is when I turn on the strict mode. there is a warning about action.

I don't know if there is a way to add the action decorator for the autorun or other solution to make it reactive

the repo https://github.com/dreambo8563/mobx-KanbanBoard

[code]

[2016-08-03 05:40] mweststrate commented on #457
Hi @dreambo8563,

I think you found a typical example of a case where you want to use `computed` instead of `autorun`. If you have an autorun assigning a value instead of triggering some effect, computed is the better choice. They are easier to trace and will be cleaned up automatically in contrast to autorun which needs manually disposing in the `componentWillUnmount`. So I would recommend someth

[2016-08-03 06:13] dreambo8563 commented on #457
thank you so much.

[2016-08-03 06:13] #457 closed

[2016-08-03 06:34] timeyr commented on #84
Slightly off topic, but may I ask you how you have yours stores subscribe to Meteor collections? Do you fetch **all** data beforehand, i.e. all documents in the collection with all fields? Because your store is unaware of the concrete data requirement of the react components.

[2016-08-03 06:54] darko-mijic commented on #84
Data can be filtered on publication level by specifying document fields that will be published. You can also transform and map data fetched from publications in autoruns.

In most of my project i am using event sourcing which gives me the ability to generate fully denormalized collections based on view requirements using projections. That makes things much easier. The only source of truth in event

[2016-08-03 07:26] satispunk opened #458 "Should @action autobind method to store?"
Hi,

When I use
[code]

In this case it fails as 'this' in action not bound to something.

Workarounds are:
[code]
With this I should write inline arrow functions or write extra handler in component instead of just passing prop.

[code]
This doesn't support inheritance

[2016-08-03 09:07] Kukkimonsuta commented on #458
I believe this is correct and `@action` should not autobind, if you need such behavior you can always

[code]

And everything will work correctly.

[2016-08-04 00:31] mlesk opened #459 "Can you make attributes of a class observable without using decorators?"
For example, without decorators a factory method to produce counter objects looks like this:

[code]

I am wondering if there is a way to define Counter as a class and make it observable without using decorators:

[code]

This raises the mobx error : use 'computed(expr) instead of 'observable(expr).
Also, Counter in this context is no longer a constructor which causes a TypeError to be raised when

[2016-08-04 01:27] mlesk commented on #459
Ah ... read the docs a bit more carefully ... and used extendObservable ... cannot not use Class but this works just fine.

[code]

[2016-08-04 01:27] #459 closed

[2016-08-04 04:35] mweststrate commented on #459
@mlesk it works for classes as well, just do the `extendObservable` call in the `constructor`.

[2016-08-04 07:31] mweststrate commented on #458
Correct, `@action` is indeed not supposed to bind, but respects the normal javascript scoping rules. Note that bound methods never support inheritance, because the same property cannot exist twice on the same object instance. (Binding moves a function from the prototype to the instance and binds it) This is further not related to MobX.

[2016-08-04 07:31] #458 closed

[2016-08-04 07:33] satispunk commented on #458
Guys, thx for clarification, totally agree

[2016-08-04 07:42] andykog commented on #456
To achieve this behaviour you have to extend mobx internal class `ObservableArray`, but you can't. Instead I would use something like
[code]

[2016-08-04 11:58] mijay opened #460 "Bug/unexpected behavior in ObservableArray.concat"
If you decide to concatenate two observable arrays you get somewhat unexpected result:
[code]
![capture](https://cloud.githubusercontent.com/assets/697828/17400969/2741cef4-5a4b-11e6-8639-fc481b1708a5.PNG)

The issue is reproduced in 2.3.7, but judging from the code it seems that this is still an issue in 2.4.1

[2016-08-04 12:03] mweststrate commented on #460
That is 'correct' in general, see the [docs](https://github.com/mobxjs/mobx/blob/gh-pages/docs/best/pitfalls.md#arrayisarrayobservable123--false), `arr1.concat(arr2.slice())` is indeed the way to go

Although in this specific case MobX could actually detect it and deal with it. I'll look into that

[2016-08-04 12:41] mijay commented on #460
Yep, I kind of understand why this is happening and why this can be correct behavior. But while using MobX this behavior caught me by surprise, so my vote would be on changing it to the more intuitive.

[2016-08-05 02:19] mlesk commented on #459
Right, that makes sense, thanks.

[code]

[2016-08-05 20:44] ronag opened #461 "Atom.reportStatic"
It would be cool if one could report to mobx that an Atom will no longer changed and no longer needs to be tracked, freeing up resources.

[2016-08-05 22:10] alexmipego commented on #374
Hi, I've been trying to figure this out and I concluded as @mweststrate pointed out that you can't get "diffs" using just mobX, am I wrong? I'm attempting to create an isomorphic stack where any change on the server gets sent to the browser, which could easily(?) be achieved with Proxy objects, but wouldn't be well supported on browsers for a while...

Unless someone can provide a better solution,

[2016-08-06 06:25] mweststrate commented on #374
if you set up observe per object you can easily generate patch / diff data

Op za 6 aug. 2016 00:10 schreef alexmipego <notifications@github.com>:

[2016-08-06 10:39] alexmipego commented on #374
@mweststrate what about nested objects? I'm talking large object graphs, setting individual observers could mean millions or more instances.

[2016-08-06 13:13] mweststrate commented on #374
you could `spy`, but that catches everything. Individual observers are not expensive to create. At least lot's cheaper than diffing millions of instances :) I plan to provide some standard stuff for this in the near feature, on top of MobX but for now creating observers is the way to go (note that you can observe per instance, and the handler can be the same for every object as `change.object` ref

[2016-08-06 14:15] mweststrate opened #462 "More info about error: `[mobx] An uncaught exception occurred while...`"

[2016-08-06 14:15] #462 closed

[2016-08-06 14:31] mweststrate commented on #461
Mm not sure, if an atom is in use by a computed value for example, it might or might not have calculated already, so it might or might not still need the value of the atom in the future? On the other hand if the computed value is not in use, MobX will clean it up, notifying the atom that it is no longer in use through `onBecomeUnobserved`

[2016-08-06 15:14] Kukkimonsuta commented on #456
Allright, I suppose there are no plans to add support for extending `ObservableArray`? If not, please close this.

[2016-08-06 15:15] andykog commented on #456
@mweststrate

[2016-08-06 15:17] mweststrate commented on #456
Nope, it is not a much requested feature and might make other generic functionality harder in general.

[2016-08-06 15:17] #456 closed

[2016-08-06 15:30] #460 closed

[2016-08-06 15:31] mweststrate commented on #460
Released as `2.4.2`

[2016-08-06 15:31] mweststrate commented on #453
Seems not to be an issue anymore? Otherwise feel free to reopen

[2016-08-06 15:32] #453 closed

[2016-08-06 15:32] mweststrate commented on #446
Closes the issue for now, feel free to reopen when there is more info

[2016-08-06 15:32] #446 closed

[2016-08-06 15:33] #443 closed

[2016-08-06 15:33] mweststrate commented on #436
Closing this issue for now, feel free to reopen when more info is available

[2016-08-06 15:33] #436 closed

[2016-08-06 15:37] mweststrate commented on #412
Personally no experience with polymer, and it seems not too much other people either. There is no ready-to-use integration available, but note that MobX is in general applicable to any JS environment. The clue of integration MobX in a UI framework is general to put the code that is responsible for rendering in an `autorun` and hooking up the correct lifecycle methods for cleanup purposes. (this ha

[2016-08-06 15:37] #412 closed

[2016-08-06 16:10] #415 closed

[2016-08-06 16:12] #395 closed

[2016-08-06 17:07] orrybaram commented on #453
Yeah close it!

[2016-08-06 18:27] mweststrate commented on #374
See also #214. This won't be fixed within mobx, for the simple reason that for clear semantics a deep observer should operate on trees, and not on arbitrarily object graphs. Stay tuned though, I'm thinking about some abstraction on top of mobx that have this restriction allowing this kind of functionality.

[2016-08-06 18:27] #374 closed

[2016-08-06 18:28] mweststrate commented on #214
See also #374

This won't be fixed within mobx, for the simple reason that for clear semantics a deep observer should operate on trees, and not on arbitrarily object graphs. Stay tuned though, I'm thinking about some abstraction on top of mobx that have this restriction allowing this kind of functionality.

[2016-08-06 18:28] #214 closed

[2016-08-06 18:29] mweststrate commented on #407
Decided to keep it as is. Mainly because it better benefits my workflow, updating the changelog immediately when I change something :) Otherwise I might forget subtle change details. Thanks for the suggestion nonetheless.

[2016-08-06 18:29] #407 closed

[2016-08-07 09:46] mweststrate opened #463 "Introduce support for setters for computed properties"

[2016-08-07 09:47] mweststrate opened #464 "Introduce isStrictModeEnabled"
deprecate `useStrict()` without arguments?

[2016-08-07 13:13] ronag opened #465 "requestIdleCallback"
It would be nice if mobx computed had an option to defer changes until `requestIdleCallback`. It helps when trying to keep an application responsive while a lot of things are going on.

[2016-08-07 20:53] vonovak commented on #464
imho `isStrictModeEnabled` sounds like something that could be assigned to a variable or checked in a condition like `if(isStrictModeEnabled)...`. If the intent is to enable the strict mode then I'd call it simply `enableStrictMode`

[2016-08-07 23:36] mweststrate commented on #464
Related cause for this issue: https://github.com/zalmoxisus/mobx-remotedev/pull/3#issuecomment-236575386, `useStrict()` without arg was introduced recently, but not backward compatible so should be deprecated

[2016-08-08 05:41] jeffijoe commented on #463
How would this work? Isn't the point of `computed` that the data is always derived?

[2016-08-08 13:47] christiansakai opened #467 "asMap suddenly returns into plain object"
__UPDATE__: __SOLVED__, sorry it is because I was mixing and matching arrow functions with regular functions syntax.

I have this `userStore` below. In the constructor function, I put `asMap()` for the `profile` field in this class. All is well as expected, however inside the `@action register` function, the `profile` suddenly lost all of map methods (merge, has, get, etc) and seems that it become

[2016-08-09 06:38] arddor opened #468 "Can the values of @computed be changed?"
First, thank you for mobx, it's great.

I'm trying to find the best way to approach my usecase: I have a `matrix` and `vector` which should have the dimension according to `rows` and `columns`:
[code]
When changing `rows` or `columns` the size of `matrix` and `vector` will adjust. However the user can also change the values in `matrix` and `vector` and on increase they should not be overwritten.

[2016-08-09 11:38] mattruby commented on #468
If I understand, yes, you should use computed for rows and columns.  If you
cut a fiddle, I'll double check for you.  Here's a baseline :
https://jsfiddle.net/gh/get/library/pure/mattruby/mobx-examples/tree/master/baseline

On Aug 9, 2016 1:38 AM, "Marc Heimgartner" <notifications@github.com> wrote:

[2016-08-09 15:01] geohuz opened #469 "Best practise for handling ajax errors"
Firstly I want to say many thanks to mobx which is the great state management tool  we have used in the production and we love it! Recently I was thinking of coding a general error handling module for our app. Things like working with axios and react-router, we need to implement an auto redirect upon token expiration to login page, and an error page for user to choose to abort or refetch data if t

[2016-08-09 17:56] #467 closed

[2016-08-10 04:27] jayphelps opened #470 "Rename usage of "observable" to not confuse with TC39 observable"
As many of you are aware of, TC39 (the standards body around the JavaScript language) have [a proposal](https://github.com/tc39/proposal-observable) for adding a new async primitive to the language called an "Observable". The current iteration of the spec has a ton of history outside of JavaScript, but tl;dr is most recently inspired by the [RxJS library](https://github.com/ReactiveX/rxjs), which

[2016-08-10 04:43] jayphelps commented on #470
Perhaps just `@observe` or `@observed` would be sufficiently different? I totally get why it was named it observable.

[2016-08-10 06:12] umphy opened #471 "map.set is very slow compared to map constructor"
I am using React with MobX, where I render a list of items backed by a store with a `map`.

I am fetching a data set of around 2000 objects, where each object has around 30 properties. I then loop through each object and call a `myMap.set(key, value)`. This is very slow, even though it is in a transaction.

Then instead of setting straight into my map, I created a plain JS object, set all the obje

[2016-08-10 08:54] mweststrate commented on #463
note to self: use actions. @jeffijoe yes, it can't be used to change the computed, but it could be used to change the observable behind the computed, e.g.:

[code]

[2016-08-10 08:56] mweststrate commented on #471
Quick question, does using `.merge` improve the performance? Can you share some code about how you update the map?

[2016-08-10 08:59] mweststrate commented on #470
Yep good point, `@state` or `@tracked` might also work (`@observed`  vs `@observer` might be a too subtle difference for the quick reader). Doesn't have to be a breaking change but could also be an idiomatic alias with a decent deprecation message. (note to self: add traces to deprecation messages)

[2016-08-10 09:12] #419 closed

[2016-08-10 09:31] ochervak commented on #471
Interested in this one. I'm using asMap helper from mobx, and iterate collections from backend like issue creator. Is there are any performance measurements comparing to arrays ?

[2016-08-10 10:27] jeffijoe commented on #463
@mweststrate that's what I imagine as well - will that example you posted not work today?

[2016-08-10 15:50] blesh commented on #470
I like `@tracked`, because I feel like the words "observe" and "state" are already everywhere in my code. But that might just be me.

[2016-08-10 16:04] matteoantoci opened #472 "isObservable returns false when using class constructor"
I'm using mobx with ES7 decorators to create stores.

`isObservable` returns false when using class constructor method because the `$mobx` property is delegated to the prototype and `isObservable` tests on own property only.

Is this expected?

[2016-08-10 16:22] andykog commented on #463
That could nicely fit my proposal #421
[code]

[2016-08-10 16:24] andykog commented on #421
Renaming `observable` #470 is good opportunity to change it's behaviour

[2016-08-10 16:45] andykog commented on #469
@geohuz, I think, handling network errors is beyound MobX concern. There is nothing preventing you from changing some flag in your domain store or calling some method if you need this, for example:
[code]

[2016-08-10 16:51] andykog commented on #472
@matteoantoci, yes, your class is not observable object itself. `toJS(myClassInstance)` should fail too.

[2016-08-10 17:58] jayphelps commented on #470
I also think that `@state` is confusing given existing usage in the React community. `@tracked` sounds good. I'll defer to the existing MobX community to bikeshed further. 😄

[2016-08-10 18:13] matteoantoci commented on #472
Of course the class is not the object itself, I mean, objects created with that class have the issue, while toJS works properly. I will post some code as soon as I'm at my laptop. Thanks!

[2016-08-10 18:21] andykog commented on #472
I understand, I was meaning that you class' instances are not observable objects. They aren't inheriting from mobx internal `ObservableObject` class. So this behaviour is expected.

[2016-08-10 19:33] mweststrate commented on #469
I usually do a similar thing, have a store for some globally important information like authentication and also an observable that holds the current error state. If any (unexpected one that is), that is nicely rendered by one of the top level components.

[2016-08-10 19:39] mweststrate commented on #468
Personally I'm not sure whether I would set this up as a derived value, but instead set up the matrix in an action, probably you need some special logic if elements need to be added or removed, and you probably want to retain the current collections as they already might have data in them? So I would personally just introduce a ` setRows` action. Using computed is a bit tricky here as it would nee

[2016-08-10 19:41] mweststrate commented on #465
Have you an example of this? In my experience either (trans)actions or autorunAsync suffices for these cases. Not deferring computations is one of the core principles, it guarantees that you cannot ever observe stale computed values, which avoids a lot of very subtly and hard to debug bugs.

[2016-08-10 19:47] mweststrate commented on #461
I'm aware that this is a useful feature if you are talking about event streams, but MobX observable aren't intended to be used as event streams but as values over time (see https://github.com/mobxjs/mobx/wiki/Mobx-vs-Reactive-Stream-Libraries-(RxJS,-Bacon,-etc)) for some explanation. Values don't "stop", they just are. Or they aren't anymore when they are out of scope, but that is up to the GC. Co

[2016-08-10 19:55] mweststrate commented on #454
Personally I would expect `this.data.meta`  to be setup in the constructor and not change over time for the same Record?

Otherwise you could consider the following options:
1. use createTransformer: `dataTransformer = createTransformer(meta => new RecordAtom(meta)` and call that one from the computed. It makes sure that for the same `meta` object always the same RecordAtom is returned
2. Store th

[2016-08-10 20:16] mweststrate commented on #421
This *magic* behavior of computed functions bothers me for a very long time already. But personally didn't find a more satisfying approach. Just some thoughts

1. I plan to forbid multi arg functions at some point completely, as now you should pass multi args as `action(bla)` to `extendObservable`. `computed()` would be very consistent with that.
2. Thought for a while on introducing a separate `e

[2016-08-10 20:31] mattruby commented on #421
@mweststrate I do like the automatic computed in ```observable``` and ```extendObservable```.  I use that convention often.  In my experience, it has taken others a little while to understand what's going on though.  If things are changing, I'd probably go the same route as ```action``` and ```asMap```: ```mobx.computed()``` would make the most sense to me.  I'd also be cool with```asMap``` to ```

[2016-08-10 20:37] ochervak commented on #471
Suddenly I understand about what @mweststrate talking.
So to fix problems with huge collections and asMap, you probably need to:
[code]
I'm coding from my phone, so sorry to be that short in my thoughts

[2016-08-11 01:51] umphy commented on #471
OK so my original code, which was very slow, is:
[code]
If I change it to constructing a new map, or even using `merge`, it is fast:
[code]

[2016-08-11 09:03] matteoantoci commented on #472
Ok, got it, thanks! I'm closing this.

[2016-08-11 09:03] #472 closed

[2016-08-11 14:46] asterius1 commented on #471
Does this fix it?
[code]
From what I've seen this is how merge/constructor is implemented itself.

[2016-08-11 15:52] winterbe opened #476 "[ReactNative] ListView.DataSource doesn't work with ObservableArrays"
Hi,

I'm currently evaluating MobX to be used with React Native. It seems that `ListView.DataSource` unfortunately doesn't work natively with observable arrays from MobX. I have to create a native array via `toJS()` in order the get the `ListView` show any items.

[code]

I've just started experimenting with MobX but I'm a little concerned that calling `toJS()` for large collections on every rende

[2016-08-11 17:07] asterius1 opened #477 "Desired behaviour of Atom's become(Un)Observed handlers?"
TL;DR: Are Atom's life cycle hooks more for synchronous or asynchronous actions. What are your use cases you wouldn't like to be beaked?

`Atom` main point is to expose hooks to `becomeObserved` and `becomeUnobserved` events.

I am rewriting bunch of mobx core (#452) and it brought me some questions about desired behavior of Atom.
Previously `a` is observed if there is a reaction/autorun deeply de

[2016-08-11 18:24] mweststrate commented on #476
If I remember correctly (not an active RN dev myself) the ListViewDataSource itself can work with observable arrays, but you need to make sure that your `renderRow` is an observer component. (It looks like being part of the `SampleList`, but actually these component callbacks have their own lifecycle. So

[code]

Should do the trick. Let me know if it doesn't :)

[2016-08-11 18:34] mweststrate commented on #477
I think the biggest use case for Atoms is to do subscribe to some (non mobx) observable, like a data base connector, that fires updates as along as we are interested in. I'm currently trying to capture that pattern here in a single utility: https://github.com/mobxjs/mobx-utils/blob/master/src/from-resource.ts. I think that is by far the most important case.

I think all proposed solutions cover th

[2016-08-11 18:38] mweststrate commented on #471
@umphy @asterius1 indeed, sounds like your code is not wrapped in either an `action` or `transaction`

[2016-08-11 19:27] asterius1 commented on #477
Hmmm being able to expose API for checking if observable is depended on by any reaction would be the equally complex to implementing option `2.`

For creating Atom that would run only under reaction it could debounce observation:
[code]
it would make onBecomeObservedHandler be called always outside of batch, hence Atom is kept alive by reaction

[2016-08-11 20:31] gaui opened #479 "Doesn't observe constructed objects"
When creating an observable array and pushing constructed objects (objects created with constructor functions) to it, `autorun` runs. However when I change values on props on those objects, `autorun` doesn't run. It's like the object is no longer observed.

Here's a JSbin with examples. Examples 1,2 and 3 all work (created with object literals). However, 4 and 5 don't (constructor function method)

[2016-08-11 20:43] mattruby commented on #479
http://jsbin.com/jukuku/edit?js,console

Make your Todo properties observable.

[2016-08-11 20:45] gaui commented on #479
@mattruby Thank you. Does MobX automatically make props observable in object literals? Why not also for object constructs?

[2016-08-11 21:19] mattruby commented on #479
For literals: try mobx.observable(whatever)
Check out my mobx examples for more help
https://github.com/mattruby/mobx-examples

On Aug 11, 2016 3:45 PM, "Gudjon" <notifications@github.com> wrote:

[2016-08-11 21:23] andykog commented on #479
@gaui, mobx checks if given object is plain object, so it can be safely converted to ObservableObject. It checks whether its prototype === Object.prototype or null. https://github.com/mobxjs/mobx/blob/master/src/utils/utils.ts#L57 In your case there is a class, so you should manually define observable values

[2016-08-11 21:34] gaui commented on #479
@andykog Thank you for the explanation. However instances of classes can be data transfer objects, so I'm wondering if this should be changed?

[2016-08-11 22:02] andykog commented on #479
I suppose, no. First problems that comes to my mind:
* We don't know what to do with the inherited properties. Copy everything from the whole prototype chain to each ObservableObject?
* It will loose it's prototype, so `observable(Object.create(Promise.prototype)) instanceof Promise` would return false
* Methods, that usually defined on prototype would be lost
* The only way I see to distinguish y

[2016-08-11 22:08] arddor commented on #468
I played around with it and I have to say that it makes more sense to do the changes with an action. I assume to prevent the changes in case of faulty values (e.g. below 0) I can just do `reaction(() => this.rows, rows => if(this.rows > 0){this.setRows(rows)})`? Anyway thank you for the help.

[2016-08-11 22:21] gaui commented on #479
@andykog Fair enough, thank you for your answer. :smiley:

[2016-08-11 22:21] #479 closed

[2016-08-12 01:22] umphy commented on #471
@asterius1 yes that did fix it. What happened was my code snippet was actually called within an AJAX callback, which was itself within a function marked with `@action`. Obviously that `@action` didn't apply to the async AJAX callback. I wonder if this is a common pitfall...? So my code looks something like:
[code]

Thanks guys :)

[2016-08-12 01:22] #471 closed

[2016-08-12 08:35] mweststrate commented on #470
"trackables", `trackable` / `extendTrackable` / `@tracked` (or `@trackable`?) sounds like the best option to me so far. Any better ideas?

[2016-08-12 08:37] mweststrate commented on #471
Yep it is a common mistake. Actually described in the docs ;-). Note that
strict mode prevents this mistake as well as in that case the set would
have thrown an exception.

Op vr 12 aug. 2016 om 03:22 schreef umphy <notifications@github.com>:

[2016-08-12 08:38] mweststrate commented on #468
Yep, (note that (if rows > 0)) would be nicer)

Op vr 12 aug. 2016 om 00:08 schreef Marc Heimgartner <
notifications@github.com>:

[2016-08-12 08:39] mweststrate commented on #477
Sorry I meant a static function that returns true if a reaction is
currently running. Then people can make the choice to ignore or forbid
onBecomeObserve doing something outside of a tracked function.

Op do 11 aug. 2016 om 21:27 schreef Albert <notifications@github.com>:

[2016-08-12 08:40] #390 closed

[2016-08-12 08:43] mweststrate commented on #323
Closing this issue as it tends to become a double administration

[2016-08-12 08:43] #323 closed

[2016-08-12 08:44] mweststrate commented on #319
Closing issue. But PR is still welcome ;-)

[2016-08-12 08:46] mweststrate commented on #199
Nice discussion and there are quite some external links to this. Doesn't need to remain open any longer I think. If somebody feels fur summarizing it in a blog post that would be :100: (I would be too opinionated for that ;-))

[2016-08-12 08:47] #319 closed

[2016-08-12 09:27] winterbe commented on #476
@mweststrate Thanks for your reply. Unfortunately it doesn't work for me. RowRenderer is a function that gets called with the rowData for every element in the underlying DataSource. So my code looks like this:

[code]

I've modified `MyRow` to be an observer but it doesn't make a difference.

[2016-08-12 11:08] Strate opened #480 "Typescript: asMap() is not assignable to variable. defined as ObservableMap"
Look at examle:
[code]
This produces error: Type 'ObservableMap<{}>' is not assignable to type 'ObservableMap<string>'.
As a workaround, I should explicit type `asMap` call as this: `asMap<string>`.
This could work out of the box, if `asMap` has overload without generic like that:
[code]
Would you accept PR with that addition?

[2016-08-12 11:53] mweststrate commented on #480
Sure go ahead. Note that the typings are compiled from the sources

[2016-08-12 11:57] mweststrate commented on #476
Does it not react to changes in the row data, or to appending / remove items to the collection? For the latter you might need `items.slice()` to make sure RN recognizes as  array (difference with `toJS` is that the first makes a cheap shallow copy, and the latter a deep copy, which shouldn't be needed as individual rowData objects are observed by `MyRow`).

cc: @danieldunderfelt

[2016-08-12 12:01] mweststrate commented on #470
Alternatively: `derivable` (from DerivableJS). Or `@mutable` lol :)

[2016-08-12 12:06] danieldunderfelt commented on #476
Hi @winterbe!

I've been using mobx with RN extensively, and I haven't gotten mobx "arrays" to work with datasources either. The reason might be that mobx arrays are really objects and datasource expects an array. I always call `slice` on the array before feeding it to the datasource.

One trick is to create the datasource in a `computed`, so the computed observes the reactive array and returns a

[2016-08-12 13:10] winterbe commented on #476
@mweststrate I don't know if it reacts to changes because the ListView doesn't render any rows at all when calling `dataSource.cloneWithRows(items)` with an ObservableArray instead of a native array. But calling `slice` seems to be a decent workaround, thanks for that!

@danieldunderfelt Using `computed` for the datasources is a great advice, thanks for that! I'm glad to hear people are already us

[2016-08-12 13:10] #476 closed

[2016-08-12 13:50] blesh commented on #470
I still like trackables

[2016-08-12 15:14] jaysoo opened #482 "SSR memory leak when using module-scoped object"
Say I have a store as follows:

[code]

I noticed that when the application is rendered on server-side, the SelectionStore instance cannot be garbage collected due to an event handler still reacting to `DEFAULT_OPTION`.

Is this expected? I'm trying to understand the mechanisms behind this better so I can avoid these types of memory leak in the future.

[2016-08-12 16:14] asterius1 commented on #477
@mweststrate This maybe could be useful in many cases, but the possible scenario then is:
[code]
autorun `a` is being accessed only on first `b` access (`b` then remembers result)
It will never be accessed during reaction, but reaction depends on it.

[2016-08-12 16:15] spiffytech opened #483 "Tell TypeScript API consumers when their objects are observable"
Presently, calling `mobx.observable({})` returns a `T`, and there's no way for my downstream code to assert that it's passed an observable object. Knowing when an object is observable is desirable for e.g., guaranteeing my React components receive objects that will actually mutate my UI when I change them.

My PR uses TypeScript 1.4's union types to change the return type of `mobx.observable()` to

[2016-08-12 16:26] mavericken commented on #167
@josvos What you are asking can be done with a plain observable object if you use this function:
[code]

@mweststrate How opposed would you be to including a function like in mobx?

Despite the challenges, I feel it might be a good idea to at least pick the low hanging fruit on making this easier to do.  While maps are a step forward in many regards, I believe they are a step backwards when it com

[2016-08-12 20:58] mweststrate commented on #482
Note that this will turn `DEFAULT_OPTION` into an observable method, but beyond that this shouldn't leak. The usual suspects for memory leaks are undisposed reactions, intercepts, observes and autoruns. Beyond that everything should be cleaned up nicely.

[2016-08-12 21:28] winterbe commented on #470
Track, watch, listen, subscribe, spy, guard, audit, peek, glue, monitor, hunt, crib, hook, stick, chase.

[2016-08-13 14:17] #468 closed

[2016-08-14 15:47] mweststrate commented on #477
heh nice one. so maybe we should not provide this distinction and just apply strategy one. I want to try work towards a merge and release next days (with a beta first). I'll gonna merge this into a separate branch and give you access to the repo that should make collaboration easier

[2016-08-14 19:58] asterius1 commented on #477
Then I'll quickly finish up implementing first solution and update PR before you merge

[2016-08-15 02:43] timothyallan opened #485 "@computed returning JSX/Components?"
All the examples I've seen have ```computed ``` returning simple strings/values etc... I've got a map function that returns a React component which is always the same if the props don't change. Will ```computed``` handle/memoize this result, or is there a better/other way to do this in mobx?

[code]

[2016-08-15 09:10] mweststrate commented on #485
I experimented with this one time, by using a transformer (similar to computed) to cache the components that are rendered for each list item. That worked but didn't give big performance gains in my case (it was faster, but only 10%), as the expensive part for react turned out to be the reconciliation, and not the construction of the components. React seems to reconcile even if it gets the same ins

[2016-08-15 10:31] liady commented on #300
@mweststrate how do you unit-test a component that observes usinh this mechanism? It throws an error since it expects one of its ancestors to be wrapped with 'provider', but I'm rendering only it directly in the test

[2016-08-15 10:42] mweststrate commented on #300
@liady wrapping with provider is not required if all requested stores are passed in as normal props to the injected component.

[2016-08-15 10:50] liady commented on #300
@mweststrate sorry, I was unclear in my question.. Hope I can clarify.
I do have a Provider wrapping my App component, and deep inside this App I have a Button component that gets the store via the decorator -  @observes(['uiStore']).
When I'm unit testing only  this Button, I'm only rendering it in the test (as a standalone component). However, it fails since it expects a store to be passed from

[2016-08-15 15:22] urugator commented on #421
It's not possible to use them as such, because they become a getter (computed prop).

In that case, I think there is no point in prohibiting multi args functions. When ```computed``` would be required, than ```asReference``` would make sense to be the default for any function.

If ```@computed``` must be accompanied with ```get```, why don't we auto convert only getters (instead of argumentless fu

[2016-08-15 15:58] jaysoo commented on #482
Okay, we don't have any dangling subscriptions AFAIK, but will dig in deeper. You can close this issue for now.

[2016-08-15 16:24] #482 closed

[2016-08-15 17:39] fenduru opened #486 "mobx.observe does not call callback when computed property changes"
I am trying to create an object that has a number of computed properties on it, and I would like to observe whenever any of the computed properties change using `mobx.observe(obj, callback)`. This works fine if I explicitly pass the propertyName argument, however not if I try to observe the parent object itself.

I do see the docs mention that `observe(obj.name, callback)` is different than `obser

[2016-08-15 18:33] mweststrate commented on #300
@liady manually providing a prop `uiStore` should supress that error, so something like:

`React.createElement(Button, { uiStore : getSomeUiStore(), ...other props })` or `<Button uiStore={getSomeUiStore()} ... />`. In that case `@observer["uiStore"]` should grab the uiStore from the props instead of looking for the store that is provided by a `Provider`

[2016-08-15 19:58] hellectronic commented on #486
I never used `observe()`, but I would not expect the second "no property: " output.
You are not changing obj if you call `bar.set()`

[2016-08-15 21:17] fenduru commented on #486
I understand your point. I guess I just find it odd that `observe(obj, callback)` observes all non-computed properties rather than all of the properties.

[2016-08-16 08:21] hellectronic commented on #486
`observable()` makes every property in the obj oberservable

That is why setting `obj.foo = 2;` fires

[2016-08-16 12:44] panjiesw commented on #338
Hi,
I don't mind about having to invoke private `@action` decorated function or just using `runInAction` in constructor, but I do mind about seeing bunch of noises I don't need in the devtools, just like @testerez mentioned above. Imagine having to construct list of instance from JSON received from some API server.

Is there any approaches to suppress the devtool to log state mutation in a constru

[2016-08-16 15:45] Haemoglobin commented on #338
Yep, agree with logging noise issue, I do exactly that, populate a grid of rows with 100's/1000's records from the API, each causing mobx to log the state mutations from the constructor when I construct the objects for each row. Makes it harder to find the more useful logs.

[2016-08-16 15:49] mattruby commented on #338
Not sure if this will help, but in chrome dev tools you can filter console
messages:
https://developers.google.com/web/tools/chrome-devtools/debug/console/console-ui?hl=en#filtering-the-console-output

On Tue, Aug 16, 2016 at 10:45 AM, Haemoglobin <notifications@github.com>
wrote:

--
-Matt Ruby-
mattruby@gmail.com

[2016-08-16 15:54] panjiesw commented on #338
thanks for the reminder of chrome console filter @mattruby !
I'll use that for the time being.
Still, I'd still prefer mobx builtin feature for this, if possible :smile:

[2016-08-17 08:35] winterbe opened #490 "Autorun doesn't trigger when calling actions"
Hi,

while experimenting with MobX I've encountered an issue when calling actions from autorun.

I've set up a jsfiddle to demonstrate the scenario: https://jsfiddle.net/o0j1115z/1/

In this example when you click on the checkbox, the value of `controls.flag` change. I would expect method `loadMessage` to get called via `autorun` but that's not the case. However if you remove `@action` from method

[2016-08-17 08:42] mweststrate commented on #490
This is the expected behavior, actions are [untracked](http://mobxjs.github.io/mobx/refguide/untracked.html). The idea behind that is that actions are intended to modify state, so having them reacting to state changes as well might quickly lead to unwanted loops. The pattern above is typically expressed using `reaction` where the data to be tracked, and the side effect reacting to that data are cl

[2016-08-17 09:39] winterbe commented on #490
Thanks for the hint. I guess I missed the `untracked` part about actions.

I've updated the jsfiddle to use `reaction` instead of `autorun`:

https://jsfiddle.net/o0j1115z/4/

It works as expected, however using this function as first parameter to `reaction` doesn't seem to work: `() => this.controls`. I guess it's because `this.controls` doesn't get dereferenced so I have to explicitly access `fl

[2016-08-17 09:39] #490 closed

[2016-08-17 21:26] Yaakov-Belch commented on #49
Thanks for having a permanent `untracked` feature.  I am using it in my application now...

[2016-08-17 22:27] mweststrate commented on #49
Yeah I just noticed that that message is accidentally still in the docs,
should have been removed a long time ago :)

Op wo 17 aug. 2016 om 23:26 schreef Yaakov Belch <notifications@github.com>:

[2016-08-18 04:20] usergit commented on #199
@mweststrate It would be great to leave it open so others can chime in as the community grows

[2016-08-18 08:07] Strate opened #492 "Support contract for classes, which can be self-converted into observable structures."
It would be nice if mobx will check for existence of `toMobxObservable` method on a value and call it for observable variant of that value.
This would be useful for applications, which have a custom data structures, which could be used as non-observables too (in my applications, I have a custom `List`, `Map`, `Set` and other structures). Sometimes I need them as non-observable, but if they come in

[2016-08-18 11:49] robclouth opened #493 "Best way to sync store with a c++ library?"
One way would be to have a load of autoruns that watch specific observables and when they change, call a specific function in c++.
E.g.
[code]
But since the store is pretty huge and would need a lot of autoruns, is there way of having a single autorun-like thing tracking a bunch of observables that tells you what has changed, so that you can call an appropriate function on c++ bridge?

[2016-08-18 11:58] robclouth commented on #493
Oh wait, observe is what I want I think. Closing.

[2016-08-18 11:58] #493 closed

[2016-08-18 15:57] jmaguirrei commented on #84
@darko-mijic @timeyr I am having more reactions than needed, I think maybe you already dealed with that.

I have a collection named Meetings in Meteor (Mongo) with this structure:

[code]

I am subscribing to the whole document only when user had selected 1 meeting_id.
So I am using autorun from https://github.com/meteor-space/tracker-mobx-autorun to observe changes and update the Store:

[code]
E

[2016-08-18 16:39] mattiamanzati commented on #492
I think that better solution would be to implement `Symbol.observable` on that custom data structure, and once #169 will be implemented, that would solve the problem and also provide ES7 interop!
We need to wait! :)

[2016-08-18 17:29] darko-mijic commented on #84
@jmaguirrei: I will take a look at your post tomorrow.

BTW, have you seen new API with live query support?
https://github.com/meteor-space/tracker-mobx-autorun/pull/10

https://github.com/meteor-space/tracker-mobx-autorun/blob/87a7f7f4e30b3370e4600c0473c3c9974827c1e3/README.md

[2016-08-18 17:47] jmaguirrei commented on #84
@darko-mijic Yes, I knew about it today hoping to help me with my issue.
If you think this could help in my case, I can give it a try tomorrow.
Still I'll appreciate your feedback first about my code :)
Thanks

[2016-08-18 19:30] mweststrate commented on #485
Closed the issue as I think the question is answered? Otherwise feel free to re-open

[2016-08-18 19:30] #485 closed

[2016-08-18 19:31] mweststrate commented on #199
Reopened :)

[2016-08-18 19:34] mweststrate commented on #477
I think this issue can be closed now?

[2016-08-18 19:34] mweststrate commented on #469
Closing the question. Feel free to re-open if things are unclear

[2016-08-18 19:34] #469 closed

[2016-08-18 19:35] #465 closed

[2016-08-18 19:35] #461 closed

[2016-08-18 19:35] mweststrate commented on #461
Closing for now, feel free to re-open if anything needs to be added

[2016-08-19 05:07] #477 closed

[2016-08-19 07:11] danielbrodin commented on #191
@mweststrate @andykog I just did this in a project using mobx 2.4.3 at the moment, and it still breaks. Any idea how it can be fixed?

[2016-08-19 07:34] ochervak opened #494 "Examples of testing mobx stores with async actions"
Can you provide example (best practice) to write unit-tests for MobX store.
for example:

[code]

How should i unit test this store?
of course i mock my API bridge, however what should i use to check my 'data' hashmap.
thanks in advance

[2016-08-19 09:32] smikulic opened #495 "observable object assignment, properties.hasOwnProperty"
I discovered an issue when trying to assign observable object with some key value pairs to an empty observable one (they both contain "$mobx: ObservableObjectAdministration").

So, this is the object I'm trying to update:
`@observable filter = {};`

and the function which after updating
[code]
disregards the assignment and shows this error:
`Uncaught TypeError: properties.hasOwnProperty is not a f

[2016-08-19 10:01] asterius1 commented on #495
Couldn't reproduce.
For me everything behave as you would expect at the beginning.
Could you link a fiddle or something showing error?

[2016-08-19 13:50] vonovak opened #496 "toJSON legacy"
probably should be toJS
https://github.com/mobxjs/mobx/blob/master/src/types/observablearray.ts#L384

[2016-08-19 15:02] jmaguirrei commented on #84
@darko-mijic I think the thing is that in this piece of code:

[code]

The variable `myMeetingInfo` changes after any part of the document in Mongo changes (for example a content in agreement number 2), so **autorun** fires the mobx **action** that updates all observable values in the store:

1. MeetingStore.myMeeting_agenda
2. MeetingStore.myMeeting_agreements
3. MeetingStore.myMeeting_commitment

[2016-08-19 17:42] mweststrate commented on #470
Hmm.. should `observer`  be renamed to `tracker` or `tracking` in such cache? Or just `reactive` :see_no_evil:

[2016-08-19 17:44] mweststrate commented on #421
@urugator sorry you're right. Thought about it, I think the current behavior should indeed be deprecated, as in unexpectly 'breaks' the type of an assignment, especially in less obvious cases like:

[code]

[2016-08-19 18:47] hellectronic commented on #397
@hustcer had the same issue. Do a `npm install svgexport -g` and then try again.

[2016-08-19 19:13] blesh commented on #470
Tracker. Reactive is a higher level concept.

[2016-08-19 20:19] jeffling commented on #373
Sorry for huge delay in response. Yes, confirmed fixe :)

[2016-08-20 12:50] tweakmy opened #497 "@action decorator method when trigger could not see member properties"
I am having a very weird issue where when the method is fire, it could not see the 'this.props' or any member which was declared in the class. I have console.log the behaviour and inspect the object `this`, it does not carry over the this.props or `firstname`. I m sure this is not the intention. But, if I removed the @action decoractor, then it would work like normal. At the moment, I am lost of h

[2016-08-20 12:51] tweakmy commented on #497
npm list
├── actions@1.3.0
├─┬ babel-core@6.13.2
│ ├─┬ babel-code-frame@6.11.0
│ │ ├─┬ chalk@1.1.3
│ │ │ ├── ansi-styles@2.2.1
│ │ │ ├── escape-string-regexp@1.0.5
│ │ │ ├─┬ has-ansi@2.0.0
│ │ │ │ └── ansi-regex@2.0.0
│ │ │ ├─┬ strip-ansi@3.0.1
│ │ │ │ └── ansi-regex@2.0.0
│ │ │ └── supports-color@2.0.0
│ │ ├── esutils@2.0.2
│ │ └── js-tokens@2.0.0
│ ├─┬ babel-generator@6.11.4
│ │ └─┬ detect-inden

[2016-08-21 06:18] winterbe commented on #470
I like `@listen` and `@listener` or `@watch` and `@watcher`. It's short and less verbose to type than @...able.

[2016-08-21 11:21] urugator commented on #421
@mweststrate Actual prop descriptor, obtained by ```Object.getOwnPropertyDescriptor()```
[code]

[2016-08-21 12:05] andykog commented on #421
@urugator, detecting and turning getters into computed value is awesome idea, by the way! And it resolves another issue of turning getter into static observable value.

[2016-08-21 12:28] andykog commented on #497
@tweakmy, could you try following code as your app entry point. Click anywhere, do you see “Everything ok”? Could you provide your .babelrc?
[code]

[2016-08-21 12:43] andykog commented on #495
@smikulic, what mobx version are you using? Is the following code works ok in you environment? What is you babelrc config?
[code]

Does it works ok without `@observable` decorator?
[code]

[2016-08-21 12:46] AzizAK commented on #476
Hello, @winterbe and @danieldunderfelt could anyone show me example how to use mobx with react native.

[2016-08-21 13:06] andykog commented on #494
@ochervak, you mean, how to check if your 'data' is correct? You can use something like
[code]
[Other Map method](http://mobxjs.github.io/mobx/refguide/map.html) can be also handy.

[2016-08-21 13:11] mweststrate commented on #494
@ochervak I use `when` a lot in my unit tests to run the assertions at the proper moment (currently writing a blog post with some examples), but basically:

[code]

[2016-08-21 13:30] andykog commented on #370
@iam-peekay, class body can't contain function calls. Only methods (and properties) declarations. You should use it like this:

[code]

[2016-08-21 14:43] winterbe commented on #476
Nothing special about Mobx with ReactNative. Just make sure to import
observer/native from mobx-react. And you have to call `slice` on observable
arrays before passing to List view data source.

Here's a starting guide:

https://medium.com/@dabit3/react-native-with-mobx-getting-started-ba7e18d8ff44#.uge82y49s

Am Sonntag, 21. August 2016 schrieb Abdulaziz Alkharashi :

[2016-08-21 14:53] rossipedia commented on #470
+1 `@watch` and `@watcher`

[2016-08-21 15:14] andykog commented on #410
Oh, something terrible is going here https://github.com/facebook/react-devtools/blob/2b72f2b53db28284e84fdfeff23610b7e11421a9/agent/Bridge.js#L376-L391
(`val` is `ObservableArray`)
I don't think, I'm able to fix this

[2016-08-21 15:38] andykog commented on #410
We can add something like `if (this.__proto__ === StubArray.prototype) { return undefined; }` in item and length getters, but you won't see array items this way, so this makes no sence

[2016-08-21 20:50] ochervak commented on #494
@mweststrate many thanks! i think issue can be closed

[2016-08-22 04:33] tweakmy commented on #497
.babelrc
[code]

[2016-08-22 05:14] tweakmy commented on #497
@andykog I have tried on the entry file, no problem. But the moment, I tried to incorporate the same thing on the child element, I got `undefined`.

 I have created a repo so that you can see the whole code

[code]

[2016-08-22 07:01] andykog commented on #497
@tweakmy,`react-hot-loader@1.3.0` is braking your app. `react-hot-loader@3.0.0` should fix this problem but may introduce another one (don't know for sure).

To not deal with that, I, personally, just manually accept hot updates like this:
[code]
(FullApp is main component, so the app is being re-rendered on any component change. The page does full reload on stores or something other change)

[2016-08-22 07:06] andykog opened #498 "HMR"
There seems a lot of problems, with [react-hot-loader](https://github.com/gaearon/react-hot-loader) (#497, #439, #329 #366), especially for people, coming from redux
It would be nice to discover some working HMR mechanism and add a note to the docs.

[2016-08-22 08:41] smikulic commented on #495
@andykog
these are my current mobx packages:
[code]
and babelrc:
[code]

and yea, I've added the component you suggested to my app and it seems to be working flawlessly=) So I will try to apply this to my implementation

Thanks for taking the time!

[2016-08-22 09:18] andykog commented on #495
@smikulic, you mean, its working without `extendObservable`? Then it's not decorator issue, might be something wrong with your code... Say, when you will have found out.

[2016-08-22 09:27] ochervak commented on #494
Now my test looks like:
[code]

But there is a problem:
[code]
So i need to wrap my assertions to `setTimeout(()=>(), 0)` to escape from mobx try\catch scope.

Can i fix this test without this ?

[2016-08-22 11:17] tweakmy commented on #497
Confirm `temporary` fixed for my issue.

[2016-08-22 12:02] tweakmy opened #501 "autorun is not firing"
So, not sure I have a wrong understanding of autorun

[code]

I am expecting autorun to be fired everytime store changes.

[code]
But when drag even happened, it is not firing the console.log. HMR again!!??

Source code available:
https://github.com/tweakmy/redux-convert-to-mobx.git
in branch: mobx

[2016-08-22 12:17] andykog commented on #501
@tweakmy, nope, you are using `store.box` in autrorun, and it was never chenged
[code]
so autorun is not firing.

You can use `observe(store.box, change => console.log(change))` if you're interested in all changes inside box object.

[2016-08-22 12:25] tweakmy commented on #501
Thanks, that will do. I think I know what is the problem, is my understanding with const. Thanks for pointing out the obvious.

[2016-08-22 12:26] mweststrate commented on #501
Make sure to read: http://mobxjs.github.io/mobx/best/react.html. It should make it pretty clear what MobX will react to and what not (and why that makes sense)

[2016-08-22 12:28] mweststrate commented on #498
Some things / fixes / workarounds are described here: http://mobxjs.github.io/mobx/best/stateless-HMR.html. But HMR definitely deserves a topic on its own. Also there is the difference between hot reloading components and hot reloading stores (the last one is hard / impossible to solve generically, but can be done like in here: https://github.com/mobxjs/mobx-reactive2015-demo/commit/ccc7e0e274653c

[2016-08-22 12:32] mweststrate commented on #494
@ochervak ah, I always use tape which doesn't throw on failed assertions :) In principle you can ignore the error, it's just a warning. I'll think about a proper solution for this!

[2016-08-22 14:09] mweststrate commented on #501
Closing issue as question seems answered. Feel free to reopen if needed

[2016-08-22 14:09] #501 closed

[2016-08-22 14:10] #497 closed

[2016-08-22 14:19] Strate opened #502 "extendObservable fails on object, created with Object.create(null)"
`extendObservable` fails on object, created with `Object.create(null)` wsith error:
[code]
Seems that lib should use `Object.prototype.hasOwnProperty.call(object, ...)` trick.

[2016-08-22 14:23] Strate opened #503 "Typescript: make ObservableMap assignable to ES6 Map"
As for now, `ObservableMap<T>` is not assignable to ES6 `Map<string, T>`, due to incompatibles of some methods, at least because:
[code]
It sould be good to make `ObservableMap` interface be compatible to Map, for refactoring purposes.

[2016-08-22 17:29] urugator commented on #470
All those words are so generic and used in so many different libraries and contexts. Use the words that best describe what's happening and introduce namespacing if neccessary.

I am not a fan of "track", I feel like there is a subtle difference in the meaning, which doesn't fit into MobX context as good as "observe".
To me, the word "track" has some continuity in itself (in terms of time or space)

[2016-08-22 18:09] winterbe commented on #470
You've just accidentally introduced a new candidate: @detect (for
observable) + @react (for observer). 😎

Am Montag, 22. August 2016 schrieb urugator :

[2016-08-22 18:13] GuillaumeLeclerc commented on #142
It would be very good to have it without having to wrap all the elements

[2016-08-22 18:35] GuillaumeLeclerc opened #504 "[Feature Request] Bind Observables"
Hello,

What do you think about binding/piping an observer to another ? Would it be hard.

I was trying to implement it myself but since the `observe` callback arguments are different for each type I fear I will miss some cases.

Example:

[code]

[2016-08-22 18:37] bgnorlov opened #505 "Error on accessing prototype's properties"
I am having a very weird error when tried to bind all methods in constructor -"TypeError: Cannot read property 'get' of undefined error inside this.$mobx.values[name].get();. The error only happens when I tried to create second instance of different class
Demo - https://jsbin.com/pevoreyobi/1/edit?html,js,console,output
[code]

[2016-08-22 19:13] andykog commented on #505
Cleaned up version, representing the bug: https://jsbin.com/wudezul/edit?js,console

[2016-08-22 19:39] andykog commented on #505
Cleaned up version, representing the problem: https://jsfiddle.net/Sl1v3r/8f8zmtu5/

@bgnorlov, I think, you shouldn't use `Object.getOwnPropertyNames` for superclass, that you know nothing about. Properties are being made not-enumerable not just for fun. This code will thow as well:
[code]

I wouldn't call this a bug, although fixing this would be nice.

[2016-08-22 19:43] iam-peekay commented on #370
@andykog thank you! :)

[2016-08-22 19:45] andykog commented on #505
Ok, I thought a bit more, and I think it can be called a bug :-)

[2016-08-22 22:44] DsMaccy opened #506 "There"
In documentation under the spy method:  "Spy listeners always receive one object, which has at least a type field."

This is not true.  Some of the objects will only have a property "spyReportEnd" and sometimes these objects will also have a "time" property.  Please either correct this behavior or document what it is/means.

![image](https://cloud.githubusercontent.com/assets/8063098/17874209/0056

[2016-08-22 23:50] urugator commented on #470
@winterbe @detect is confusing because it can be used for observer, observer **detects** the changes of observable...
@detectable is better, but what does it mean that object is detectable? It doesn't make much sense...

What about:
**@stateful**
**@stateAware**

[2016-08-23 05:34] mweststrate commented on #506
You are correct, I'll update the docs. A spyReportEnd is emitted to indicate the end of a nested group and always has a matching group with `spyReportStart`

[2016-08-23 05:44] #506 closed

[2016-08-23 05:46] mweststrate commented on #504
Can you describe your use case for this? The idiomatic way to have one observable value synced with another  is using computed values.

[2016-08-23 05:47] mweststrate commented on #503
Good point. I'll update it

[2016-08-23 05:51] #503 closed

[2016-08-23 06:54] mweststrate commented on #496
Thanks, just updated, will release soon

[2016-08-23 06:55] #496 closed

[2016-08-23 07:02] #502 closed

[2016-08-23 07:03] mweststrate commented on #502
Thanks! will be fixed in next release

[2016-08-23 07:06] JakeCoxon opened #507 "Nesting observables"
[code]

In this example both messages and users are internally an observable value, but users has been made a getter and setter. I have to write `state.messages.get()` but I'd rather have the symmetry to do `state.messages`.

I can fake it for now with a custom getter but I don't like doing this

[code]

Can I write a custom modifier like `messages: asSomething(fakeLoadData())`? I'm not sure of th

[2016-08-23 09:09] mattiamanzati commented on #507
Uhm, I don't know much about asXXX() modifiers, but I have used getAtom() in the past to avoid this problem! :)

https://jsfiddle.net/8f8zmtu5/4/

[2016-08-23 09:18] mweststrate commented on #507
Note that since you return the data before passing the outer object through `observable`, you can rely on the recursive nature of `observable`:

[code]

Note that the fields have to be declared upfront (or use map) (and that this approach doesn't work for arrays).

Personally I would set it up as:
[code]

[2016-08-23 09:48] mweststrate commented on #370
@iam-peekay  Not closing, your question was not the original question ;-)

[2016-08-23 10:02] mweststrate commented on #142
@GuillaumeLeclerc note that `intercept` can now be used as alternative setter

[2016-08-23 10:52] urugator commented on #470
I just found out this issue #169 and I am a little bit confused.
Aren't we saying "let's be compatible with T39" and "let's change the nomenclature, because we are not compatible with T39" at the same time?

[2016-08-23 12:54] GuillaumeLeclerc commented on #504
Hello,
Our use case is quite simple. We have a global configuration state. We have a lot of components reading the global configuration. But the user may want to unbind the settings for some components, change them and eventually re sync with the global settings.
I implemented a simple bind function doing this that does not support set. But I will try with intercept. 
Thanks

-------- Message d'or

[2016-08-23 14:58] mweststrate commented on #505
I'm very doubtful whether this can be fixed if I understand the problem correctly. The problem here is that the super class uses properties that are not instantiated yet, because super constructores are applied before subclass constructors.

Due to the nature of decorators, this means that the property initializers of the properties are not called yet, although the are already declared on the clas

[2016-08-23 15:01] mweststrate commented on #504
Did you check the `createViewModel` function from mobx-utils? It sounds like a quite similar problem:

https://github.com/mobxjs/mobx-utils#createviewmodel

[2016-08-23 15:05] andykog commented on #505
@mweststrate, how about adding checkings in decorator implementation:
[code]
I suppose it can prevent errors from being thrown?

[2016-08-23 15:08] mweststrate commented on #470
@urugator there is a difference between having interoperability with TC39 observables and being TC39 observables.

For example suppose you create the following `var x = mobx.observable({ y: 5 })`. In principle there are two things that can be `observed` (with MobX.observe) here: `x` itself, and `x.y`. However introducing a `subscribe` method on either of them is trouble some, on `x` because it mig

[2016-08-23 15:12] mweststrate commented on #505
Not sure, it could help, or add to the confusion. Because this way you
don't get the expected value either, although the behavior could be called
more consistent; always return undefined on not yet initialized properties
instead of throwing. Not sure actually the above check is correct here?
because I think in the example `this` === `instanceof Subclass`?

Op di 23 aug. 2016 om 17:05 schreef Andy

[2016-08-23 15:15] andykog commented on #505
@mweststrate, oh, you are right

[2016-08-23 15:31] mweststrate commented on #505
Hmm we could just xheck if something is there
Op 23 aug. 2016 5:15 p.m. schreef "Andy Kogut" <notifications@github.com>:

[2016-08-23 15:32] andykog commented on #505
Yep

[2016-08-23 15:34] mbriggs opened #508 "Question: computed "search" methods"
So lets say I have something like

[code]

Is there any way to have a computed property that searches for the first active item? Something like

[code]

I realize this doesn't work because active doesnt actually get called on the initial run, so the observable never gets reported. I'm wondering if there is any way i could restructure that kind of idea that would work in the mobx paradigm.

[2016-08-23 15:51] mattruby commented on #508
Check this out: https://jsfiddle.net/28rjqk5d/1/

Hit me up on https://gitter.im/mobxjs/mobx if you need more help.

On Tue, Aug 23, 2016 at 10:34 AM, Matt Briggs <notifications@github.com>
wrote:

--
-Matt Ruby-
mattruby@gmail.com

[2016-08-23 15:56] mbriggs commented on #508
awesome, thanks

[2016-08-23 15:56] #508 closed

[2016-08-23 18:15] mweststrate commented on #505
Tried to reproduce, see above commit, but I think I missed the point as these tests succeed

[2016-08-23 18:20] #480 closed

[2016-08-23 18:41] dydx opened #509 "@computed and observers/observables question"
Heya,

I have what I hope is a simple problem after trying to run the example(s) given in the first few Egghead.io videos.

I scaffolded out a project with `create-react-app` and ejected it to modify the `babel` config to include `babel-plugin-transform-decorators-legacy` and re-wrote the `index.js` file to mimic the examples in the videos.

It seemed to work fine until the `@computed` decorated w

[2016-08-23 18:43] mweststrate commented on #505
released candidate `mobx@2.4.3-fix505`, which might fix it, but I didn't get the above JSBin not working (in the babel compilation phase, I have that issue more often?). The possible fix can be found in the above branch

[2016-08-23 18:45] mweststrate commented on #509
can you share your  `babelrc` config? note that it is pretty important to have `plugin-transform-decorators-legacy` upfront

[2016-08-23 18:50] mweststrate commented on #410
K, sounds like we can close it for now :'( ?

[2016-08-23 18:50] #410 closed

[2016-08-23 18:50] dydx commented on #509
Oh man! That made everything work perfectly.

Here was the old version of my `babel.dev.js`:

[code]

I moved the decorators plugin to the front of the the line and restarted my dev server and it worked.

Thanks for being so quick!

[2016-08-23 19:01] andykog commented on #505
You have to uncomment one line to get the error in jsbin

[2016-08-23 21:49] ronag opened #510 "An uncaught exception occurred while calculating your computed value..."
Please, print the uncaught error when logging this error. Currently it's very difficult to debug.

[2016-08-23 21:55] andykog commented on #510
@ronag, mobx doesn't catch any errors. If you don't see it, than, you code may catch it (inside Promise, for example). See https://github.com/mobxjs/mobx-react/issues/83, #469 for details

[2016-08-23 22:04] #509 closed

[2016-08-23 22:11] #510 closed

[2016-08-23 22:59] urugator commented on #470
@mweststrate I got the point, but I don't think that arguments are entirely valid:

Handling primitives:
```let a = mobx.observable(5);``` boxed
```let a = Observable.from(5);``` boxed

Handling structures:
```let a = mobx.observable([1]);``` converted into observable
```let a = Observable.from([1]);``` converted into observable

Handling object properties:
```mobx.observe(x.y, onChange)``` not po

[2016-08-24 03:22] GuillaumeLeclerc commented on #504
I will thanks.

I think we can close this. If it needs to be implement it's definitely not in the core library.

[2016-08-24 03:22] #504 closed

[2016-08-25 03:52] dreambo8563 opened #512 "warning on ssr forceUpdate(...): Can only update a mounting component."
## warning:
`
Warning: forceUpdate(...): Can only update a mounting component. This usually means you called forceUpdate() outside componentWillMount() on the server. This is a no-op. Please check the code for the Home component.
`
## reproduce steps
- install my repo which already integrate with mobx & react start kit (https://github.com/dreambo8563/RSK)
- find the route of home page

## code
- t

[2016-08-25 11:52] mweststrate commented on #470
@urugator hmm these are very interesting points indeed. Would it be confusing if an `mobx.observable` always contains a value, but if you subscribe to it, you won't get that values directly in your subscriber, but events? (like an array splice, just like `observer`). Probably that is ok.

[2016-08-25 15:05] urugator commented on #470
@mweststrate Yea, the question is, what should be produced by observable for it's subscriber... the changed value (which is actually observable itself) or change event?
I would go for events, because they're more descriptive and versatile.
The ```mobx.observe``` basically produces events even now, because it never produces just a single value (even though the "event" is flattened into arguments).

[2016-08-26 12:56] MovingGifts opened #513 "Nested action not returning true/false, breaks form validation?"
I am doing some simple validation and exiting the function on any missing fields, or if all is good with the form proceed to the company page:

[code]

So the problem is the handleCompanyLogoServerValidation-callback, nested action, does NOT return the false/true to the validCompanyLogo, instead, validCompanyLogo is undefined, so the handleCompanyFormValidation does not work correctly and we don't

[2016-08-26 14:41] gamtiq opened #514 "Several typos in "MobX Api Reference" documentation page"
There are several typos in [MobX Api Reference](https://mobxjs.github.io/mobx/refguide/api.html):

[2016-08-26 15:35] gamtiq opened #515 "Add MobX into JSPM registry"
It would be useful if MobX and MobX-React were added into [JSPM registry](https://github.com/jspm/registry) (see also [here](http://jspm.io/)).

[2016-08-26 16:59] mweststrate commented on #515
@capaj :) ?

[2016-08-27 06:57] capaj commented on #515
You can install it with `jspm i npm:mobx`. I will add it though. It will save jspm users a bit of typing.

[2016-08-27 07:55] mweststrate commented on #513
@MovingGifts The problem you are describing here is not a bug, it is how Javascript fundamentally works. The callback of `superagent` is asynchronous, in other words, the result of `handleCompanyLogoServerValidation` is the result of invoking `end` itself, not the result of the function you pass into it (which will not be executed immediately but at some point far in the future), because unlike ma

[2016-08-27 10:51] monfera opened #517 "ReferenceError: exports is not defined"
When including minified MobX from [CDN](https://cdnjs.com/libraries/mobx) as a script in a HTML page, this error is raised. It is true both for the current version (linked above) and the [RC](https://cdnjs.com/libraries/mobx/2.5.0-rc1). Could the build be universal so that it can be simply loaded on a mockup without `browserify` or similar scaffolding?

[2016-08-27 10:54] monfera commented on #517
.. nevermind, I should have used the UMD build, didn't scan that far :-)

[2016-08-27 10:54] #517 closed

[2016-08-27 12:41] evilj0e opened #518 "Wrong link on GitBook"
I've got list item `8. Donate` on the sidebar with link `https://mobxjs.github.io/mobxjs.github.io/mobx/donate.html`, but it's 404 page.

Fix it, please.

[2016-08-27 20:44] MovingGifts commented on #513
@mweststrate Thank you for getting back.

Would you be able to modify my code to show how it would work?

[2016-08-27 21:03] demoritik commented on #300
@liady most test examples i met manually pass store as props. It will ensure that component works properly without any concern about his environment

[2016-08-27 22:10] demoritik commented on #300
Can some one link any example of using Provider? i got strange error while implementing `onlyChild must be passed a children with exactly one child.`

[2016-08-27 22:33] mweststrate commented on #300
Pass only one component into it.  Wrap with a div for example if needed

Op zo 28 aug. 2016 00:10 schreef Pavel Poberezhnyi <notifications@github.com

[2016-08-28 09:14] demoritik commented on #300
thanks for such rapid solution! i'm very happy with this approach

[2016-08-29 06:10] pauldotknopf opened #520 "Multiple instances of classes with observables?"
I have a ES6 class that has some observables on it. I used it to store component-level state (in react) that should be deleted and re-created every time the component is re-mounted.

[code]

I was able to verify this by creating a new ```LoginFormState```...

[code]

...and then binding my inputs to the ```test``` variable.

[code]

With this change, everything behaves normally, which tells me tha

[2016-08-29 06:27] mweststrate commented on #520
1. can you share your .babelrc settings?
2. are you sure you are actually remounting the LoginForm?

[2016-08-29 06:29] mweststrate commented on #520
This might also relate to HMR https://github.com/mobxjs/mobx/issues/439, make sure to use `"react-hot-loader": "^3.0.0-beta.2",` or higher

[2016-08-29 06:59] pauldotknopf commented on #520
```.babelrc``` :

[code]

I am not using HMR.

If it helps at all, also, here is my ```Form``` components/decorators.

[code]

I am sure that the ```LoginForm``` is remounting. ```componentWillMount``` and the constructor is called each time I visit the login page via the client (```react-router```).

[2016-08-29 07:06] mweststrate commented on #518
On which page did you encounter this link? The link seems to be correct if I look here: http://mobxjs.github.io/mobx/

[2016-08-29 07:09] andykog commented on #518
@mweststrate try with https :-) https://mobxjs.github.io/mobx/

[2016-08-29 09:14] mweststrate commented on #518
hmm somehow gitbook turns `https://bla` into `https:/bla`

[2016-08-29 11:08] RainerAtSpirit opened #521 "mobx and create-react-app"
It would be great to see an example that works with `create-react-app` without having the need to `eject` immediately in order to support the babel `transform-decorators-legacy`.
Looks like `create-react-app` won't support legacy plugins (https://github.com/facebookincubator/create-react-app/issues/214) so it might be worth demonstrating using mobx with the OOTB `create-reach-app` configuration in

[2016-08-29 11:35] #518 closed

[2016-08-29 12:02] mweststrate commented on #514
Note that there is an edit document button on top of each documentation page  ;-)

[2016-08-29 12:03] #514 closed

[2016-08-29 12:04] #515 closed

[2016-08-29 12:05] mweststrate commented on #507
@JakeCoxon did the above answers solve your issue? If so please close it :)

[2016-08-29 12:28] #507 closed

[2016-08-29 12:44] #505 closed

[2016-08-29 14:38] gamtiq opened #522 "Add MobX into Typings registry"
It would be very helpful to add mobx into [Typings registry](https://github.com/typings/registry).
In my project I use TypeScript with JSPM. So TypeScript compiler cannot find `mobx` without typings.
I know that it is possible to install mobx typings via `typings install mobx=https://npmcdn.com/mobx/lib/mobx.d.ts` (thanks to [the comment](https://github.com/mobxjs/mobx/issues/203#issuecomment-2120

[2016-08-29 15:08] mweststrate commented on #522
The package ships with typings out of the box which are picked up
automatically by TS 1.6+, you should not need to install typings, just
directly import from mobx

Op ma 29 aug. 2016 16:55 schreef Denis <notifications@github.com>:

[2016-08-29 15:17] gamtiq commented on #522
Unfortunately in my case it doesn't work because of the following settings in `tsconfig.json`:
[code]
MobX is installed inside `jspm_packages` by JSPM.

[2016-08-29 15:27] mweststrate commented on #522
Argh! can typings handle non ambient typings in the first place?

Op ma 29 aug. 2016 17:17 schreef Denis <notifications@github.com>:

[2016-08-29 18:44] cheapsteak opened #523 "@computed properties being peeked at before class initializers have run"
mobx 2.4.3 and 2.4.4
mobx-react 3.5.5

[code]

Results in `Uncaught TypeError: Cannot read property 'length' of undefined`

Logging `this` shows that `totalItems` and `pageSize` are both undefined

Initializing in the constructor also doesn't work as the peek somehow seems to occur before the constructor is even called

~~~Guarding against an undefined `this.totalItems` also doesn't work~~~
edit:

[2016-08-29 20:57] #523 closed

[2016-08-29 21:05] cheapsteak commented on #523
moving the `'babel-plugin-transform-decorators-legacy'` and `'babel-plugin-transform-decorators'` above the `babel-plugin-transform-class-properties` transform in the babel plugins config fixed my problem

[2016-08-30 03:41] pauldotknopf commented on #520
User error.

The issue with in my decorator.

[code]

Sorry for your time.

[2016-08-30 03:41] #520 closed

[2016-08-30 06:43] mweststrate commented on #522
I doubt this is something that needs fixing on the MobX side of things (ambient declarations / decoupled declarations are really a downgrade of the current system, opening up a can of worms regarding maintenance, versioning etc). Would you mind checking whether these treads offers an acceptable solution / work around? https://github.com/Microsoft/TypeScript/issues/6012 https://github.com/jspm/jspm

[2016-08-30 12:54] kevinya opened #524 "Extends object with nested values"
Hello !

Is there a way to extend deeply an observable with mobx ?
When I try to use extendObservable() on a object with a nested array, that nested array is not deeply copied.

I try to keep data as I received it and compare it with the edited value so that I can ask the user leaving the page if he wants to save before leaving.

Here is an exemple:

[code]

Thank for your help.

[2016-08-30 16:48] mweststrate commented on #463
Currently implementing proposal 1 of @andykog 's example. The ES6 variant
will be

[code]

See #421 I thin using `computed` with (extend)Observable should be the idiomatic and promoted approach, but probably it is too breaking to already give a deprecation message for the old approach, maybe in the next minor and then remove it in 3.0

[2016-08-30 16:51] mweststrate commented on #421
I think the `get` variation might be introducing the same mistake as we currently have with the automatic conversion of functions, what if somebody actually wants to create a normal getter, not a computed?

For that reason I think I'll prefer the approach as suggested in #42, although it is a bit more verbose:

[code]

[2016-08-30 16:57] gamtiq commented on #522
First of all I should say that I'm a newbie regarding JSPM and TypeScript.
Thank you for the links. I have scanned them quickly. It seems it is possible to work around `typings install` by using `baseUrl` and path mappings settings as described in Microsoft/TypeScript#5039 and in [Additional module resolution flags](https://github.com/Microsoft/TypeScript-Handbook/blob/release-2.0/pages/Module%20R

[2016-08-30 17:05] andykog commented on #463
@mweststrate you mean `set v() { this.x = v / 2 }`, right?

[2016-08-30 17:27] mweststrate commented on #454
Closing for inactivity, feel free to reopen if needed

[2016-08-30 17:27] #454 closed

[2016-08-30 20:11] urugator commented on #421
@mweststrate

If I want a normal getter I shouldn't define it as an observable in the first place.
I mean, if I define a field in an object passed to observable/extendObservable, it must be observable somehow, so how the getter is going to be observable? as a reference to a function?

[2016-08-30 20:43] andykog commented on #421
@urugator, normal getter will still be tracked, creating it with `computed(() => x)` is just matter of performance. There is no need to observe it, as it can be redefined only with `Object.defineProperty` but the same possibility exists for any other properties (e.g. primitive values)

@mweststrate, Can you imagine some use case when this can lead to a problem? Observable getters behave the same w

[2016-08-30 21:45] elado opened #525 "Add `includes` method to ObservableArray"
It's ES2016 but useful enough.

[2016-08-30 22:15] andykog commented on #525
@elado, doesn't `includes()` work on ObservableArray in some environment at the moment?

[2016-08-30 23:15] elado commented on #525
My bad. I may have been missing the polyfill on node.

[2016-08-30 23:15] #525 closed

[2016-08-31 00:26] aleclarson commented on #18
Can you elaborate on how the `thing.cubic` "knows" to wait for `thing.squared`?

&nbsp;

I assume `Object.defineProperty` is used to make objects/classes reactive.
But how are "plain arrays" made reactive? Via some proxy?

&nbsp;

Here's an excerpt from [the Meteor docs about their `ReactiveVar` class:](https://docs.meteor.com/api/reactive-var.html)

"An important property of ReactiveVars — which

[2016-08-31 04:46] SukantGujar opened #526 "Question about observable references to other observable."
Hi,

In my observable state tree, is it possible to have a variable refer to another observable? E.g. if my state tree looks like this -
[code]

I want to transform this state into a Mobservable and replace ID references between Account Holders and Accounts with actual references to the corresponding mobservables. E.g. in the above example data, Holders/AH37502755643/Account reference should point

[2016-08-31 05:26] mweststrate commented on #526
yep that is no problem, just make sure that you update objects instead of replacing them (as if you would do the latter the ref would still be to the old object and you are better of storing refs indeed)

[2016-08-31 05:28] mweststrate commented on #18
@aleclarson observable arrays are basically objects with numeric keys and all the other array methods

[2016-08-31 05:31] mweststrate commented on #421
No cannot think of such a use case, and I think it is quite easy to implement. But somehow it feels a bit arbitrary that `get` means `computed`. (as arbitrary as `function() {} ` means computed ;-)) Or is that just me?

[2016-08-31 10:14] satispunk opened #527 "@computed properties inheritance"
Hi,

Me and my collegues have met interesting case:

[code]

It fails with:
[code]

Is this possible to fix, or any workaround?

[2016-08-31 10:25] andykog commented on #527
`@computed` is applied twice. Same error can be reproduced like this:
[code]

[2016-08-31 10:27] mweststrate commented on #527
Properties live on the instance (computed or not), so there is no 'super' version of them in javascript (or any other language that I know of), unlike functions that live on the prototype. Similar to how you cannot do `this.name = 3; console.log(this.name, super.name)`. That will always print 3 twice, regardless what value you gave it in the super constructor.

The work around here is to do to som

[2016-08-31 10:33] satispunk commented on #527
@mweststrate
Probably I missunderstood something but
[code]
is not property but getter function which has access super. At least if we remove @computed it works as expected.

[2016-08-31 11:19] mweststrate commented on #527
@satispunk yep because by default getters are declared on the prototype. However computed getters have local state (e.g. the memoization), so we would need to do really weird tricks to allow it to be defined 'twice' on the same instance.

You can best compare it with doing
`function a() { super.a() }` versus `a = () => super.a()`.

[2016-08-31 13:20] urugator commented on #421
As @andykog made clear, there is no point in observing a getter field, because it's "value" can't be changed in an observable way. So a getter defined in an observable is practically unobservable (or am I missing something?), which seems a bit wierd to me.

Also, I think, it kinda makes sense to turn getter into computed, because getter is in fact a normal field, which value is a just a derivation

[2016-08-31 15:19] mweststrate commented on #521
Tada: https://github.com/mobxjs/create-react-app-mobx/

[2016-08-31 15:40] EQuimper commented on #521
You can the `transform-decorators-legacy` yourself in `node_modules/react-scripts/config/babel.dev.js`

![image](https://cloud.githubusercontent.com/assets/15819498/18135367/b2436808-6f6f-11e6-9263-e74cc3b6f66c.png))

[2016-08-31 15:42] RainerAtSpirit commented on #521
Excellent, that will do the job!

[2016-08-31 15:42] #521 closed

[2016-08-31 18:33] mweststrate commented on #421
Note that the above syntax won't work afaik, should be `get volume() { ... }` which is slightly uglier.

But yes, I admit it looks tempting. Was quite easy to setup, see above commit :)

[2016-08-31 18:34] mweststrate commented on #421
Btw I actually never realized this is valid ES5 syntax :-/

[2016-08-31 19:50] Keats commented on #104
How are people handling fetching data before rendering a route in react-router? a store that keeps track of prefetch request and you observe the status at the top level and render nothing/a loading screen if there is a promise?

[2016-08-31 19:53] mweststrate commented on #104
You can store the request / response in a store. mobxUtil.fromPromise is
useful for that. See
https://medium.com/@mweststrate/how-to-decouple-state-and-ui-a-k-a-you-dont-need-componentwillmount-cc90b787aa37
for
some examples

Op wo 31 aug. 2016 om 21:50 schreef Vincent Prouillet <
notifications@github.com>:

[2016-08-31 19:54] mweststrate commented on #521
@EQuimper would you mind adding that to the README of create-react-app-mobx as alternative?

[2016-08-31 20:52] urugator commented on #421
You have a typo in test description "... **plan** object ...".
Btw is setter wrapped into an action or left as is?

[2016-08-31 20:57] mweststrate commented on #421
it is wrapped in an action indeed. thanks for the idea btw, despite my
initial scepticism I really like it! wish i had realized half a year ago
this is valid es5 ☺ I think I'm gonna push this as the idiomatic way to
create computeds without decorator

Op wo 31 aug. 2016 22:52 schreef urugator <notifications@github.com>:

[2016-09-01 00:11] urugator commented on #486
I have to agree with @fenduru, current behavior doesn't make sense. The ```mobx.observe(obj)``` should emit change event on computed props as well.
However the expected output should actually contains three
```no property: Object {$mobx: ObservableObjectAdministration}"``` msgs.
First for ```foo```, second for ```doubleFoo``` and third for ```doubleBar```.

I wonder why it works how it works, I ho

[2016-09-01 01:34] EQuimper commented on #521
@mweststrate Yes should be a good idea

[2016-09-01 01:56] hiaw opened #528 "mobx reaction unstable, cyclic function"
I'm trying to use MobX to create an Otello game. So I have reaction to look for tile changes and then update other tiles accordingly.

So in the code below, I ran `bumpRandom()` to change another tile to see the effect. But then this goes into cyclic function cause `reaction` is alway ran. How do I get it to stop observing in a `reaction`?

    class OtelloBoard {
      @observable cells = [];

[2016-09-01 05:05] donpark opened #529 "Better doc and explicit dependency marking"
I think the doc should put Array related issues front and center as it's a sore thumb of sort that sticks out after initial euphoria over mobx.

Also, I just spent an hour trying to figure out why splicing an array doesn't trigger update. Tracing the problem rabbit hole showed that there weren't any listeners. I was still scratching my head when I ran into this bit in one of the issues:

Sure enou

[2016-09-01 05:24] mweststrate commented on #529
Thanks for the feedback, i'll try to make some things more apparent in the docs. Did reading https://mobxjs.github.io/mobx/best/react.html help you to answer the above questions?

Do you have an example of point `2.`? I never needed to do that myself I think.

[2016-09-01 05:29] mweststrate commented on #528
Can you explain what you want to achieve here? What needs to happen automatically here? To me this code reads as 'play the entire game', which mobx tries to do but then it sniffs an endless loop.

Should only one bump happen? Or only a bump when there is a specific status?

[2016-09-01 05:42] donpark commented on #529
Hi, best practice section did help but not the full picture, like that 'dot into' rule. I also failed to find text making it clear whether changing array content will generate an update or not. All I found was a question by one of the users. Array really deserves a best practice section of its own.

Re point 2, non-render use of mobx typically happens with React component wrapping a non-React libr

[2016-09-01 07:40] RainerAtSpirit commented on #521
@EQuimper Good workaround, but I'd rather have more examples that demonstrate using mobx with standard syntax. Projects like  e.g Aurelia have been suffered in the past by using experimental feature of jspm and babel, which later changed or where withdrawn. I'd rather have an option to not go down the same route.

[2016-09-01 07:48] hiaw commented on #528
So when a tile is bumped, the reaction is called, it will then update another tile (bump). But this update should not trigger another reaction until it's finished. Maybe I should wrap them up in `transactions`?

[2016-09-01 08:00] mweststrate commented on #528
what is 'is finished'? you reaction is now configured to react to any change of status inside one of the cells

[2016-09-01 08:10] hiaw commented on #528
So I'm wanting to update other cells within the code block but I don't want that to cause a reaction. The reaction should only be triggered when user touches the cell.

    reaction(
      () => this.cells.map( cell => cell.status ),
      status => {
        this.cells[45].status += 1          <-- This should not cause another reaction
      }
    )

Is there a better way of doing what I want?

[2016-09-01 08:13] mweststrate commented on #528
yep that shouldn't be a reaction in the first place, it sounds it sound triggered by a _state_ change, but by a _user_ event, in otherwords, an action. The idea of a reaction is that you can tell by just looking at the state what reactions should happen, which doesn't seem to be the case in your example, the reaction doesn't depend on the actual value of the `status`, by whom triggered it

[2016-09-01 09:29] cellvia opened #530 "toJS returns empty object for observable arrays"
toJS seems to now return an empty object for observable arrays ... this wasnt the case before

console.log(obsArr.$mobx)
/* => ObservableArrayAdministration {
  mode: 0,
  array: ObservableArray {},
  owned: false,
  lastKnownLength: 2,
  interceptors: null,
  changeListeners: null,
  atom:
   BaseAtom {
     name: 'ObservableObject@6.obj.subObj.subSubArr',
     isPendingUnobservation: true,

[2016-09-01 10:22] hiaw commented on #528
Actually, I probably did not phrase it right.

I'm relying on MobX to observe for state change. ie. when user touches the cell, the `cell.status` changes.

Maybe I shouldn't use mobx in this case?

[2016-09-01 10:42] andykog commented on #528
@hiaw, you have a reaction, that depends on every cell, and when it fire it randomly changes cell, so will fire again untill it reaches stable state, which can't be achieved. transaction may help, but whats the point of using reaction here? You can simply call `bumpRandom` after inside click handler, or you can make something like this, if you just want to use reaction somewhere:
[code]

[2016-09-01 10:47] SukantGujar commented on #526
Thanks! Yes, the objects will be updated traditionally, or extended using extendObservable.

[2016-09-01 10:49] SukantGujar commented on #526
This could be a common need for other apps too, could you please make this more explicit in the documentation :smiley: ? I am closing this issue.

[2016-09-01 10:49] #526 closed

[2016-09-01 10:54] SukantGujar commented on #529
Wouldn't `action` and `reaction` help in such cases?

[2016-09-01 13:20] ronag opened #531 "observer doesn't receive update"
I have a very strange scenario which I am unsure how to debug.

Consider the following:

[code]

Which will print
[code]

However, the following:

[code]
Which will print
[code]

which is correct.

For some reason the first example doesn't react to changes while the second does? Any suggestions on how I could debug this?

[2016-09-01 14:48] MovingGifts commented on #513
Still stuck on this one since I validate using the "handleCompanyFormValidation", which checks all the form fields, like companyTitle and company_logo, but I am not able to get company_logo to exit when it comes to an error in company_logo server validation async call. Can anyone jump in on how to solve this one?

[2016-09-01 16:06] KaySackey commented on #513
In my own code what I do is wrap validation in a promise and when the promise fails or succeeds then I update an observable tracked by mobx or otherwise chain it to the completion of an action.

[2016-09-01 17:00] donpark commented on #529
They would except the same can be said about mobx-react which AFAIK is intended to reduce the need to make mobx-specific changes in React components. Likewise, seemingly cosmetic change I outlined above does the same for bridging React components. The dependency marking function from React developer perspective is just declaring what the component depends on. One could easily wrap it to avoid havi

[2016-09-01 18:12] #531 closed

[2016-09-01 18:16] MovingGifts commented on #513
I think the issue I have with setting an observable as valid, is the new observable's true/false value will be available and refresh the UI if it's used there, but the problem is this scenario doesn't use a UI at all, rather a "connected" action. So the flow is like this for brevity:

[code]

Can someone using this brief code demonstrate the correct way to have `Check field 3` wait for `handleComp

[2016-09-01 20:15] hiaw commented on #528
Yeah. I think you're right on using the click handler. Thank you very much for your help.

[2016-09-01 20:15] #528 closed

[2016-09-01 20:19] oriharel commented on #476
So which way did you go? computed or slice?

[2016-09-01 20:20] mweststrate commented on #530
Just tried to reproduce it but couldn't: https://tonicdev.com/57c88d4e8d4e5c1600156f25/57c88d4e8d4e5c1600156f26. Could you try to setup a reproduction?

[2016-09-01 20:40] mweststrate commented on #513
@MovingGifts once you have callbacks, you need to use callbacks all the way, so you will get something like:

[code]

[2016-09-01 21:21] mweststrate opened #532 "Remove inferring argumentless functions to computed properties in `observable`"
See #421. Breaking change so for next major

For migration purposes MobX should warn in a next minor if an function is passed without marking it either with `asReference`, `computed` or `get`

[2016-09-01 21:21] mweststrate commented on #421
Released as 5.2.1 :)

[2016-09-01 21:21] #421 closed

[2016-09-02 01:30] mattruby commented on #532
So this change will mark the beginning of 3.0.0?

On Sep 1, 2016 4:21 PM, "Michel Weststrate" <notifications@github.com>
wrote:

[2016-09-02 02:19] MovingGifts commented on #513
@mweststrate Thank you for your example 👍

[2016-09-02 05:52] jeffijoe commented on #300
I'm using React Router, which supports supplying a custom `createElement` function.

I also have a `rootStore` which, as the name implies, is the root of my state.

[code]

In React Router:

[code]

Now my root store is passed into my screen components as props.

[2016-09-02 11:29] hccampos opened #534 "Class properties not working with TS 2.x and reflect-metadata"
Currently, when using Typescript 2.0 (targeting es2015 and running through babel to end as es5) and [reflect-metadata](https://www.npmjs.com/package/reflect-metadata) (needed for InversifyJS), class properties don't work. For instance:

[code]

If you try to call `doStuff` in strict mode, you will get an error:

[code]

From what I have been able to determine, this is caused by the property not be

[2016-09-02 11:31] hccampos commented on #532
Sounds like a welcome change. In my case it shouldn't even break anything. I usually only pass pure data into `observable` and `extendObservable` and let the decorators take care of `computed`, `observable` and `action`.

[2016-09-03 10:05] winterbe commented on #476
I use compute if the array presented in ListView has to be filtered first.
Otherwise I just call slice on the observable array before constructing the
ListView dataSource.

Am Donnerstag, 1. September 2016 schrieb Ori Harel :

[2016-09-04 16:20] aleclarson opened #535 "Hot State Reloading + MobX?"
[Explained in this article.](https://medium.com/@tannerlinsley/introducing-hsr-the-hot-state-reloader-behind-jumpsuit-js-42498712ac90)

![](https://cdn-images-1.medium.com/max/1600/1*sWtt53xdpVSTwThiinjMMg.png)

@mweststrate Could HSR be integrated into MobX? Curious about your thoughts on this.

[2016-09-04 18:30] mweststrate commented on #535
Sounds like it could be integrated with anything that supports serializing the state? Whether that works for a MobX question can not be answered generically; some MobX encode their entire state in a single state, some don't. An example where it is done with HMR can be found here: https://github.com/mobxjs/mobx-reactive2015-demo

I am by the way working on a standardized state container which could

[2016-09-05 09:33] ochervak commented on #535
@mweststrate i'm pretty interested in your solution with opinionated state tree, how can i help you with it ?

[2016-09-05 14:47] KaySackey commented on #300
You could also use context to pass the store to deeply nested components.

[2016-09-05 14:50] stephenkingsley commented on #300
I seem remember there is a `connect` and `provide` function in `mobX`? and you can create another one, cause I think is not difficult.

[2016-09-05 14:59] mweststrate commented on #512
I could get your project to build locally, but that you get a warning makes sense, `userInfo` kicks of a fetching logic using promises, however, the results will always be in only after your `<Home />` rendering already has returned to the `renderToStaticMarkup`. So your `fetchNews()` calls seems to be a useless invocation. Maybe you intended an `await`? Although the warning could probably be avoi

[2016-09-05 15:02] mweststrate commented on #300
@KaySackey @stepenhingsley yep see `inject` / `Provider` in the mobx-react package

[2016-09-05 15:10] mweststrate commented on #535
@ochervak at this point any feedback on the api is very useful, a good starting point is https://github.com/mweststrate/mobx-state-tree/blob/master/src/inode.ts and the static methods here https://github.com/mweststrate/mobx-state-tree/blob/master/src/node.ts#L189.

Probably it is a bit too vague still atm, but the idea is that
1. your state is always a tree
1. for each 'node' in your state tree (

[2016-09-05 15:14] mweststrate commented on #530
Cannot reproduce. This is such a basic case I suspect the error is somewhere else. (although, assumptions ;-))...

[2016-09-05 15:14] #530 closed

[2016-09-05 15:18] mweststrate commented on #522
Although I see your problem, I put a won't fix on this one. First, I suspect JSPM will address this issue. Secondly, maintaining such a typing is very tedious, especially since MobX provides good standardized typings by itself already. If someone from the community wants to submit typings though, he is welcome :)

[2016-09-05 15:18] #522 closed

[2016-09-05 19:39] mweststrate commented on #527
Closing the issue, I don't think there is much value in working around this. Will add a note to the docs.

[2016-09-05 19:39] #527 closed

[2016-09-05 19:43] mweststrate commented on #524
I think lodash's deepCopy might help here, if you first mark the proper fields on `{}` as observable (can be initialized with `null`. observability is applied recursively, so from there on stuff should become observable as deepCopy assigns new values.

[2016-09-05 19:44] mweststrate commented on #495
Closing for inactiviy

[2016-09-05 19:44] #495 closed

[2016-09-05 19:45] mweststrate commented on #464
Already released

[2016-09-05 19:45] #464 closed

[2016-09-05 19:48] mweststrate commented on #486
Hmm good point, I usually don't consider computeds as 'full members', they are not enumerable as well for example. But at least if the event is emitted the user is able to choose himself to ignore the change. I'll mark this for 3.0 candidate, as the change might be breaking for people.

[2016-09-06 07:11] sagarparikh opened #537 "How to add observer to a component in node_modules"
Hi,

This is my first project in Mobx, I am trying to migrate from Redux to Mobx.

I am working on a dashboard project for which I require an editable data grid. I am using Material-ui with React and Mobx. So instead of building one i picked up -> http://bit.ly/2c8Kuj0.

I have my store and everything setup all going well until the above grid wouldn't get updates from the store. I was already in t

[2016-09-06 13:34] urugator commented on #537
I quess I am missing something, but maybe...?
```javascript```
const observer = require('mobx-react').observer;
const EditTable = observer(require('material-ui-table-edit'));
[code]

[2016-09-06 14:26] jvorcak opened #538 "Using MobX with Immutable.js data structures"
Hi,

I've started integrating MobX in one of my projects and it solves a lot of previous problems I used to have. However, I'd like to use Immutable.js for my data structures. The reason for it is that the structural sharing is very important for me in this project (especially comparing by id ref) + the core concept of immutable data structures really fits into my project).

I'm wondering, is it a

[2016-09-06 15:40] urugator commented on #538
I think it depends on how far you want to go with immutability:
[code]
Consider all objects are immutable and observable and you want to change text of the comment.
Comment is immutable so it can be changed only by replacement. Because comments array is immutable it must be replaced as well, same goes for person, persons array and finally the app itself.
Ideally we would like to update only compon

[2016-09-06 16:06] ochervak opened #540 "Cycle detected on latest version of mobx"
After updating to MobX 2.5.1 i encountered a problem with
[code]

How can i fix it? It not reproduces on previous versions...

[2016-09-06 17:28] mweststrate commented on #540
Full stacktrace might be a good place to start. Best to set the max reported stacklines to infinite, and limit the stack depth, to keep it readable :). Or manually bail out in `lastUpdate` after a few iterations, and do a `console.trace()` inside of them.

[2016-09-06 17:29] jvorcak commented on #538
@urugator first of all, thanks for your answer. I was thinking you could compare by [is()](https://facebook.github.io/immutable-js/docs/#/is), that is the fastest you can get, right?
You're right that you would replace the whole object up to the root, but you could also decide whether or not to `shouldComponentUpdate` everything in that object by calling fast `is()`method.
The root object would be

[2016-09-06 17:44] Strate commented on #538
I had the same issue, and I've chosen to migrate from Immutable structures to mutable observable structures. First of all, I've reduced set of immutable's api to use, then I made a wrapper around arrays & maps and reimplement that api, and then change usage of immutable structures to my own.

[2016-09-06 17:51] mweststrate commented on #537
Note that it is a bit risky to add `observer` around existing components as it could break internal assumptions of the component. I recommend converting observables to plain objects in the parent component (with `@observer`) before passing them to external components.

Closing since the question was also answered on twitter if I'm not mistaken ;-)

[2016-09-06 17:51] #537 closed

[2016-09-06 19:42] urugator commented on #538
@jvorcak Note that only observable field in your example is `info`.
Fields `name`, `first`, `last` are not observable.
The autorun runs only because of the replacement propagation of immutable structures.
The propagation ends by replacing value of `info`, which eventually triggers the autorun.
So in the end, you're not in fact combining immutables with observables, there is no object which would b

[2016-09-06 19:51] jvorcak commented on #538
@urugator exactly, I would mark only the "root" as observable and treat it's nodes as immutables. The point of MobX in my application is that it rerenders my React components once the relevant part of the this root tree changes. Now the question is, is this approach necessarily a bad practise?

[2016-09-06 20:49] urugator commented on #538
Hard to talk about "approach" if we don't know to which problem, so it's hard to offer any alternatives.
You asked `does it kill MobX core concept?`, I would say it kind of does, or at least there are incompatibilities.
However, from what you say, you don't need to observe immutable structures at all, just a references to them.
In that case I don't see any problems.
Just keep in mind that MobX wil

[2016-09-08 06:25] jimkyndemeyer opened #543 "Preserving source type in toJS return value"
The current toJS implementation has the following signature:

[code]

I'd like to see it return the same type as it takes as source, so I don't have to cast the return value:

[code]

I tested with TypeScript 1.8, and the signature change seems compatible with existing code as TypeScript simply infers T.

[2016-09-08 09:56] dreambo8563 commented on #512
your analysis help a lot, thanks man

[2016-09-08 09:56] #512 closed

[2016-09-08 14:34] hgeldenhuys opened #544 "Bug in Ten minute introduction to MobX and React"
I think there might be something wrong with the first demo in the introduction, maybe I'm wrong but it looks like a copy-paste issue in the code?
<img width="631" alt="mobx__ten_minute_introduction_to_mobx_and_react" src="https://cloud.githubusercontent.com/assets/179999/18353380/c1426a52-75af-11e6-87f0-8404f86f23ba.png">

[2016-09-08 14:45] andykog commented on #544
@hgeldenhuys, what exactly you think is wrong?

[2016-09-08 14:54] hgeldenhuys commented on #544
Oh nevermind, I didn't see existing Todo's were being changed. A quick read through I expected 4 different Todos

[2016-09-08 14:54] #544 closed

[2016-09-08 18:57] andykog commented on #532
@mweststrate, just to make it clear, we replacing syntax like this:
[code]
with equal alternative:
[code]
right?

[2016-09-08 19:00] mweststrate commented on #532
Both are still supported, first will be deprecated by this story, idiomatic will be:

[code]

Biggest advantage is that it avoids subtle errors with `this` (your example for example would have an undefined `this`)

[2016-09-08 19:10] andykog commented on #532
@mweststrate, basically, ability to define getter in current context may be very useful, and thats how it worked before, so I wouldn't undervalue it, especially in terms of 3.0.0 migration

[2016-09-08 19:16] mweststrate commented on #532
Ha yeah makes me wonder, is `get x () => this.y` valid syntax? But anyway computed should still be supported as it is concinsistent with the modifiers approach.

[2016-09-08 19:24] andykog commented on #532
I think, no :-) What makes you assume this?

[2016-09-09 03:02] leesiongchan opened #546 "Why is autorun doesn't run when observable props has changed?"
Provided I have a code like below, why is `this.props.event.location` wouldn't be triggered when changed?

[code]

[2016-09-09 03:49] cellvia commented on #453
im getting this same issue... @orrybaram  how did you solve it?

[2016-09-09 04:05] orrybaram commented on #453
@cellvia not a great answer but we were using deku and switched to react. Using the official React mobx bindings fixed our problems.

[2016-09-09 04:06] VolCh commented on #431
From [documentation](https://mobxjs.github.io/mobx/refguide/action.html):  Actions help you to structure your code better. It takes a function and returns it **after wrapping it** with untracked, **transaction** and allowStateChanges.

[2016-09-09 05:59] jonhester commented on #546
From a cursory glance I'm not sure exactly what the issue is, but that seems a bit antipattern for react, which may be making things harder for you. I'd rather have a new component for each event and location rather than reusing the same one.

I'd set up an event store and a location store, separate from your react code. You can still fetch events and locations on demand, but you won't have to ref

[2016-09-09 07:46] jvorcak commented on #538
Thanks for your help @urugator I'm closing this one.

[2016-09-09 07:46] #538 closed

[2016-09-09 09:09] VolCh opened #547 "Using @observable with modifiers"
There are not examples neither [here](https://mobxjs.github.io/mobx/refguide/observable-decorator.html)  , nor [there](https://mobxjs.github.io/mobx/best/decorators.html).

After severar attempts I found that works:
`
class SomeClass {
  @observable property = asMap({});
}
`
Is there more declarative way like @observable(asMap()) (inspired by serializr)?

[2016-09-09 12:41] kiejo opened #548 "Invariant failed error in 2.5.1 in Safari on OSX"
After upgrading MobX from 2.5.0 to 2.5.1, I get the following error in Safari on OSX:
![screen shot 2016-09-09 at 11 21 12 1](https://cloud.githubusercontent.com/assets/152507/18387139/190cbe40-769b-11e6-96bf-9ce697c39c4c.png)

The error is caused by a transaction where I set multiple properties on an observable. I could only reproduce this in Safari.

Browser: Safari 9.1.1 (10601.6.17)
Operating

[2016-09-09 12:53] urugator commented on #546
I don't think that `event.location` is observable, try to change this:
[code]
into this:
[code]

[2016-09-09 13:11] urugator commented on #547
Afaik currently not. You might want to check #211

[2016-09-09 16:06] cellvia commented on #453
ugh.  i am having all sorts of observable array issues lately like this, no idea why

[2016-09-09 16:53] jefffriesen commented on #230
For other folks coming to this thread, `Provider` was released with mobx-react: https://github.com/mobxjs/mobx-react#provider-and-inject

[2016-09-09 18:23] ugros opened #549 "[Feature] Mobx-vue/Mobx-riot package"
Hello,

First off, thanks for Mobx, in my eyes, it's a great improvement over flux and redux.

What I was thinking, is that I kinda don't need anything that React brings to the table.
I think that in a real-life project that manages state outside of components, I'm using less than 20% of what React has to offer.

So my suggestion would be to use more lightweight "view" implementation, such as Vue

[2016-09-11 12:02] evoyy commented on #549
Some of us are happy with React and have no desire to change. As for the benefits you mention and the fact that you are only using 20% of what React has to offer... think about when your app grows in size and complexity and then needs the extra functionality, and how much of React's functionality you will have to re-invent in your lightweight framework.

However, MobX does not depend on React. It

[2016-09-11 21:36] Loilo opened #550 "Styling with MobX"
I'm pretty sure the root cause of this issue has already been explained multiple times in other places but I'm completely clueless what to search for.

I am trying to observe a style object like this:

[code]

Sadly MobX won't react to changes on the `this.styles.background` property. I assume that's because `this.styles.background` is not used anywhere explicitely but rather only `this.styles`.

[2016-09-12 07:11] mweststrate commented on #550
This doesn't work because your `style.background` is used by the `div` component, not by the `App` component itself (which only uses the reference to the styles object).

Some simple solutions:
1. Convert the styles to a plain object in the `App`  component already, e.g. `style={toJS(this.styles)}`  or `style={Object.assign({}, this.styles)}`
1. explicityly assign the style properties `{{ backgrou

[2016-09-12 07:16] mweststrate commented on #549
I personally have no intention to create those bindings, but I think it should be pretty doable. Creating your own bindings should be pretty straight forward, see for example https://github.com/nightwolfz/mobx-inferno/issues or https://github.com/micnews/mobx-deku. This is the important part in mobx-react: https://github.com/mobxjs/mobx-react/blob/master/src/observer.js#L63. The rest of the code b

[2016-09-12 11:16] mweststrate commented on #548
@kiejo could you provide a reproducable setup, e.g. in a jsbin or something similar? Are you using typescript or babel?

Could you rule the following causes out?

* no HMR or something similar
* not trying to redefine property from a super class

[2016-09-12 12:15] Loilo commented on #550
Thanks for your quick answer!
Okay, seems that your first suggestion works like a charm.
Do you have any material worth reading on *why* this actually works? (i. e. why the `div` component is now rerendered on property change?)

[2016-09-12 12:29] andykog commented on #550
[What does MobX react to?
](http://mobxjs.github.io/mobx/best/react.html)

[2016-09-12 12:51] kiejo commented on #548
I'm using babel and the error occured in a production build as well as in a development build so no HMR. It looked like the error occured with a simple `observable({ ... })`, so I'm rather confident that there are no classes / super classes involved.
I'll try to create a small reproducable setup soon!

[2016-09-12 13:06] Loilo commented on #550
Thanks for the link @andykog, certainly worth reading. I couldn't find what I was looking for (I'm not yet entirely through the article though) but I think after reading @mweststrate's comment for the fifth time I finally got it:

Without `toJS()` I just pass a reference to `this.styles` to the `div` component without letting `App` know about the concrete `this.styles.background` property.
`toJS()

[2016-09-12 13:22] mweststrate commented on #550
Exactly, it is now accessed by `App`, which re-render will also cause the `div` to be rerendered, while in the old situation `div` itself was not able to detect the change for the lack of being an `observer`

[2016-09-12 13:23] Loilo commented on #550
Nice, I got it. :)
Thank you both for your efforts! 👍

[2016-09-12 13:25] #550 closed

[2016-09-12 16:01] andykog opened #552 "ObservableArray methods should return another ObservableArray instead of Array?"
I think, when calling standard array methods, you should get another ObservableArray to avoid inconsistency:

[code]

PS: This way idiomatic `myObservableArray.slice()` should be replaced with `Array.from(myObservableArray)`

[2016-09-12 18:45] andykog commented on #546
@leesiongchan, I see that your `location` object is initially empty. Mobx won't react on adding props. If you want that behaviour, use map instead. See [Common pitfalls & best practices: object.someNewProp = value](https://mobxjs.github.io/mobx/best/pitfalls.html)

[2016-09-12 18:46] andykog commented on #546
@leesiongchan, feel free to reopen

[2016-09-12 18:46] #546 closed

[2016-09-12 20:13] urugator commented on #552
Related #166

[2016-09-13 01:46] dcworldwide commented on #230
Is there an example with Provider in use? I'm having some issues getting it working with my use case.

[2016-09-13 02:01] mattruby commented on #230
Here's a small example:
https://jsfiddle.net/gh/get/library/pure/mattruby/mobx-examples/tree/master/react-examples/20-provider

On Sep 12, 2016 8:46 PM, "Danijel Cole" <notifications@github.com> wrote:

[2016-09-13 14:05] robclouth opened #554 "C++ version of MobX"
After using MobX for a while on web and app projects, I really, really want it for managing my state in C++ projects. I've seen a C++14 implementation of Redux...how doable would it be for MobX?

[2016-09-13 14:10] mweststrate commented on #554
If you are using it in a single threaded environment it should be straight forward as there is no browser specific stuff. There is a lot of reflection / properties stuff in `types/`, but you could suffice by porting just the `core/` folder and leaving the observable types out initially expect for `ObservableValue` and create your own ones. (porting an older version might be simpler for starters, a

[2016-09-13 14:12] mweststrate commented on #552
@andykog can you elaborate on why you want this? (I can imagine several different things). Just for consistentcy or do you actually need the array to be observable if returned from a computed?

[2016-09-13 14:49] andykog commented on #552
@mweststrate, this is just the matter of consistency. I don't actually need it to be observable. If constructing new ObservableArray is not acceptable due to performance overhead, then I think returning instance of simple class like `ObservableArraySubset` with the same api (so it has `toJS` method, doesn't passes `Array.isArray()` check...) would be much better then returning native Array.

[2016-09-13 15:02] andykog commented on #552
Example:
Assume, that `VendorReactComponent` throws error if fed with ObservableArray:

[code]

If somebody will remove filter `.filter(x => x.legacy !== true)` in the store, MyComponent will unexpectedly break.

[2016-09-13 16:07] mweststrate commented on #548
Anybody else experiencing this? if it happens under normal circumstances I assume others have run into this as well?

[2016-09-13 18:10] ankitrg opened #555 "Cannot Use mobX with Rails using rails-assets.org"
I am trying to require mobX using rails-assets.org into my rails project. I can use react, but I am facing error when doing the same for mobX.

The site [mobX on rails-asset](https://rails-assets.org/#/components/mobx) gives an error that
`This component's bower.json does not specify which assets to include`, can you please help me with this?

I don't know if this is the right place to post this,

[2016-09-13 22:43] urugator commented on #552
What `observable(object)` does if `object` is already observable? Does it simply return `object`? Maybe one could get some "safety" by doing it like this:
[code]
The idea is: Do I see term "observable"?
Yes -> it's 100% observable.
No -> I should either add term observable to make things clear or leave it alone if it's not suppose to be observable.
Not exactly bullet proof, but it might help preve

[2016-09-14 01:33] colshacol opened #556 "@observable store values not applying? "undefined""
Very basic setup. Chrome console logs out undefined for the two observables, and for the basic `user` log, I get an empty object. What am I missing here? I have both `mobx` and `mobx-react` installed. No issues with using `@observer` in my components, except that the values come into the components as undefined.

[code]

[2016-09-14 04:00] colshacol commented on #556
I've found this to work with the `create-react-app` scaffold, although inconvenient.

Store file:
[code]

And a component file:
[code]

[2016-09-14 20:56] mbohgard opened #557 "Support for sparse array index assignments"
Are there any plans (or is it even possible?) to support index assignments higher than length of the array? Like `observableArray[new Date().getTime()] = { ... }` or is the official workaround to use a Map instead?

[2016-09-15 11:00] nikolovp opened #558 "[mobx ^2.5.0] mobx.observable property inside of mobx.extendObservable doesn't return an ObservableValue instance"
Hello,

I have a store with a state object inside of it. I want to extend the state with some observable primitive values.
[code]

With mobx v2.4.4 `this.state.title` is of type ObservableValue so I can attach some observers. But with mobx v2.5.0 `this.state.title` is not an observable value anymore.

mobx.observable(<scalar_value>) still returns an ObservableValue instance but it behaves differen

[2016-09-16 17:46] zalmoxisus commented on #535
@aleclarson, that approach in the article isn't suitable for most of cases, even though it's simple and would help to avoid side effects.

Let's say we have [that counter example](https://github.com/jumpsuit/jumpsuit#counter). Increment the counter 2 times, then you changed the increment action (reducer):
[code]

The HSR refreshes the webpage and gives you the previous state `2`, but we should hav

[2016-09-17 20:58] yasirhantoush opened #560 "React components not reacting to observable appState"
I have cloned the [mobx-react-boilerplate](https://github.com/mobxjs/mobx-react-boilerplate) and added react-router component. The new repo is [mobx-react-router-boilerplate](https://github.com/yasirhantoush/mobx-react-router-boilerplate).

There are two components (BlueCounter, RedCounter) linked as two routes, showing the count value from the appState. The two components represent two pages. I h

[2016-09-17 21:19] andykog commented on #560
@yasirhantoush, you should place `transform-class-properties` after `transform-decorators-legacy` in your .babelrc

[2016-09-17 21:41] andykog commented on #558
@nikolovp, thanks for reporting. As a quick workaround you can use:
[code]
Or, obviously, that could be rewritten like this: https://jsfiddle.net/Sl1v3r/rg0oqkod/

@mweststrate, converting ObservableValue to a plain value is not the desired behaviour, right?

[2016-09-17 21:47] andykog commented on #557
@mbohgard, Its not currently possible to implement this until proxies get wide browsers support. You're right, you should use Map for this.

[2016-09-17 21:51] andykog commented on #556
@colshacol, could you share you initial .babelrc? I suspect, this is the same misconfiguration as in #560

[2016-09-17 22:01] andykog commented on #555
@ankitrg, I'm not familiar with rail-asset, but I think this won't work, as compiled files are not available in git, see https://github.com/mobxjs/mobx#bower-support and #85

[2016-09-18 04:44] yasirhantoush commented on #560
Thanks @andykog , it is working perfectly now, I will update my repo, and close this ticket
Thanks again for the help.

[2016-09-18 04:44] #560 closed

[2016-09-18 09:16] mbohgard commented on #557
@andykog I see, thank you for the clarification.

[2016-09-18 09:16] #557 closed

[2016-09-18 16:07] urugator opened #561 "Consider implementing Symbol.toPrimitive on boxed primitives."
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol/toPrimitive

[2016-09-18 18:28] anatoo opened #562 "@action decorator can't be applied on setter method?"
I wrote the following code but not work on `mobx@2.5.1`. `@action` decorator can't be applied on setter method?

[code]

Thanks.

[2016-09-18 18:31] andykog commented on #562
@anatoo, from mobx docs:

* `action(fn)`
* `action(name, fn)`
* `@action classMethod`
* `@action(name) classMethod`
* `@action boundClassMethod = (args) => { body }`
* `@action(name) boundClassMethod = (args) => { body }`

[2016-09-18 18:33] andykog commented on #562
What is setter _method_? Setter is a class property, not a method.

[2016-09-18 18:40] anatoo commented on #562
@andykog Thanks to the quick response.
Do you have any reason that does not support `@action` decorator on setter?
I just want to know the reason.

[2016-09-18 18:57] andykog commented on #562
@anatoo, the idea of actions is to explicitly define subset of methods, that are allowed to modify state. In my subjective opinion, making setters to be actions is a move in the opposite direction.

Although it can be done like this: `set size({width, height}) { runInAction('set size', () => { this._width = width; this._height = height; }) }`. I don't like it either, see #331

[2016-09-19 05:37] anatoo commented on #562
@andykog OK, I got it. Thanks!

[2016-09-19 05:37] #562 closed

[2016-09-19 13:25] jeffijoe opened #563 "Initializing observables in constructor."
I've got a use case where I could use some advice as to how I should go about this "the MobX way".

**Note: This is not even close to my actual code, but the problem is there**

[code]

The problem arises when the transformer is invoked; I am not allowed to initialize the viewmodel state. I know I could just write getters and setters, but that's too much boilerplate, and the viewmodel has more com

[2016-09-19 13:35] andykog commented on #563
@jeffijoe, you can rewrite `ViewModel` class like this:

[code]

[2016-09-19 13:42] jeffijoe commented on #563
@andykog ah, because that does the init?

That's not a very pretty solution though, as I would like to continue using decorators with actual default values `@observable name = ''`

[2016-09-19 15:02] bb commented on #561
Hi @urugator, want to understand the relevance of `toPrimitive` , so I wrote a small test

    class AppState {
        @observable timer = 0;

        foo() {
            console.log("timer", this.timer)
            console.log("timerlogging", +this.timer)
            console.log(`timerlogging2  ${this.timer}`)
        }
    }

Then modifying timer and logging the values similar to the example...

[2016-09-19 17:06] bb commented on #561
Thanks for the clarification. I think you were specific enough but I am a noob in mobx ;)

Using your example and the change I already wrote above, I get this result:

    ObservableValue {
      name: 'ObservableValue@1',
      isPendingUnobservation: true,
      observers: [],
      observersIndexes: {},
      diffValue: 0,
      lastAccessedBy: 0,
      lowestObserverState: -1,
      mode: 0,

[2016-09-19 18:35] urugator commented on #561
I am actually not sure about `console.log(number);`, I quess it would depend on `console.log` implementation, which is not standardized afaik.
I don't know TypeScript so I can't really comment on that one.
In case of JS, support for `Symbol.toPrimitive` should be available on V8 version >= 4.8, that's node >= 6.0 .
For browser support, Babel seems working fine.

[2016-09-19 20:04] maxdeviant opened #566 "RangeError when passing an observable HTMLElement to toJS"
When you pass an observable `HTMLElement` to `toJS`, a RangeError occurs:

[code]

[2016-09-19 20:23] maxdeviant commented on #566
Working on a fix for this, but having a hard time writing tests, since there is no DOM in the test runner.

[2016-09-19 20:26] andykog commented on #566
@maxdeviant, what do you mean by “observable HTMLElement”? Please, don't say that you are doing something like `extendObservable(myDiv, {})` :-)

You can run it in chrome like this: `npm run test-browser-chrome`, but note that mobx should not be tight to DOM.

[2016-09-19 20:33] andykog commented on #566
Strange, that this error occurs, it have to be prevented by [__alreadySeen](https://github.com/mobxjs/mobx/blob/master/src/api/tojs.ts#L25) check.

[2016-09-19 20:33] maxdeviant commented on #566
@andykog Well, my original case was something like this:

[code]

What I am really interested in is when entries are added to/removed from the map, not necessarily observing the element itself.

[2016-09-19 20:36] maxdeviant commented on #566
I noticed that when I tried a simple `instanceof HTMLElement` check and it said `HTMLElement` was undefined :sweat_smile:

It appears that there are ways to check for an HTML element without `instanceof`, like looking for certain properties, etc.

[2016-09-19 20:47] andykog commented on #566
Well instanceof check can be made safely like this:
[code]

[2016-09-19 20:52] maxdeviant commented on #566
Ah, good point. I had it done like this:

[code]

Also, is there a way to add a test that only runs when executed in a browser? It doesn't appear that `NODE_ENV` is being set anywhere when running the test suite.

[2016-09-19 20:58] andykog commented on #566
My approach is a bit more performant :-)

Nope, but you can detect DOM the same way:
[code]

[2016-09-19 21:11] MarkEstefanos opened #567 "Observer isn't observing in React Native"
Here's my code:

main.js:
[code]

state.js:
[code]

My render function only ever returns null. I'm not sure if it's a MobX issue or a mistake on my part, so I'd appreciate a hand!

[2016-09-19 21:19] andykog commented on #567
@MarkEstefanos, you are redefining `state` var with `state = {...state, ...value}`, from this moment it is not observable anymore and your observer knows nothing about this new object. Please, read [What does MobX react to?](http://mobxjs.github.io/mobx/best/react.html)

[2016-09-19 21:46] MarkEstefanos commented on #567
Thanks! I updated my code to

[code]

[2016-09-19 21:47] #567 closed

[2016-09-19 23:15] MarkEstefanos opened #569 "React Native ListView not updating on change"
Appending to the list is working, but modifying elements isn't. Here's my code:

[code]

[code]

I tried wrapping renderRow in an observer tag as suggested [here](https://github.com/facebook/react-native/issues/4104), but that crashes the app.

[2016-09-20 17:00] MovingGifts commented on #569
That's not a mobx related issue, as it's React Native's issue for not refreshing on a change of a list view row item, only on newly created items. mobx does indeed update the array, so it does its part, to modify a list view row item in React Native, you have to do what ide suggested in your link, (also reread skleest's comment before ide's solution). By grabbing the index of the item from the old

[2016-09-20 17:08] MovingGifts commented on #513
@KaySackey Can you please share 2 code samples on how you do what you described? One to show the promise wrap and updating an observable, and one chaining to the completion of an action?

It doesn't have to be related to my example, just a simple general way of doing it in code would be awesome!

[2016-09-20 17:42] MarkEstefanos commented on #569
Well, that was embarrassingly simple. Thanks for the help!

[2016-09-20 17:42] #569 closed

[2016-09-20 18:39] foxhound87 opened #570 "Uncaught Error: [mobx] Invariant failed: Cannot obtain atom from [object Object]"
I don't know why I'm getting this error.

I'm calling a method inside componentDidMount which calls another method with an action.
It just update the observable object keys: https://github.com/foxhound87/mobx-react-matchmedia/blob/a24ccb8c9bcb6be5c70e54ecdcc23dc14f6c4a55/src/MatchMediaProvider.jsx#L23

The error appears only if I activate the mobx-react-devtools logging.
If I don't activate it, th

[2016-09-20 21:13] rwieruch commented on #199
The last week I wrote an article about the comparison between [Redux and MobX](http://www.robinwieruch.de/redux-mobx-confusion/). Today I discovered the issue here. I would say most of the key takeaways of the article are applicable for the discussion, but I wouldn't want to write another summary here. If you feel interested, have a look. I thought it might help people who read the discussion here

[2016-09-20 22:15] Loilo commented on #351
@aravantv Would you mind to post your workaround here?
The one provided by @mweststrate does not work for me so far.

It says "[mobx] Invariant failed: extendObservable expects an object as first argument".
I looked up the source code and realized that the class (by being a function) naturally fails the "typeof myclass === 'object'" test even if a function is an object too. :)

[2016-09-20 23:58] foxhound87 commented on #570
I just noticed that my form library has a similar error,
in this case the error is thrown here:

https://github.com/foxhound87/mobx-react-form/blob/e39cd14ab4c221329601e34214cab1775e30ae87/src/Form.js#L88

It seems like I cannot use computed values inside a promise.
It also throws: `error: [mobx] An uncaught exception occurred while calculating your computed value, autorun or transformer`

No erro

[2016-09-21 08:54] aravantv commented on #351
Unfortunately, my workaround is probably not satisfying for you: I just stopped using classes and use only plain functions instead... So a significant change of the architecture of your code.

[2016-09-21 09:07] Loilo commented on #351
Well I actually did a similar thing by moving the static properties before the class as normal variables. That's not pretty, but it works. Thanks anyway. :)

[2016-09-21 21:07] asterius1 commented on #333
It's still not always working correctly.

[code]

will return

[code]

first run is ok, second not

Looked into it and it looks like [argument length check](https://github.com/mobxjs/mobx/blob/master/src/utils/decorators.ts#L51) is not doing it's job, because `classPropertyDecorator` is [called with 4 arguments](https://github.com/mobxjs/mobx/blob/master/src/utils/decorators.ts#L101) regardless of

[2016-09-21 21:28] #333 closed

[2016-09-22 06:48] amir-arad commented on #570
In my experience this happens when you have more than one copy of Mutable in your module system. the ```getAtom``` function [check for atoms using ```instanceof``` javascript operator](https://github.com/mobxjs/mobx/blob/1a44ed75ded08d79c18b8b7b8465d86ec3de6499/src/types/type-utils.ts#L32), which uses nominal typings (checks ```thing.__proto__.constructor === BaseAtom```) instead of using duck typ

[2016-09-22 06:54] amir-arad opened #571 "don't use instanceof operator"
In my experience there's a bug when you have more than one copy of Mobx in your module system.
The ```getAtom``` function [checks for atoms using ```instanceof``` javascript operator](https://github.com/mobxjs/mobx/blob/1a44ed75ded08d79c18b8b7b8465d86ec3de6499/src/types/type-utils.ts#L32), which uses nominal typings (equiv. to ```thing.__proto__.constructor === BaseAtom```) instead of using [struc

[2016-09-22 08:14] amir-arad opened #572 "add name metadata modifier"
When I'm creating mobx instances, all instances are nameless. in the dev-tools I see objects named `"ObservableObject@505"` and such, although I may refer to them as `shoppingCart_5` (for instance) anywhere else in the code.
Injecting a custom instance name(incl. global id) will allow for better debugging experience as the object will be better linked to the application's logic.

I.M.O a new `name

[2016-09-22 16:24] urugator commented on #211
First of all, please stop advertising decorators as the ES6 way. Decorators are not part of the standard, not even in ES2016 (as documentation claims). No matter how awesome decorators are, I don't think they should be advertised as preferred way of doing things (in case of JS users). Same goes for field initializers.
`extendObservable` is ES6 and should be mentioned first in docs, not somewhere b

[2016-09-22 17:06] mikedklein commented on #160
@javascriptjedi @mweststrate We are running into a very similar issue with PhantomJS 2.1.1 and MobX 2.4.2. For us the problem is with push. as @javascriptjedi mentioned `console.log(_theObservableArray_.push.toString);` is correct (like immediately after declaring) then when the `it` block hits in the test it is now referencing find for some reason.

Just some things to note as I know "for some re

[2016-09-22 19:46] cellvia opened #573 "add "spy" functionality for mobx types"
Recently I have had the need to check not only if a property is a computed, but also if its a computed with a custom setter.

There are currently a few convenience methods for checking if a property of an object is an observable, but it would be nice if there was something more robust elaborating on the type and special properties , kind of like how "spy" is for events.

something maybe like...

[

[2016-09-23 02:53] foxhound87 commented on #570
The html-webpack-plugin was injecting 2 time the build.js into the index page.

[2016-09-23 02:53] #570 closed

[2016-09-23 06:19] ajma commented on #476
I ran into a problem when I had a list with section headers. After digging through some code, it turns out that ListViewDataSource when it was calculating rowIdentities on an ObservableArray, it does Objects.keys on it. RN expects that it would output the indexes of the array, but it doesn't because it's an Observable Array. My solution here is when I call cloneWithRowsAndSections, I have to pass

[2016-09-23 06:26] ajma commented on #476
Submitted a PR for ListViews to support ObservableArrays better. Not sure if they should take it or not though. I'll let them decide 😄
https://github.com/facebook/react-native/pull/10053

[2016-09-23 12:33] mweststrate commented on #160
@mikedklein could you set up a minimal reproduction? That would be really useful as these problems are reported now and then, but I didn't see a reliable setup for it so far

[2016-09-23 12:39] mikedklein commented on #160
@mweststrate definitely will try to get a setup over the weekend for you.

[2016-09-23 12:45] mweststrate commented on #211
@urugator the reason for the current behavior of `observable` is convention-over-configuration, so it acts like a swiss knife, trying to apply the most commonly wished behavior to whatever you pass to it. This often works great, but when being more experienced with MobX it is also nice to make things explicit indeed.

I think technically it should be very doable what you want, and I like the idea

[2016-09-23 13:11] mweststrate commented on #566
I'm not entirely sure about this PR;

1. as @andykog indicated, the `alreadySeen` mechanism should prevent this behavior, maybe there is a bug in there
2. this fix is not really scalable, generic, as there is potentially an unlimited amount of concepts in JavaScript that should not be serialized (for example: Promises)
3. This makes me wonder whether the current behavior of `toJS` is actually desi

[2016-09-23 13:17] andykog commented on #566
@mweststrate, this bothers me in current toJS behaviour as well, but to change it we have to at least somehow mark classes with properties decorated with `@observable`

[2016-09-23 13:31] mweststrate commented on #483
Merged PR, will be part of 2.5.2

[2016-09-23 13:31] #483 closed

[2016-09-23 13:38] mweststrate commented on #563
I think

[code]

Should work. Maybe a more neat solution is to allow state changes to observables that have no observers (and maybe also: that where created in the current tick)

[2016-09-23 13:39] mweststrate commented on #549
Closing this one for now, but anybody is free to pick things like these up ;)

[2016-09-23 13:39] #549 closed

[2016-09-23 13:40] mweststrate commented on #554
Closing this one for now. But let me know if somebody ports mobX to C# :)

[2016-09-23 13:40] #554 closed

[2016-09-23 13:45] mweststrate commented on #558
Ah this is a bug indeed I think, introduced [here](https://github.com/mobxjs/mobx/commit/d5bab8cc6d39bf492d7bf37b995edcb995f1970b#diff-147a1f3618d08f1399ce092b72872853R83) (the idea was that this is consistent with `computed`, but that is actually another use case, and getters are now the idiomatic way). I'll revert the behavior.

[2016-09-23 13:51] #558 closed

[2016-09-23 13:51] mweststrate commented on #558
Fix will be part of 2.5.2

[2016-09-23 13:55] mweststrate commented on #547
Closing this one in favor of #211, but thanks for the feedback! I agree, it would be cleaner :)

[2016-09-23 13:59] mweststrate commented on #566
@andykog they return `true` in `isObservableObject`. From there on we could iterate the observable, non computed properties as stored in the `$mobx` administration object

[2016-09-23 14:03] jeffijoe commented on #563
@mweststrate thanks for the workaround :)

I think it makes sense to allow changes for observables created in the current tick as well. :)

[2016-09-23 14:14] mweststrate commented on #463
Closing, this was released as 2.5.0

[2016-09-23 14:14] #463 closed

[2016-09-23 14:37] maxdeviant commented on #566
@mweststrate You are correct in that my PR is not really generic, since it grew out of an issue that we were encountering in our codebase.

So if there is a better solution that can be achieved that fixes the issue, I am all for that.

[2016-09-23 17:48] makeitrein opened #574 "Strategies for more granular control over @computed"
Hey all - struggling to figure out how to control when my @computed filteredTasks updates.

[code]

So far, this is all well and good! I change any of my filters, and the @computed filteredTasks immediately updates. I change any of the tasks within my @observable this.tasks, and the @computed filteredTasks immediately updates.

However, now I am introducing a new filter, called "tabFilter", that s

[2016-09-23 19:38] mweststrate commented on #552
@urugator yes if it is already `observable`  you get literally the same thing back. Filter does return an old fashioned array. It is not observable itself for the simple reason that it shouldn't change anymore in the future; it is a one time snapshot (instead, the computed should re-run, giving you a freshly filtered object when needed).

(Performance wise it might be interesting to have filter pr

[2016-09-24 00:39] JabX opened #575 "@observable property objects aren't recursively observable in computed properties or reactions."
Hello,
I've been trying to pinpoint what's happening to me for the last hour or so but I simply cannot find why it doesn't work as it should.

My problem is simple, I have a class like this:
[code]

The problem I have is that any reaction listening to `currentPath` will not react to a `id` or a `page` change, but will do on a `currentView` change. I looked with `whyRun()` which told me that it wou

[2016-09-24 13:48] urugator commented on #575
I use 2.3.7 without decorators and works just fine:
[code]

[2016-09-24 15:32] mikedklein commented on #160
@mweststrate so I got something [together](https://github.com/mikedklein/Phantom-Mobx-Problem) but I am really struggling to get this to happen reliably. Once I cleaned the project out it seemed like the error stopped. So I nested a timeout inside of a loop in the test and have gotten the error to happen sometimes. I have to run it multiple times for the error to pop. It almost seems like this is

[2016-09-24 16:13] urugator commented on #574
I believe there are two options:

1)
As you suggested, introduce an observable field (`tabTasks`), which holds tasks filtered by tab filter.
Then your `filteredTasks` will use `this.tabTasks` instead of `this.tasks`.
Now there are two ways to update `this.tabTasks` field:
a) As a reaction to tab filter change
[code]
b) Directly when you set the tab filter:
[code]

2)
Make field `tabTasks` computed

[2016-09-24 19:22] krtools commented on #160
@mikedklein @mweststrate Here's a boiled down version that i was able to reliably reproduce on my machine (mobx 2.4.2 and phantomjs 2.1.12 on windows)

https://gist.github.com/krtools/819293023786a240de144e2a970562e6

[2016-09-24 21:00] jeffijoe opened #576 "Add warning when passing an action to autorun"
I spent 30 minutes today wondering why my `autorun` wasn't triggering. Turns out it was because I was doing this:

[code]

and actions are untracked (as I found out in #490). I think it would be a good idea to add a development-only warning when attempting to set up `autorun` with an action.

Implementing it shouldn't be too difficult - the function being returned from `action` could have a tag (a

[2016-09-25 13:05] mweststrate commented on #576
Would you mind creating a PR? Should be pretty straightforward, since `isAction` already exists

[2016-09-25 13:17] jeffijoe commented on #576
I can try, hehe. :)

[2016-09-25 13:39] jeffijoe commented on #576
@mweststrate adding this check breaks existing tests.

![image](https://cloud.githubusercontent.com/assets/2505474/18815567/2037ed78-8336-11e6-993d-58f974da6ac2.png)

This is all I added:

![image](https://cloud.githubusercontent.com/assets/2505474/18815572/31cd12ca-8336-11e6-97de-af732b3d0292.png)

[2016-09-25 14:09] jeffijoe commented on #576
It appears to be related to using spies.

[2016-09-25 15:28] nadavsof opened #578 "Do implicit reactions that are generated by @computed or @observer require some kind of disposal?"
calling observe() returns a function that should be called for disposing the reaction. It seems that mobx has no way to know that an object which has a getter marked with @computed should be disposed.

If that's true, when an object X has a getter marked with @computed that returns some computation on object Y, then as long as Y is alive, it keeps X alive. Seemingly, there should be some dispose()

[2016-09-25 15:59] TuningGuide commented on #460
I just updated to 2.5.1 but the behaviour persisted. Has this been rolled back?

[2016-09-25 16:44] andykog commented on #552
Just to make sure, that my proposition is understood right: its not only about `filter`but about concistency when working with array data in mobx.
I suggest that any method except `toJS` returns `MobxArray`  (in the manner of [Immutable.js List](https://facebook.github.io/immutable-js/docs/#/List))
###### As an option, that could be implemented in a single class, pseudocode:
[code]
That may also a

[2016-09-25 20:54] makeitrein commented on #574
@urugator - many thx for providing multiple options - gave my team and I an option to determine which pattern we wanted to use for this.  I think we'll end up going with the untracked (option #2) - seems cleaner to me IMO.

[2016-09-25 20:54] #574 closed

[2016-09-25 22:49] urugator commented on #552
I just don't like the ambiguity. I would rather introduce MobxArray as a thin JS Array wrapper, having extended mobx array API, all methods return MobxArray instead of Array.
Then ObservableArray extends MobxArray, method signatures (return type) stays the same as in parent. Aside from that, I agree with proposal.

I would also introduce `mobx.isMobxArray` and `mobx.isArray`:
[code]

[2016-09-26 03:29] urugator commented on #211
I had some ideas and I like this one the most:
[code]
It's similar to decorators in a way, that it just adds some meta informations to existing fields.
However someone might not like that the definition of a single field needs to be on two places.
That can be solved like this:
The observable property descriptor also contains a field `value`, which represents initial value of the field.
So all we h

[2016-09-26 07:22] amir-arad commented on #571
I'd implement a [type guard](https://basarat.gitbooks.io/typescript/content/docs/types/typeGuard.html) for that type check, It improves code readability and is well suited for runtime contract checks.

[2016-09-26 11:34] jeffijoe commented on #578
I had this question earlier as well and from what I understand from @mweststrate it would appear that the disposer function being returned is purely a convenience for you to dispose _early_. When nobody cares about the reaction/computed anymore, all subscriptions have already been removed (If I understand correctly), and can therefore be GC'ed with no issues.

[2016-09-26 13:20] maxguzenski opened #579 "performance degradation"
I have fighting with a strange issue that make my site more and more slow overtime. Even screen render for the very first time (Store is empty) begin to take time to render (3 or 4 seconds, normally is less then 300ms).

Using chrome profile, it looks to be a method "closeAll" on mobx related to "action", BUT I DONT SURE. So, I have some questions:

1 - Is a problen to has actions calling actions?

[2016-09-26 15:05] nadavsof commented on #578
Thanks jeff for the reply. But wouldn't the observable keep the observer alive because it would hold a reference to it, not enabling GC to clean it?

Same problem happens in some other UI frameworks when you register to events and need to unregister later. UI framework can theoretically handle it when a component unloads from the visual tree, but here we are talking about POJOs that don't have unl

[2016-09-26 15:09] jeffijoe commented on #578
@nadavsof good question, and I don't have an answer but I'd like to know as well :) @mweststrate care to pitch in?

[2016-09-26 20:16] mweststrate commented on #535
Closing, as within the MobX package itself there won't be a generic solution.

[2016-09-26 20:16] #535 closed

[2016-09-26 20:40] JabX commented on #575
Okay, I found out it wasn't properly working. Turns out I was somewhere, unknowingly, doing `this.currentView = {}` which was destroying the observable properties.

So no problems with MobX, just me being stupid for not seeing that. My bad. That's good to know though.

[2016-09-26 20:40] #575 closed

[2016-09-27 05:50] mweststrate commented on #578
@nadavsof @jeffijoe the difference between computeds and reactions is that the one produces a value and the other an effect. For effects, MobX cannot determine when they need to stop, so preferably they need to be stopped manually, so that MobX can move the subscriptions. They can however be cleaned up, if they only refer a specific (set) of objects, and those objects in there entirety become unre

[2016-09-27 05:56] jeffijoe commented on #578
So the question is, should we be worried about code like this not being cleaned up?

[code]

[2016-09-27 06:12] mweststrate commented on #578
It depends, if `sendRequest` implementation itself doesn't access any other observables it is safe. (To make sure not to make mistakes with that `reaction` (or untracked) is useful: (`reaction(() => this.test, d => sendRequest(d))`)

[2016-09-27 06:13] jeffijoe commented on #578
What observables would it have to access to make it unsafe?

[2016-09-27 06:15] mweststrate commented on #579
Which MobX version? The most common performance pitfal is to forget to mark expensive operations / callbacks as `action`. Beyond that it can be that the computed values themselves are just expensive computation. The best way to find that out is usually using the browser profiler, see where a lot of CPU time is spend. For exampling sorting on a large collection is usually very expensive, especially

[2016-09-27 06:21] mweststrate commented on #578
@jeffijoe in the `sendRequest` case it is a bit hard to find such a case, but you could have for example:

[code]

But it is a bit artificial example, as this one is buggy ;-). It would re-run the autorun if the `loggedIn` status toggles which is probably not the intention in the first place. But similar patterns one could have when you have for example prices of order lines, which are calculated

[2016-09-27 06:26] jeffijoe commented on #578
Ah, I see - so if `autorun` only uses internal state of the class, then it's no problem? Won't that `globalState` keep it alive?

[2016-09-27 06:28] mweststrate commented on #578
@jeffijoe `globalState` in the mobx sources you mean? Nope, that is only used during mobx function runs, but if your app is idle, there is nothing in there

[2016-09-27 06:28] jeffijoe commented on #578
Aha, got it! Thanks for clarifying!

[2016-09-27 06:55] mweststrate commented on #576
can you turn it into a PR, then I'll verify.  might be error in the test

Op zo 25 sep. 2016 16:09 schreef Jeff Hansen <notifications@github.com>:

[2016-09-27 06:55] jeffijoe commented on #576
Will do!

[2016-09-27 07:02] MastroLindus opened #581 "actions and typescript getters/setters"
What's the best way to use mobx in combinations with getters/setters and actions?
So far I have seen examples either of getters/setters, or with actions, but not the two combined.

Especially by looking at the changelog of 2.5.1 and the comment that getters/setters functions are now the idiomatic way to introduce computed variables, I am a bit confused since it seems that you cannot use setters in

[2016-09-27 08:20] nadavsof commented on #578
Thanks for the helpful answer!

[2016-09-27 10:43] #578 closed

[2016-09-27 13:17] nsf commented on #540
Reproducable use case:

[code]

MobX 2.4.4 runs fine
MobX 2.5.2 fails with "cycle detected" exception

[2016-09-27 13:39] nsf commented on #540
Oh and to add to the above. Is it something inherently wrong with doing what I do here? Extending an observable with another observable? And I see no cycles here.

[2016-09-27 14:00] urugator commented on #581
AFAIK setters for computed props are wrapped into an actions automatically.

[2016-09-27 14:51] mweststrate commented on #540
@nsf that depends on which behavior you expect. `extendObservable` will one time copy the key / values from the source to the target (like object assign), so after extendObservable you will have two objects with different observables

[2016-09-27 15:13] mweststrate commented on #581
getters (computed properties) can never be actions, because they have explicitly the opposite goal :) setters of computed properties are automatically actions, and doesn't need to be decorated separately.

Action can be used as decorator on methods and fields that contain functions. They can't be applied to plain setters (not belonging to a computed prop) at this point, but the simple workaround i

[2016-09-27 15:16] nsf commented on #540
But why does it reports cycles in this case then?

is it fair to say that `extendObservable(a, b)` is equivalent to `extendObservable(a, toJS(b))` semantically?

[2016-09-27 17:13] mweststrate commented on #540
@nsf yes. the cycle is probably a bug, will investigate. Is the cycle still reported if actually using the `toJS`?

[2016-09-27 17:36] urugator commented on #529
I haven't put much thought to it, but may it be, that MobX should actually track not just `render` method, but "all" methods called during component update (lifecycle methods) (at least those, where it's not possible to change component state)?

[2016-09-27 17:40] nsf commented on #540
@mweststrate runs fine with toJS.

[2016-09-27 18:43] donpark commented on #529
That's a different problem which I think adding a section on how to write `react-mobx` like integration helper could be enough. Looking at the implementation, it wasn't exactly obvious.

As to the problem I was trying to communicate in this issue, what happened during TypeScript conversion I was doing over the weekend is a great example.

I had following code in my render code to make sure the Rea

[2016-09-27 19:48] mweststrate commented on #529
@donpark curious: why should the component re-render if the length is not in use anywhere?

[2016-09-28 02:51] donpark commented on #529
Right. Only key components are observers, to limit explicit mobx dependency. Subcomponents don't know anything about mobx so they're not observers.

Suggested best practice of converting mobx model to 'plain JS' conflicted with my need to allow subcomponents to change the model it received via props. So I chose the cheapest path, forcing a dot-into rule at the higher component.

[2016-09-28 04:05] arackaf opened #584 "Inquiry into autorun behavior with observable array.replce"
Apologies if this has been asked - I did look, but saw nothing.

Assuming arr is a standard observable array, consider:

[code]

This does NOT cause the autorun to fire after the call to `replace`, but forcing the observable array to unroll, by calling `slice` (or similar)

[code]

does.

Is this intended behavior?

[2016-09-28 07:05] mweststrate commented on #584
yes, the autorun does not use any values from the array, so re-running would (should) have no effect as far as MobX can tell. In the second version, it seems that the contents of the array is relevant, so MobX will react

[2016-09-28 07:11] mweststrate commented on #529
hmm just using `@observer` sounds cleaner to me (you can even abstract it away in your own utility function). Because currently the mobx usage sounds 'unbalanced', you want the mobx benefits while writing (reaction to direct assignments instead of providing actions etc), but don't want to use provided the mechanisms while reading in the same component?

If you really want to keep this separation,

[2016-09-28 14:03] arackaf commented on #584
Thanks Michael.  I guess the confusing bit is the asymmetry between primitives and arrays.  Reading the observable reference itself is enough for an autorun to subscribe for a primitive, so I had assumed it would be for an array, too.

[2016-09-28 14:03] #584 closed

[2016-09-28 14:30] mweststrate commented on #584
it is actually like an object indeed

Op wo 28 sep. 2016 16:03 schreef Adam Rackis <notifications@github.com>:

[2016-09-29 08:17] mweststrate commented on #540
@nsf / @ochervak proposal (see PR) is to fix this by explicitly forbidding this. Would this pose any problems for you?

[2016-09-29 08:29] nsf commented on #540
I'm okay with that. It also gives an explicit hint that properties are not somehow magically reused, but a completely different observable object is created instead.

Also btw, I don't know if my issue matches originally reported issue here. So, can't speak for @ochervak. Not even sure if this fix fixes his problem. But it's a newly introduced cycle detection that wasn't here before that.

[2016-09-29 09:18] mweststrate commented on #211
@urugator would you be interested in taking a shot at it? Branch https://github.com/mobxjs/mobx/tree/fix-571-no-instanceof is probably the most convenient one to start with. If you are unfamiliar with TS, feel free to leave the typings (cast (`as any` where needed)). If you would manage that would be great!

[2016-09-29 09:23] mweststrate commented on #160
can someone verify this happens in Safari as well or is it a PhantomJS only issue? (In the latter case I probably won't fix it, PhantomJS isn't an officially supported platform atm, just use electron (or submit a PR ;-))

[2016-09-29 09:25] mweststrate commented on #211
Idea in #572: support `name` modifier

[2016-09-29 09:27] mweststrate commented on #351
@aravantv  / @Loilo just wondering, does the following pattern work as work around?:

[code]

[2016-09-29 12:10] mikedklein commented on #160
@mweststrate tested in safari with same test setup as presented by @krtools and no errors.

[2016-09-30 03:23] ryanswapp opened #591 "Fresh install - conflicting versions of mobx"
Hello! I am a first time mobx user and am having some trouble. After running npm install --save mobx mobx-react and importing observable in a file I'm getting this error:
[code]
I dug through the source and discovered that my current version of mobx is firing MobXGlobals which returns version 4 but my system has global.__mobxGlobal.version set to 2. I've run ag over all my files trying to figure o

[2016-09-30 04:03] ryanswapp commented on #591
I think I discovered the issue. I was npm linking to a local module that had a dependency that depended on mobx 2.3.7.

[2016-09-30 04:03] #591 closed

[2016-09-30 17:13] sonayen commented on #476
@danieldunderfelt can you share some code? the following doesn't work
`ds = new ListView.DataSource({ rowHasChanged: (r1, r2) => r1 != r2 });
  @computed get list() { return this.ds.cloneWithRows(this._list); }`
`<ListView dataSource={listStore.list} />`

[2016-10-01 06:03] ajma commented on #476
@sonayen did you try wrapping it in mobx.toJS?

[2016-10-01 07:33] sonayen commented on #476
@ajma tried `dataSource={toJS(listStore.list)}` and `cloneWithRows(toJS(this._list));`, both didn't work

[2016-10-01 08:03] sonayen commented on #476
Here is my full attempt:

    import React, { Component } from 'react';
    import { ListView, Text } from 'react-native';

    import { computed, observable } from 'mobx';
    import { observer } from 'mobx-react/native';

    class ListStore {
      @observable list = [
        { text: 'Hello World!' },
        { text: 'Hello React Native!' },
        { text: 'Hello MobX!' }
      ];

      ds =

[2016-10-01 14:22] urugator commented on #211
#572 brings another requirement:  Modifiers should be  **parameterizable**.
Now we need to somehow deal with wrapped modifier, initial value and optional parameters.
Clearly, proposed syntax won't handle that. What are the options:

#### Passing complex "options" object:
[code]
**Problem:** complex syntax, far from declarative

#### Modifier accepts parameters, wrapping is done explicitely via wra

[2016-10-02 12:03] sonayen commented on #476
@ajma any thoughts?

[2016-10-02 12:07] danieldunderfelt commented on #476
@sonayen Hi! You need to `slice()` the observable array before giving it to `cloneWithRows`. Otherwise your code above looks good!

[2016-10-02 12:41] sonayen commented on #476
@danieldunderfelt finally it worked! thanks.
i am sure someone will encounter the same problem in the future since this is a common use case, so i will post the full working code.
[code]
![img_2152](https://cloud.githubusercontent.com/assets/21980286/19020573/8be065ee-88b5-11e6-86b6-0cad34fcdffa.PNG)

[2016-10-02 19:31] mdebbar commented on #211
I'm not a big fan of solution b) to chaining. That creates a loose dependency between stores and modifiers and it could easily break. It makes it hard to follow where a modifier is defined. I very much like the idea of a "modifier factory" instead. I look at it as a higher-order function that takes a simple modifier function and wraps it with all the necessary logic to handle decorator vs. modifie

[2016-10-02 23:31] urugator commented on #211
Not sure what you mean, stores are always dependent on modifiers they use.
Option b) just shows a possible way of making the custom modifiers chainable together with built-in modifiers.
I am not a big fan of it either, but I don't think it introduces some new dependencies. To make it clear some pseudocode:
Normal unchainable modifier:
[code]
Chainable modifier:
[code]
So now you just need a method

[2016-10-03 05:40] #571 closed

[2016-10-03 05:41] #540 closed

[2016-10-03 07:05] mweststrate commented on #476
@sonayen would you mind documenting the problem and solution approach here? https://github.com/mobxjs/mobx/blob/gh-pages/docs/best/pitfalls.md I think that would be really useful for people running into this in the future!

[2016-10-03 08:39] sonayen commented on #476
@mweststrate sure thing, i will work on it

[2016-10-03 15:17] dcadenas commented on #101
@mweststrate I think you meant to change the age in the last line of your example to show how the autorun uses the cached latest value of `displayName` as then neither `firstName` nor `lastName` are changed, something like: `p.age = 31;`

[2016-10-03 16:45] mohsen1 opened #592 "CDN files are broken"
Pasting content of `https://cdnjs.cloudflare.com/ajax/libs/mobx/2.5.2/mobx.min.js` in a browser console throws

[code]

[2016-10-03 17:22] mweststrate commented on #592
that seems correct. I think you need the `umd` build?
https://cdnjs.cloudflare.com/ajax/libs/mobx/2.5.2/mobx.umd.min.js

Op ma 3 okt. 2016 om 18:45 schreef Mohsen Azimi <notifications@github.com>:

[2016-10-03 17:26] mohsen1 commented on #592
oh right! Thanks!

[2016-10-03 17:26] #592 closed

[2016-10-04 08:30] capaj commented on #579
That to me sounds like problem with your view layer code, not MobX. I can't imagine a scenario where your empty store could halt for 300ms. Could you post code snippets how you initialize your store and maybe how your actions look?

[2016-10-04 10:54] mweststrate commented on #579
@maxguzenski closing issue for inactivity. Feel free to re-open if this is still an issue

[2016-10-04 10:54] #579 closed

[2016-10-04 10:55] mweststrate commented on #581
closing for inactivity and questions seems to be answered, feel free to re-open

[2016-10-04 10:55] #581 closed

[2016-10-04 10:56] jeffijoe commented on #576
Sweet!

[2016-10-04 12:01] mweststrate commented on #573
@cellvia `mobx@2.6.0` added `isComputed`, so you can now use `isComputed(obj, "prop")` and `isObservable(obj, "prop")`. That should suffice to address these issues I think. Whether an observable has observers can be determined by using the utilities from the `extras` namespace, e.g. https://github.com/mobxjs/mobx/blob/gh-pages/docs/refguide/api.md#extrasgetdependencytree

[2016-10-05 04:20] mdebbar commented on #211
### Loose dependency
Never mind, I misunderstood. But I still think chaining doesn't add a lot value here.

### Function vs. object modifier

#### 1. Inheritance:

Anything you want to achieve with objects, you can achieve with functions (and composition). For example, if you want to extend/inherit the logic of another modifier:
[code]
#### 2. Modifier factory:
Using classes and objects makes it e

[2016-10-05 17:00] rstudner commented on #104
@nightwolfz, @iam4x  - have you two thought of combining your efforts?  I'm looking for a mobx boilerplate to start a project and just like in the react/redux land -- the # of choices causes analysis paralysis hah.

[2016-10-05 18:49] bb opened #595 "Array properties should be sliced (for concat, destructuring, etc)"
Those 5 example cases should all have the same output, but the 2nd and 4th are currently different:

[code]

Output:

[code]

@mweststrate pointed out on gitter:

### EDIT: forgot mobx.observable([]) in initial version

The _2nd_ example was not using mobx.observable. Sorry for this copy'n'paste error. It's now fixed above. Please note that this brought up another difference for the empty observab

[2016-10-05 20:37] antitoxic commented on #331
@mweststrate I'm seeing in the docs:

If that's true, what's the actual difference between `action` and `runInAction`? I think it's more harm to introduce a diffrently named API which looks identical to `action` and also the name  `runInAction` is frustrating me as hell. Does `runInAction` means that it will detect the current parent action and attaches some metadata to it describing it has childr

[2016-10-05 20:40] mattruby commented on #331
runInAction just executes your function in line without having to add the
().  I use it often in promise handlers.

On Wed, Oct 5, 2016 at 3:37 PM, Anton Stoychev <notifications@github.com>
wrote:

--
-Matt Ruby-
mattruby@gmail.com

[2016-10-05 20:47] antitoxic commented on #331
@mattruby

These two has no difference:
[code]

[code]

Why do I need `runInAction` when I can use `action`?

[2016-10-05 20:52] mattruby commented on #331
From the docs:
[code]
In your example, you're right, there's no need for runInAction.

[2016-10-05 20:58] andykog commented on #331
Hm, actually, the first example is incorrect. Callback will be executed _before_ promise resolve, in addition, you can't pass function with arguments to `runInAction`

[2016-10-05 21:29] bb commented on #595
After a few more thoughts and debug outputs, it looks to me that an array property of an observable object is not imitating array as good as observableArray does.

Some more differences between the 5 examples:
* all but the wrong one return true for ```Array.isArray(x)``` (but all return true for ```x instanceof Array```)
* browser/nodejs console.log output an array literal for all except the wron

[2016-10-05 21:47] antitoxic commented on #331
@andykog, So is this:

[code]
equivelent to:
[code]
?

[2016-10-05 22:04] adamski commented on #105
I had this come up, after adding a new preset to my `.babelrc`. Solved by switching them around:
[code]

[2016-10-05 22:33] andykog commented on #331
@antitoxic, yep :-)

[2016-10-06 06:24] mweststrate commented on #105
So with this setup you don't need `transform-decorators-legacy`?

Op do 6 okt. 2016 om 00:04 schreef Adam Wilson <notifications@github.com>:

[2016-10-06 07:20] antitoxic commented on #331
So is it worth to introduce a new way to do the same thing in the API?

[2016-10-06 08:58] adamski commented on #105
No, that's what `react-native-stage-0/decorator-support` does

[2016-10-06 09:11] antitoxic opened #598 "Allow wrapping getter and setter of `classPropertyDecorator`"
As far as I can understand the code (*which to me looks really hard to get into*) mobx does some lazy initialization logic once a class instance is created. This lazy init logic is triggered when an observable property is accessed or set for the first time.

However this prevents me and other people to add extra prop descriptors ***after*** `observable` descriptor. This really is a problem.

For [

[2016-10-06 09:55] mweststrate commented on #598
yes the reason for that nasty business is to have the same behavior in both typescript and babel compiled decorators, which both implement decorators in a semantically different way.

There are several solution to work around this
1. use `intercept`, as is done for example here: https://github.com/mweststrate/mobx-state-tree/blob/master/src/core/node.ts#L31 + https://github.com/mweststrate/mobx-st

[2016-10-06 10:20] antitoxic commented on #598
What worries me is that these are all work arounds and I have to write more and more mobx-specific code when it should be possible to do it with standard js as above.

This is bad for project because it decreases readability. I also need to document all of these workarounds.

2 questions:
1. Is it possible to make the build process output 2 distributions (babel and typescript) or is it too much ha

[2016-10-06 10:28] mweststrate commented on #598
the problem is not in the builds, but in the semantics. It can only be made simpler if mobx would *behave* differently when using typescript and babel. But that would support wise be a disaster.

I think the short and sweet of having it clean and straight forward is: don't use decorators in the first place (or just not the mobx ones). it is a moving spec with poor implementations. Note that you do

[2016-10-06 10:32] mweststrate commented on #331
yeah that is always a hard balancing act: minimal api versus convenience. E.g. `observable(object)` is largely a shortcut for `extendObservable(object, object)`, but a very frequently used one. Similar `expr(f)` is a short `computed(f).get()`. But that one is hardly used and deprecated atm. It's hard too predict this upfront :)

[2016-10-06 11:07] antitoxic commented on #598
To summarize gitter discussion here:

Decorators are still encouraged to use (_as the examples in the docs widely use them_). The limitation is the composability of descriptors.

Though I believe there is some kind of problem with mobx descriptors ignoring/discarding any changes done to them. The example above shows:

[code]
This should mean the descriptors object (by reference) and if it's really

[2016-10-06 11:52] antitoxic commented on #598
Anyways, I'm writing one of the suggested workarounds - boxed value with custom decorator that uses it. I will post it afterwards.

[2016-10-06 12:01] giladv opened #599 "mobx + draft js slowness"
Hi,

My project implements a draft js editor with an observable state and while on desktop it works just fine, on mobile it gets extremely slow as the draft state grows.
i've noticed that using react state solves the issue so i"m confident i"m doing something wrong on the mobx side.

i tried using an asReference/asStructure modifiers but it still works slow.
any suggestions?

best,
Gilad

[2016-10-06 13:15] feroult commented on #476
It seems that the solution above doesn't work for inner object property updates. For instance, if we have this observable, instead of a plain string array:

[code]

Then our `renderRow` method should be ` renderRow={row => <Text>{row.text}</Text>}`.

Now if  an `@action` update an item, like `list[0].text = 'new text'`, the ListView won't update.

The renderRow function won't fire the reactions to

[2016-10-06 13:31] antitoxic commented on #598
Workaround using `extendObservable` with custom `observable` decorator:

[code]

[2016-10-06 13:31] #598 closed

[2016-10-06 15:18] urugator commented on #211
Functionally yes, however I wouldn't say it's always the most practical.

It's good pattern to add functionality by using composition, I woudn't use it for this though (building class). I can eventually explain why, but for now, it's not so important.

Could you please change your examples in a way, that it's possible to pass any arbitrary arguments to modifier, for example argument `name`?
Also p

[2016-10-06 15:24] mweststrate commented on #211
I'm not sure whether generic modifiers are really required as feature; their meaning has usually a lot of impact on the implementation of the actual types in mobx. (e.g. `asStructure` behaves very different for computed values and objects).

The most important thing is to have better names, and nice syntax for ES5 I think.

Although, custom modifiers could be nice sugar around attaching `intercept

[2016-10-06 15:27] mweststrate commented on #211
not sure btw whether #572 should be solved via identifiers; setting it at declaration time or with a decorator might be nicer:
[code]

For ES.next it could be a class decorator maybe

[2016-10-06 15:43] mweststrate commented on #211
Personally I would I think have the following contract for modifiers:
[code]

Usage:
[code]

Definition:
[code]

have to go, so this is basically a brain fart ;-)

[2016-10-06 22:33] sonayen commented on #476
@feroult it seems that iteration is the solution for now (es5 compatibility related).

one down side also would be that you have to explicitly iterate through each object key that you wish to have it value observed:
`@observable list = [{ text: 'foo', subtext: 'bar' }];`
`this.list.forEach(e => [ e.text, e.subtext ])`;

more discussion about this [here](https://github.com/mobxjs/mobx/issues/90).

[2016-10-06 22:40] urugator commented on #211
Imo it's just a matter of time until another similar requirement will appear, therefore I woudn't solve it by introducing another parameters...
The problem can be generalized: "How to provide some metadata for observable object?". I would use the same concept as with properties - descriptor and modifiers.
Let `observable` accept modifier(s) the same way as `extendObservable` does: `observable(valu

[2016-10-07 05:31] danieldunderfelt commented on #476
@feroult The reason you're not seeing updates is that `renderRow` does not react to changes. `observer` only makes the render function re-run on changes, not any other function. You need to make sure that your row component state is used within a `render` function, and the easiest way to do that is to create a separate component.

Then your `renderRow` is simply:

[code]

So it is not the datasour

[2016-10-07 08:15] mweststrate commented on #476
For an explanation, see also: https://github.com/mobxjs/mobx/blob/gh-pages/docs/best/react.md#mobx-only-tracks-synchronously-accessed-data

[2016-10-08 10:34] HaveF opened #600 "class overrides problem"
# case 1  [JS Bin](https://jsbin.com/keyoporecu/edit?html,js,console,output)

mobx@2.4.3

[code]

the result is:

but I do like to see this result:

# case 2  [JS Bin](https://jsbin.com/zekadedita/1/edit?html,js,console,output)

same code, but with mobx@2.6.0, the result is

# case 3  [JS Bin ](https://jsbin.com/decuwo/edit?js,console,output)

use `@observable` and mobx@2.6.0

[code]

it works! wh

[2016-10-08 18:22] artursgirons opened #601 "How to terminate observability?"
...or how to unsubscribe all observers from observing some observable property?
so that if this property changes observers don't get triggered.
for example in case of some exception happening and component not wanting any further updates to occur even if observed prop changes after this exception.

[2016-10-09 01:22] urugator commented on #601
I am not familiar with mobx internals, but here is my logic:
In case of react components (or autorun in general), the "subscription" is done by accessing the observables during render method (or method passed to autorun).
So to "unsubscribe" you would need to run the render again without accessing the observables.
That may seem a bit impractical, but it kinda make sense - if you use "magic" to sub

[2016-10-09 05:57] artursgirons commented on #601
@urugator thanks! Particularly rewriting render will work, but IMO it will still cause this blank render to happen, witch on server will still cause "attempting to update unmounted component" error.
And yes, I'm looking for more "native" way of "switching the observability on and off for given observable"
My current solution:
[code]
But on-and-off-ing without changing object structure would be nic

[2016-10-09 07:32] mweststrate commented on #601
usually questions like this indicate there is more state in play them was stored, e.g. "there was an exception". putting that state in an observable and use it to short circuit the render function is a simple and elegant solution. let me know whether it applies to your use case!

[2016-10-09 10:58] plinyar opened #603 "transaction function has no try/finally block"
I got an exception inside a code block wrapped in [transaction](https://github.com/mobxjs/mobx/blob/6e3df706de1f1fc2408ba919559297cd0d07573e/src/core/transaction.ts#L12) function, after that reactions stopped working.
Problem was found that the function increments globalState.inTransaction and then decrements it without try/finally block.

[2016-10-10 11:51] Strate opened #604 "Observable array: seems it is possible to get it to be true array."
Hey @mweststrate,
what do you think about this technique:
[code]
Is there any caveats which I don't see?

[2016-10-10 12:30] mweststrate commented on #604
yeah the problem is that native arrays don't allow the `.length` property to be reconfigured, which make it impossible for mobx to intercept / detect changes in length

[2016-10-10 12:32] mweststrate commented on #603
You are right. Should be addressed here: https://github.com/mobxjs/mobx/blob/99e70d5fb6371fbb453ae117a0744d71b4df3edc/src/core/transaction.ts#L14

[2016-10-10 12:38] mweststrate commented on #211
yeah no problem, I think you are onto something here, but I am sadly too occupied atm to take a deep dive into this :) (4 talks in the next 3 weeks), but I'll come back to this later! In november or something like that

[2016-10-10 12:44] mweststrate commented on #600
Note that overriding properties is in principle not supported. If you want to have a inherited `toJson` mechanism I recommend to declare it only once, in the base class, and then invoke a helper *function* from there that can do the required `super` calls. That being said I think that at least the `extendObservable` based redefinition should work or give a better error.

[2016-10-10 15:08] HaveF commented on #600
Thanks for your comments, but I do not know how to write the helper function, define a new toJson method but inherited baseProp properties in ChildClass with extendObservable (case 1).

could you give me more tips? thanks!

btw, in large application, how do you handle class extends problem? I do like to have a base store, and inherit it to get another store.

[2016-10-10 15:33] urugator commented on #600
[code]
Btw I don't think it's mentioned somewhere in doc...

[2016-10-10 23:22] nightwolfz commented on #104
@rstudner That will be difficult since we took different approaches. I want [mobx-starter](https://github.com/nightwolfz/mobx-starter) to just be the minimum required to run a production ready website.

[2016-10-11 00:03] HaveF commented on #600
@urugator Thanks! It works.

Anyway, I suppose the `extendObservable` and `@observable` way should behave the same,

[2016-10-11 06:54] artursgirons commented on #601
@mweststrate If you mean approach similar to what @urugator suggested then yes, it will work for not rendering content or to render `null`, but this IMO does not solve **server side** rendering issue, or maybe we are missing each others points.
Let me describe a scenario:

1. There is some state management mechanics that use MobX under the hood
2. When request comes to **server** tree of pre-fetch

[2016-10-11 07:00] artursgirons commented on #601
Should `@observer` from `mobx-react` not be used on **server**?

[2016-10-11 07:18] mweststrate commented on #601
what is your intended server flow here? Render the first state of the component tree and be done. Because if that is the case you don't have to kick off the promises at all. But if you want to wait until both promises has settled, the `renderToString` should not be invoked until both promises have settled? E.g. use promise.all? Note that if you want to renderd based on promises [`mobxUtils.fromPro

[2016-10-11 07:49] artursgirons commented on #601
K! thanks!

[2016-10-11 07:49] #601 closed

[2016-10-12 13:16] adonis-work opened #605 "Using store as a global singleton to simplify components"
Exporting store as a singleton:

[code]

... enables us to import and use the active store anywhere in the app as many times we want.

[code]

I am using this approach without problems for some time now. Are there any caveats I should look out for?

[2016-10-13 06:31] kevalbhatt opened #606 "Update observable object silently"
is it possible to update observable object silently ? i.e change object value but don't trigger render method

Example backbone collection {silent:true} feature

http://stackoverflow.com/a/16056331/4696809

[2016-10-13 13:53] mweststrate commented on #606
No, deliberately not, as this would allow you to actually build a system that looses it consistency guarantees. Why would you need this?

[2016-10-13 13:56] mweststrate commented on #605
From a technical perspective there is nothing wrong with this. Quite some people use this approach. Personally I prefer using some dependency injection system or pass stores explicitly, so that you can create fresh store instances for each test you create, instead of having a single global store which needs to be reset after each test. It will help scaling your project.

[2016-10-13 13:57] mweststrate commented on #599
Are you using actions / transactions already? Besides that it is hard to answer the question without code :)

[2016-10-13 14:02] giladv commented on #599
tried as follows:
[code]

[2016-10-13 14:07] urugator commented on #605
There is one generic problem with exporting "stateful" objects - their singleton behavior relies on module caching. When you turn off module caching for any reason (hot-reloading etc), you will obtain different instance each time you import a module.
I think that caching in general should work only as an optimization tool, so I am not a fan o this approach.
Also your component is hardwired to a pa

[2016-10-13 14:39] adonis-work commented on #605
I would like to use `import ...` statement to get my datasource into the component. Same way like all other dependencies are imported.

Maybe creating a singleton at the point of `default export` is really not the optimal place to do it.

How about (when created) automatically linking them to the root component (like `<App />` or `document.body`) which would be garbage collected last?

This way we

[2016-10-13 14:53] adonis-work commented on #606
You could stop reactions from triggering if you'd `intercept(` the action.
Untriggered action would then also not trigger any reactions.

https://mobxjs.github.io/mobx/refguide/observe.html

[2016-10-13 15:33] urugator commented on #605
This is basically [Service locator pattern](https://en.wikipedia.org/wiki/Service_locator_pattern)

[2016-10-13 18:09] giacomorebonato opened #607 "Should I use observable in SSR?"
I am learning server side rendering techniques. This is how I inject my stores into the context on client side
[code]

On the server instead of injecting the mobx stores, I am injecting a plain object
[code]

Is it right?
If I inject the mobx stores on the server I would have the unwanted effect of:
- maintaining the stores singleton among multiple requests
- the observer components would watch fo

[2016-10-13 21:19] giacomorebonato commented on #607
I have seen that the best approach is to initialise a new instance of the stores at every requests.

[2016-10-13 21:19] #607 closed

[2016-10-13 21:46] urugator commented on #605
Coincidentally, there was an issue a sec ago about server side rendering (#607), which implies another problem you may encounter when using module caching as a mean for singleton implementation.
When you run your code on the server, your singletons will be shared by all requests. (Note that removing the singleton module from cache at every request woudn't help, because request processing can be as

[2016-10-14 02:07] ericclemmons commented on #462
Another helpful note, **be sure that you don't have both a `@computed` and `@observable` by the same name**.

This is common during refactoring code, and will cause this error.  Removing the duplicate definition should resolve it.

[2016-10-14 05:37] mweststrate commented on #462
Heh nice one. Isn't the double declaration not picked up by lint / flow /
typescript btw? Or not using any of those?

Op vr 14 okt. 2016 om 04:07 schreef Eric Clemmons <notifications@github.com

[2016-10-14 06:50] adonis-work commented on #605
Would storing a pointer to the store to a property of the root nodes ref solve this?

https://facebook.github.io/react/docs/more-about-refs.html

[2016-10-14 09:55] urugator commented on #605
No, it doesn't matter where you store the returned instance of store.
The problem is that `import store from Store` imports the same instance of store for the whole lifetime of application (or to be precise the whole lifetime of module cache).
That's fine if you run the code on the client side, because the application lifetime is the the same as the intended store lifetime, which is the single pag

[2016-10-14 12:07] VolCh commented on #605
We use global singletons on the client side for application and business logic (MC from MVC) but not for React components (V from MVC), we pass it to components via props from root components. We decided that the import of singletons into components greatly complicates their support, debugging and testing.

[2016-10-14 12:17] adonis-work commented on #605
@urugator I'd use refs only on the root node of the application, to protect the store from garbage collector. This could work only on the client side, because server doesn't have a dom. Maybe storing the state in something similar to a cookie jar would work to bridge sessions on the server.

@VolCh If I understand you correctly, you're saying that all things touching the store are functions existi

[2016-10-14 14:33] ericclemmons commented on #462
@mweststrate It seems our ESLint rules (based on those from AirBnB) don't see duplicate class properties as a problem.

Anyway, thought it was an interesting edge-case, but it's definitely user-error.

[2016-10-14 14:54] andykog commented on #606
@adonis-work, with `intercept` you can prevent observable value from being changed, but if it is changed, you can't prevent other values from reacting to that, right?

[2016-10-14 17:12] dylanparry opened #610 "Observable arrays of classes and React Dev Tools"
Hi,

I've been trying to get get an array of class objects to work and have been coming across errors in React Dev Tools. What I have so far is this test case:

[code]

This renders a simple counter with a button to click to add a new `TestItem` to the observable array in my `TestStore`. When I click the button in the browser, the counter increases. If I open up React Dev Tools and click on the `P

[2016-10-14 17:37] urugator commented on #605
Unfortunately I really don't see how persisting state or garbage collector concerns relate to the problem.
To get a better picture, I will just try to explain what I currently do:
I have a class `App` representing whole client app, it instantiates and holds all the stores. It's constructor accepts an object `state`, which is just a serializable object, representing initial state of the client appl

[2016-10-14 17:45] mweststrate commented on #599
Ho not sure if it relates, but calling your observable `state` might be dangerous as it probably accidentally hides React's own state concept.

But please elaborate on your issue. Have you a running example somewhere? Did you profile it already. Where is it slow, in the renders, or in the event handlers ....  How often is the component rendered, how quickly is onChange triggered, etc etc. Please p

[2016-10-14 18:15] mweststrate commented on #610
I have seen this lately as well. So far seems to be chrome specific. Will investigate further! If you want to log it in your console, simply calling `.slice()`/ `toString()` / `toJS()` first will print it properly

[2016-10-14 18:30] andykog commented on #610
See https://github.com/mobxjs/mobx/issues/410

[2016-10-14 18:34] dylanparry commented on #610
Thanks. So, just to confirm, I'm not doing anything wrong with my code and the approach I've taken is correct? I'd usually rely on the React Dev Tools to make sure I'm doing things right, so when they're not working I feel like I'm a bit in the dark :)

[2016-10-14 20:07] andykog commented on #610
@dylanparry, yep, it's known problem with react-devtools data (de)serializing. You can convert your ObservableArrays to plain Array before passing it as a props  (currently you can call `myObservableArray.slice()` which is idiomatic way, but I would prefer `Array.from(myObservableArray) or `Array.prototype.slice.call(myObservableArray)`, see #552)

[2016-10-14 23:56] ppatel890 opened #611 "autorunAsync stops observing observable array"
Hi,

I have a couple instances of autorunAysnc that stop observing an Observable array randomly. Tried to search issues, but still couldn't exactly figure it out. Restarting server returns everything to a working mode, but as more and more users start using the app, eventually fails again silently.

[code]

Updates to the observable array don't trigger the autorun, and new tasks aren't written to

[2016-10-15 01:22] natew opened #612 "Can't create observable programatically and then access it in same frame"
2. [x] Issue. Please make sure you have the following:
  * [x] Did you check this issue wasn't filed before?
  * [ ] What is your issue, why do you thing this is not the expected behavior?

This is for an interesting use case, but I'm basically wrapping mobx at a higher level, allowing people to define queries through Horizon and get back an observable that automatically updates with the query.

T

[2016-10-15 02:36] natew commented on #612
Attempted to use `extendObservable` and I believe getting similar results.

[2016-10-15 14:16] ugros opened #613 "Make observables used in computed value watched even if not used in last computation"
Hello, I created a SO question a few days ago, but I didn't get any answers.
Maybe I could get any help or suggestion here?

SO question: http://stackoverflow.com/questions/39986495/make-observables-used-in-computed-value-watched-even-if-not-used-in-last-computa

Thanks

[2016-10-15 14:21] mweststrate commented on #613
@ugros You can use `observe` from `mobx` or `keepAlive` from `mobx-utils` to keep an observable alive. But I think the interesting question is, why do you want to keep it alive if it is not relevant for the computed value at this point?

Conditions in computed values are perfectly sane, the fact that observables are temporarily de-observed if not in active usually results in significant performanc

[2016-10-16 01:29] urugator commented on #612
I am not sure what you are trying to do, but few ideas:
[observable](http://mobxjs.github.io/mobx/refguide/observable.html) accepts only single argument.
To add new observable property to an existing object use [extendObservable](http://mobxjs.github.io/mobx/refguide/extend-observable.html).
Class can't be made observable, because class is a function, if you want to make class observable you have

[2016-10-16 02:51] natew commented on #612
@urugator apologies, my psuedo code was wrong. That would be on the instantiated class. But the point I'm making is that I'd like to create and return an observable item within the same frame, and that seems impossible. Updated code:

[code]

[2016-10-16 10:41] urugator commented on #612
You're code is still invalid, you're redeclaring `value` so I am not sure what you're trying to return...

If you want to return `t` with new observable property `test`:
[code]
If you want to return a value of new observable property:
[code]

[2016-10-16 18:16] valorize commented on #503
Hi, my editor tells me that:
[code]

[2016-10-16 18:59] natew commented on #612
Next time I'll probably just adapt the real code over, I guess my pseudo
code is failing.

Would not this return the same error though? I'll give it a shot but
whenever I try and define an observable and then access that observable
then in the next line it gives me a runtime error.

On Sunday, October 16, 2016, urugator <notifications@github.com> wrote:

--
natewienert.com @natebirdman <http://twi

[2016-10-16 20:01] jamesmccann commented on #530
@mweststrate I've been able to reproduce this when the observable array is nested within an object within an array, e.g.

[code]

Will produce:

[code]

Is this expected behaviour?

[2016-10-16 20:54] urugator commented on #612
Nope, you're doing domething wrong. You should not call `observable` decorator directly, nor redefine observable property, nor call `value.get()`.

[2016-10-16 23:16] natew commented on #612
Woah, ok found it was a pretty tricky issue on my end, and this is behaving just fine. Thanks!

[2016-10-16 23:16] #612 closed

[2016-10-17 06:28] mweststrate commented on #530
@jamesmccann can you JSON.stringify first, or use console.dir? `console.log` doesnt print deeply nested structures

[2016-10-17 06:30] mweststrate commented on #503
@valorize what is the code you get the error on, and the variable definition. Which version of typescript? (in your IDE, ide's sometimes pick a different version then you intended to compile with)

[2016-10-17 06:41] kevalbhatt commented on #606
@andykog and @mweststrate I found one solution but Don't know it is right or wrong .

**Problem statement:**

I have two functions, First function is responsible for fetching data and the second function is called before fetch data. (i.e before first function)

so the problem is if I update Observable object property inside second function(i.e before fetch call ) then based on object change render

[2016-10-17 08:33] AoDev opened #614 "[issue] "e.observing is null" since last update of firefox"
Hello, our app started to have an issue on Firefox with their last update:

`e.observing is null`

with `mobx: 2.5.2,  mobx-react: 3.5.6,`

(for example I had FF 47.8, I think, and it updated to 49.0.1)

Since then we have an issue related to a `<select />` which values are observables.
When a value is selected, it throws `e.observing is null`.

This bug was confirmed by various people, developers

[2016-10-17 12:22] mattruby commented on #614
Can you please create a fiddle recreating this issue.

On Oct 17, 2016 3:33 AM, "AoDev" <notifications@github.com> wrote:

[2016-10-17 14:44] AoDev commented on #614
I made a one but I can't reproduce this issue with a simple test case. Right now we have seen that it fails in production while working in our staging. I am still investigating. Maybe the issue is on our end only finally.
I'll try to give more feedback and see if it's really related to mobx. Do you have any hint regarding this specific message? when why it can happen?

[2016-10-17 14:59] AoDev commented on #614
Found update related to selects in Firefox (from 47 to 48)

https://fossies.org/diffs/firefox/47.0.1.source_vs_48.0.source/toolkit/modules/SelectContentHelper.jsm-diff.html

[2016-10-17 19:42] jamesmccann commented on #530
@mweststrate can confirm works fine with JSON.stringify, must have been another issue and the console had led me to wrongly thinking it was this. Cheers :)

[2016-10-18 03:47] Kamaraju333 commented on #199
@mweststrate can you explain how observable works internally and is state immutable in mobx?

[2016-10-18 04:29] mattruby commented on #199
Mobx state is not immutable.  Here's a video that goes over how mobx works
: https://youtu.be/TfxfRkNCnmk there are many articles that go over how
mobx works.

On Oct 17, 2016 10:47 PM, "Kamaraju prathi" <notifications@github.com>
wrote:

[2016-10-18 05:16] mweststrate commented on #614
I would expect all data objects to be untouched by the DOM, but to avoid
any issues, you could pass plain objects to the DOM, and maintain a simple
mapping which is used in your event handlers to find the real object back?

Op ma 17 okt. 2016 om 16:59 schreef AoDev <notifications@github.com>:

[2016-10-18 11:15] mweststrate commented on #613
Closing question for now, this is intended behavior. If it is still unclear, feel free to re-open

[2016-10-18 11:15] #613 closed

[2016-10-18 11:18] mweststrate commented on #611
Sorry for the late response.

Note that observable arrays are not plain javascript objects, so you probably want to serialize them as `JSON.stringify(mobx.toJS(tasks))`

[2016-10-18 11:20] mweststrate commented on #605
Closing this question, I think it doesn't really relate to MobX anymore, but more to general app design :)

[2016-10-18 11:20] #605 closed

[2016-10-18 11:23] mweststrate commented on #606
@kevalbhatt if your app can be in a state where the `node` are not fit to be rendered, then that state should be expressed as observable as well :). E.g. `@observable shouldBeRenderingNodes = false`.

For promises it is typically done like this:
![case](https://cloud.githubusercontent.com/assets/1820292/19475773/03ffb318-9536-11e6-950e-fcf1869e40da.png) (the from-promise utility from mobx-utils ma