[2016-03-01 12:10] vladimir-rovensky commented on #101
Very nice, thank you for explaining.

[2016-03-01 12:29] girvo opened #142 "Feature request: custom setters for `@observable` properties"
Hey there,

As I mentioned in the Discord chat, one feature I'd love to see (if it fits in with the rest of the architecture) is custom setters for `@observable` properties.

The main use-case for this is to be able to validate data being passed into the property, as well as emulating the "one-way data flow" of Flux somewhat. Basically, in the same way Actions in Flux can verify the data passed to

[2016-03-01 12:51] mweststrate commented on #101
Btw, it is explained in more detail here: https://www.mendix.com/tech-blog/making-react-reactive-pursuit-high-performing-easily-maintainable-react-apps/. It explains also how it results in 100% non-wasted renderings.

[2016-03-01 21:09] #136 closed

[2016-03-02 02:53] rickmed opened #143 "[mobx] Deprecated: Invoking observable() on scalar values is deprecated. Use extendObservable or @observable instead."
How would you implement the example in docs (below)?

[code]

[2016-03-02 06:48] mweststrate commented on #143
@rickmed:

It would become:
[code]

I definitely should update the docs, but I'm not 100% sure yet whether to really push for this deprecation. In practice observables are always used in some app context. But for testing, experimenting and doing more abstract stuff as making libraries these stand alone observables are quite convenient. On the other hand, I want to keep the api small :)

[2016-03-02 11:12] Kosta-Github commented on #143
IMHO, the `sum` example given by @rickmed above makes sense to support; e.g., I am in the need for something similar with my `react` components using some derived values without explicitly adding them to an `observable` object first...

[2016-03-02 11:52] mweststrate commented on #143
@Kosta-Github, note that if using ES6/7 you can just introduce observable instance fields in react components

[code]

[2016-03-02 12:22] Kosta-Github commented on #143
I am using pure render functions without internal state; the state is provided by a mapper; but the mapper is used for several components.

And I want to avoid the usage of decorators, because they haven't been standardized yet and are not supported by `babel 6` (only via a legacy plugin)...

[2016-03-02 12:29] mweststrate commented on #143
That is a very fair point :) I'm gonna sleep a night over it, but I think I'm gonna undeprecate this one.

[2016-03-02 14:44] chicoxyzzy commented on #140
yep I still had no time to make some improvements but I think I'll try to revisit rx-mobservable soon. @mweststrate, does mObservable and mobx have any differences in their API?

[2016-03-02 14:51] mweststrate commented on #140
Hardly, see: https://github.com/mobxjs/mobx/blob/master/CHANGELOG.md. But `Atom`s can be used now, which might make integration cleaner. See: http://mobxjs.github.io/mobx/refguide/extending.html

[2016-03-02 16:04] rickmed commented on #143
@mweststrate Building up @Kosta-Github comments, I understand why there are specific react bindings and a lot of examples using it, but there is a lot more value using mobx using whatever pattern you would like. My specific need is separating state (observable objects) from actions, which would be similar to the example above (looking for an elmish pattern, not using reactjs at all).

[2016-03-02 16:08] rickmed commented on #140
@mweststrate yes, thanks, I've already seen it but thought it wouldn't work with mobx as opposed to mobservable.

[2016-03-02 16:14] mweststrate commented on #143
@rickmed check. Definitely it is strongly recommended to keep state as much as possible outside of components. Don't get me wrong on that :).

From my humble opinion these are, in order, the best methods to create observable objects:

[code]
This is very explicit and easy to read for everyone.

[code]
That one is very nice if you like working with plain objects instead of prototypes

[code]

The l

[2016-03-02 16:48] mweststrate commented on #140
@rickmed Ah check, didn't think about the rename :) that probably will break stuff.
@chicoxyzzy do you need help with migrating? Otherwise I can submit a PR

[2016-03-02 16:54] mweststrate commented on #142
Just was thinking about adding this feature, then I realized that we are using this pattern for months already, relying on the fact that MobX will observe through levels of indirection. So you can basically do:

[code]

Would that suffice? In ES5 you can achieve this with a combination of `extendObservable` and `Object.defineProperty` in the constructor.

[ @capaj ]

[2016-03-02 17:22] rickmed commented on #143
@mweststrate agree with all -I don't like classes but that's a personal taste.
From your example I guess I could group all actions (functions) in an observable object observing the state in an another object. That would work in my case.
I also agree that depreciation might be too strong. In that example, why would someone do that instead making the whole object observable?

[2016-03-02 19:04] mikekidder commented on #143
@Kosta-Github you can use observer with Stateless Functional Components, no decorators.

[2016-03-02 19:17] mweststrate commented on #143
@rickmed thought about RxJs like disposers a few times. The downside of it is that you cannot freely pass the disposer easily around as just a function (for example push it on a list of to-be-executed actions, etc).

[2016-03-02 19:55] rickmed commented on #143
@mweststrate got it. Haven't been in that situation yet, but makes sense.
Awesome contribution with mobx :)

[2016-03-02 21:01] Kosta-Github commented on #143
@mikekidder I know, I do that a lot; actually all my react components are pure render functions, and many of them are rendering derived data.

@mweststrate but I just noticed that I am using expr() instead of observable(), which you pointed me to, but getting the same deprecation warning now...

[2016-03-02 21:04] mweststrate commented on #143
@Kosta-Github oh, that is a incorrect indeed. `expr` isn't deprecated, but uses `observable` internally. `observable(scalar)` isn't going anywhere in the near feature, just want to make sure people don't run in the previously explained assignment mistake. Maybe the best course of action here is to undeprecate it, and mention it somewhere as advanced pattern in the docs.

[2016-03-02 21:58] mikekidder commented on #143
@Kosta-Github yeah sorry, re-read your message on that, and not wanting to use @observable initially.

[2016-03-03 05:00] chicoxyzzy commented on #140
@mweststrate I'll do it in next few days. Also I want to make work with both 4 and 5 versions of RxJS.

[2016-03-03 12:47] DjebbZ commented on #104
There's CRUD in this app, but André Staltz from Cycle.js created an interesting challenge regarding async :https://github.com/staltz/flux-challenge

It may be worth it to implement it with mobx

[2016-03-03 12:59] mweststrate commented on #104
@DjebbZ that was already done :) https://github.com/staltz/flux-challenge/tree/master/submissions/mweststrate

Although it is slightly outdated (it uses `mobservable` instead of `mobx` but I think the only technical difference is that `observeUntil` now is called `when`). I'll try to find some time to update it.

[2016-03-03 13:12] DjebbZ commented on #104
Oh didn't see it, since submissions are classified by username and not techno. Good !

[2016-03-03 22:30] thinkpadder1 commented on #84
Any updates on replacing tracker with mobx?

[2016-03-04 00:02] rickmed opened #145 "How to track reactive functions?"
Considering the following example:

[code]
How would I track all the functions that depend on when an observed object property is mutated?

I'm thinking on building debugging tools equivalent to https://github.com/mobxjs/mobx-react-devtools but not for react components.

So when a property is mutated on an observed object, you would log all the reactive functions that where called.

[2016-03-04 07:53] mweststrate commented on #145
Hi @rickmed,

There are several (not yet documented but stable) api's to achieve that, and the can all be found here:
https://github.com/mobxjs/mobx/blob/master/src/api/extras.ts

`trackTransitions`: calls a callback whenever an atom updates its value or a computation starts / ends its calculation. This reveals in detail when which computation is run.

`getDependencyTree`: given a computed observa

[2016-03-04 08:15] mweststrate commented on #143
Undeprecated `observable(scalar)` and released it as version `2.0.1`

[2016-03-04 08:19] #143 closed

[2016-03-04 09:48] capaj commented on #142
@mweststrate that certainly works, but it would require me to create another abstraction layer on top of mobx objects. Currently utilising `preupdate` events, I can let user work directly with mobx objects. If I wanted to introduce those setters, I would have to hide whole observable from the user. I don't want to do that.

[2016-03-04 15:38] rickmed commented on #145
@mweststrate awesome! thanks. let me try those.

[2016-03-04 15:39] rickmed commented on #143
@mweststrate awesome! I'll try those asap.

[2016-03-05 18:00] rickmed commented on #143
@mweststrate using the example at the beginning I get:
[mobx] Deprecated: Use `computed(expr)` instead of `observable(expr)`

and

 return console.log(sum());
                     ^

TypeError: sum is not a function

[2016-03-05 18:15] mweststrate commented on #143
Which example is that? That is the old api :) Should be sum.get() instead.

Op za 5 mrt. 2016 om 19:00 schreef rickmed <notifications@github.com>:

[2016-03-05 18:19] rickmed commented on #143
@mweststrate It works! thanks.
Although, I still get this:

[mobx] Deprecated: Use `computed(expr)` instead of `observable(expr)`

[2016-03-05 18:59] vladimir-rovensky opened #146 "Making a rich domain model observable"
I was playing with mobx recently and I'm struggling with the following problem:

I'd like to have a rich domain model, complete with inheritance, polymorphism and all that, but unaware of mobx or any other special library. I'd like to have just vanilla TypeScript classes in my model. Then, in the store, I figured I would make the model instaces observable with @observable, only introducing mobx at

[2016-03-05 19:11] mweststrate commented on #146
`@observable` will only automatically recurse into other objects when using it with plain objects or arrays. For class instances this would be to obtrusive / unpredictable. The underlying idea is that classes themselves should be responsible for making their members observable.

If you want to force observability on members of existing class instances, you can use `extendObservable` for that:

[co

[2016-03-05 19:33] vladimir-rovensky commented on #146
Ok, seems simple enough, just one follow up question - you say I should know for sure that all members of the class can be made observable, what things cannot be made observable? I thought that `observable` works on pretty much anything.

[2016-03-05 21:18] mweststrate commented on #146
Yep, but it it is for example dangerous to assume that any argumentless function is a computed value, or that there are other members that don't need to be observable (for example an `id` value which will never change).

[2016-03-05 21:33] vladimir-rovensky commented on #146
Got it, thank you.

[2016-03-05 21:33] #146 closed

[2016-03-06 12:56] mweststrate commented on #143
Fixed the docs. It is correct that you indeed should use `computed(expr)` instead of `observable(expr)`, as this makes the different concepts in MobX more clear.

[2016-03-06 19:13] rickmed commented on #143
awesome. thanks! Mobx really needs more docs/examples/etc exposure for more people start using it!

[2016-03-07 06:27] nightwolfz opened #148 "[mobx-starter] Example with optional isomorphism"
I've just pushed an example with optional isomorphism and a nice way to structure your application.

All components get access to the state and all methods that affect the state (actions)
State is stored in one giant JSON object.
When state changes, components are re-rendered.

https://github.com/nightwolfz/mobx-starter

Inspired by one of the comments here asking for more examples, still a work i

[2016-03-07 08:09] mweststrate commented on #104
Here are some other cool MobX based projects:

* https://github.com/nightwolfz/mobx-starter: routing, server side rendering, async / await, context-based store passing (see also #148)
* https://github.com/contacts-mvc/mobx-react-typescript: includes routing, typescript

[2016-03-07 09:10] mweststrate commented on #148
Really cool! Gonna try to take a closer look later today

[2016-03-07 19:38] #142 closed

[2016-03-07 19:40] #129 closed

[2016-03-07 19:41] #128 closed

[2016-03-07 19:44] #101 closed

[2016-03-07 19:47] mweststrate commented on #84
Nope, I think it should be quite doable. But I would need to learn meteor first. I think it should ideally be done by someone with a lot of Meteor knowledge and supported by MDG.

Nonetheless I think it is still possible to combine MobX and Tracker, for example by wrapping stuff in MobX `autorun` that notifies a Tracker `Dependency` when needed.

[2016-03-07 20:44] nightwolfz commented on #148
Documentation was written on the spot, eventually I will add some proper docs.
At the moment it's just an example of how useful mobx can be.

I will also add authentication / account management, sessions and a chat box (socket example) to it. That should cover most cases.

[2016-03-07 21:13] mweststrate commented on #148
Tops! See also https://twitter.com/mweststrate/status/706922018730541056 :)

[2016-03-07 23:06] royriojas commented on #129
Thank you will give it a try! Awesome job!

[2016-03-08 09:17] nightwolfz commented on #148
I guess I can't back down anymore. Thanks Obama!

[2016-03-08 09:36] mweststrate commented on #148
:)

[2016-03-08 15:31] rickmed commented on #148
@mweststrate  don't let him back down! :)
@nightwolfz dude, that looks so awesome, I wish I could understand it a bit more (it's really over my head), specially the server side and the reasoning to give all components access to all actions.

[2016-03-08 22:51] rickmed commented on #145
@mweststrate I was able to get to work extras.trackTransitions -I quickly learned that for it to be useful you have to name all those anonymous functions.

for getDependencyTree and getObserverTree I always get this result:

{ id: undefined, name: 'undefined@undefined' }

BTW, not sure what you meant with " For objects / maps you have to pass the observable of the specific property (for objects th

[2016-03-09 01:11] nightwolfz commented on #148
@rickmed  I have just added mongo support with user registration and auth.

I'm trying to emulate Flux/Redux's unidirectional flow in different way.

In the case of redux, you have actions, a dispatcher and reducers.

Here we just have actions, which are just namespaced functions _(namespace = action filename)_ that affect the state.

All the re-rendering is taken care by mobx so you can only focu

[2016-03-09 06:35] worifon commented on #148
@nightwolfz
Oh no! please give me chance to get it. I will use it for learning purpose only.

[2016-03-09 08:32] mweststrate commented on #145
The tree functions (currently) only work directly on `Atoms`, which are stored internally in objects that are observable,

so you should invoke it like `getDependencyTree(myObject.$mobx.values.myAttribute)`, see also some of the tests in these files: https://github.com/mobxjs/mobx/blob/master/test/extras.js

[2016-03-09 21:14] gregpardo opened #150 "How to do X from Rx in Mobx"
Would be very nice to have a chart with all the RxJS or other library operators and examples of how to accomplish the same task with Mobx.

[2016-03-10 05:35] cj commented on #104
@nightwolfz any reason you deleted mobx-starter?  I'd love to check it out.

[2016-03-10 08:30] mweststrate commented on #104
@cj it was retracted by his employer. Too much competitive advantages I guess :smile: :sob:

[2016-03-10 08:32] mweststrate commented on #148
Closed the issue. It's not available anymore :cry:

[2016-03-10 08:32] #148 closed

[2016-03-10 08:36] bySabi commented on #148
RIP

someone already clone it?? ...
It have a proper license for reanimate it ?? ...
we need start a change.org request ?? ...

[2016-03-10 13:22] nightwolfz commented on #148
It's not that hard to re-create a simple version of it. The basis for it is in https://github.com/nightwolfz/ryan (the `@connect` decorator).

You will need your context to contain two things: your `state` and your `store` which is a collection of functions that I like to call actions. The store itself has no state.

You just have to figure out how to pass that `context` into your actions (yes, yo

[2016-03-10 14:35] bySabi commented on #148
Github has made us lazy! not body forked before 'The Grant Delete' :-(

Is a lost for "HumanityX"

We still have [ryan](https://github.com/nightwolfz/ryan). And Yes! I already forked it :-)

Let´s see if "slow brainers" like me can assemble 'MobX, 'React-router async', '...' puzzle.

The [mobx-starter](https://webcache.googleusercontent.com/search?q=cache:i_LeRwrGacEJ:https://github.com/nightwolfz

[2016-03-10 19:02] nightwolfz commented on #148
@bySabi that README is awful :) I updated it a bit right before removing everything

https://gist.github.com/nightwolfz/aeaa0e144402e45b824c

[2016-03-10 19:13] bySabi commented on #148
@nightwolfz   I update 'poster' :-)

[2016-03-11 11:09] mweststrate commented on #150
Hi @gregpardo,

MobX is not a stream library and as such it has not really a concept of stream operators. RxJs is for reactive programming with _events_ and MobX for reactive programming with _values_ See https://www.reddit.com/r/reactjs/comments/49qe1f/ten_minute_interactive_introduction_to_mobx_and/d0v19u8 for an eloborate explanation, and tips for when to use MobX or RxJs and how to combine the

[2016-03-11 13:30] gregpardo commented on #150
Thanks for your response. I did figure out Mobx was not a stream library but for simple use cases (that don't involve time as you mentioned) they can accomplish similar tasks. Would it be okay to copy that response to the wiki and add a link for those with questions on how they differ?

[2016-03-11 13:32] mweststrate commented on #150
Sure, go ahead!

Op vr 11 mrt. 2016 om 14:30 schreef Greg Pardo <notifications@github.com>:

[2016-03-11 14:11] gregpardo commented on #150
Can you read over it and edit/change anything that's incorrect. I introduced some stuff about Hot/Cold observables which might be wrong but just check it out and let me know.

https://github.com/mobxjs/mobx/wiki/Mobx-vs-Reactive-Stream-Libraries-(RxJS,-Bacon,-etc)

[2016-03-11 16:34] mquandalle commented on #84
Hi, I’m working on a Meteor application ([Wekan]()) that I would like to convert to React. After studying the different possibilities for data handling, I see a lot of value in Mobx as a “better Tracker, for React”.

The transition path from Tracker to React for most reactive data structures is relatively straightforward (eg replacing Session variables by Mobx observables is trivial) however one a

[2016-03-11 18:53] bySabi commented on #84
@mquandalle I try to archive this goal too, [mobTracker](https://github.com/bySabi/mobTracker) but stop due time constrains and lack of knowledge. You can take the name is you like it. :-)

Your intentions are good but maybe not worth the effort spent on this task cause incoming [Apollo project](https://github.com/apollostack/apollo). In my IMO, MDG probably deprecate Tracker and Minimongo.

Maybe

[2016-03-11 19:05] mquandalle commented on #84
Yes, having the client side reactive cache of Apollo based on MobX is an attractive idea. We sure should evangelize that!

On the meantime I realize that the only high level feature that I’m missing from a MobX based “store” is the possibility to have cursor on a set of data. What is cool with a `Cards.find({ author: 'authorId' })` cursor is that the observer is only recalled when a card that we c

[2016-03-11 19:24] mweststrate commented on #84
@mquandalle I have to dive deeper in to this, but a short question: Are you primarily interested on cursors that tracks remote collections, or local connections (a filter seems to suggest the latter?). For these kind of advanced patterns [atoms](http://mobxjs.github.io/mobx/refguide/extending.html) for lifecycle management and [transformers](http://mobxjs.github.io/mobx/refguide/create-transformer

[2016-03-11 19:42] rickmed opened #157 "initial state of an observable"
I'm trying to keep the initial state of an observable. I tried it like this.

[code]

the problem is that observable() modifies the initiState props to be observable too.
I looked at createTransformer but seems like an overkill.
Any other way to do that?
 Thanks!

[2016-03-11 19:44] mweststrate commented on #150
Thanks!

[code]

I think this paragraph is close but not entirely accurate. MobX has a concept related to "hot" and "cold" and calls those "reactions" and "computed values" (see also the getting started). Computed values in MobX will never re-compute automatically, unless some reaction are using them (indirectly). So observables that have observers might still be inactive (which makes it very effi

[2016-03-11 19:55] mweststrate commented on #157
I tried your example, but it seems to work as expected, so I guess I don't understand the question correctly ;-). Can you verify these outputs?

https://tonicdev.com/56e321978216cb1200681660/56e321978216cb1200681661

[2016-03-11 20:30] mquandalle commented on #84
I was thinking about local collections (that turns out to be synced with the server, but the syncing mechanism should be considered as an independent part that doesn’t interfere with it).

So if I have on my client collection a list of todo items:

[code]

and I want to keep track reactively of the items that are not completed yet (ie, items `1` and `3`) to display them in a view, what is the cano

[2016-03-11 20:36] rickmed commented on #157
So I did a little experimenting, it seems that with an object 1 level deep it works as expected, but not with an object 2 levels deep
https://tonicdev.com/56e3253706dc8215007ba92c/mobxtest

PS: tonicdev.com looks cool

[2016-03-11 20:55] mweststrate commented on #157
Ah, yes observability will recurse by default on plain objects. Use modifiers like `asFlat` to change that. Not sure about your case, but shouldn't you just deepclone it? `JSON.parse(JSON.stringify(initialState))` might be a simple fix :)

[2016-03-11 21:02] mweststrate commented on #84
in that case I would go for `todoItems.filter(todo => !todo.completed)`. I wouldn't worry to much about performance as it will only observe mutations to the array itself and all the relevant completed attributes. But if your collections are really large, you can improve this by utilizing a transformer that memoizes the completed state:

[code]

[2016-03-11 21:46] rickmed commented on #157
Thanks! That fixed it. Now I'm trying to get state to go to initState, I tried extendObservable(state, initState) but (obviously?) it won't work bc for the observers to be notified you need to mutate the properties on a property by property basis so I would need to diff the objects and set the new values all the observers get notified...Is there a helper for something like that in mobx?

[2016-03-11 23:31] HandEyeProtege opened #158 "autorun fails to execute when modifying an observable with extendObservable"
Apologies if this is fixed in a recent version; I haven't started using 2.0+ yet.  Here's a simple code fragment that demonstrates the problem:

[code]

I would expect the addition of a property to trigger the autorun to execute again, but it doesn't.  The output is just:

[code]

[2016-03-12 00:39] mattruby commented on #158
Try the map feature.
On Mar 11, 2016 5:31 PM, "HandEyeProtege" <notifications@github.com> wrote:

[2016-03-12 03:20] rickmed commented on #158
seems to work in the last version

https://tonicdev.com/56e3253706dc8215007ba92c/mobx1

[2016-03-12 05:43] rickmed opened #159 "how to create Reactive local component state in es5?"
using this syntax

[code]

[2016-03-12 09:06] mweststrate commented on #159
Just extend the instance in getInitialState or ComponentWillMount:

[code]

[2016-03-12 13:02] mweststrate commented on #158
@mattruby @HandEyeProtege, indeed, for dynamically keyed objects [map](http://mobxjs.github.io/mobx/refguide/map.html) should be used (or you could also maintain your own `keys` collection).

[2016-03-12 13:08] mweststrate commented on #157
extendObservable will update existing properties and thus observers should be notified. Can you elaborate on your case? Maybe you are passing subobjects of your state tree around without doing this from an autorun?

[2016-03-12 16:42] rickmed commented on #159
@mweststrate thanks!

[2016-03-12 17:01] HandEyeProtege commented on #158
I do know about ObservableMap, but in this case the use of extendObservable is intentional.  This isn't a dynamically keyed object; what I am looking to do is effectively to lazy initialize some members of my state object.  My state has a number of well-known properties, it's just that in order to have a smaller initial download and faster startup some of them aren't initialized until later.

One

[2016-03-12 17:46] rickmed commented on #157
I had an error on my part. I'm using react stateless components (reactive with observer) and passing sub objects around. I'm developing a pattern for 100% reusable components but when composing a higher order component I was using the same object reference of the model's subcomponents. The solution was to JSON.parse(JSON.stringify(composedModel))
Thanks!

[2016-03-12 18:56] evoyy commented on #158
@HandEyeProtege I do the same thing as you with my state object. And I make some properties observable, others not. Initializing all properties to null is how I handle this.

[2016-03-12 19:04] evoyy commented on #157
The way I do this is to assign the model to a new object. You can't use const for this, you must you let.

[code]

[2016-03-12 19:27] #159 closed

[2016-03-12 19:39] mweststrate commented on #158
@HandEyeProtege @evoyy Yep, initializing as `null` (or `undefined`) is they way to go here. But thanks for reporting nonetheless! Currently this behavior cannot be improved due to the limitations of `defineProperty`, once ES6 proxies are general available (not supported on safari yet) this could be changed though.

[2016-03-13 06:04] rickmed commented on #157
@mweststrate I experimented with mobx.toJSON(obj, false) at it seems to have the same as  JSON.parse(JSON.stringify(obj)), does it seem right?

[2016-03-14 16:59] jeffgran opened #160 "TypeError: undefined is not a constructor (evaluating 'newItems.map(adm.makeChildReactive)')"
I can't figure out this error, but it seems like it may be a problem with mobx. But it might not.

The top of the stack trace has `spliceWithArray` and `replace` (from `observablearray.ts`), and then my code, which is calling `collection.push(myobservableobject)` where `collection` is an empty observable array.

One point of confusion is why is my code calling `push` but then the stack trace shows

[2016-03-14 23:48] jeffgran commented on #160
can't figure out how to reproduce this reliably. However, I found a workaround: use chrome for my automated tests instead of PhantomJS. It seems to be something that only happens under PhantomJS.

Closing since I am unable to provide reproducible case.

[2016-03-15 00:09] mweststrate commented on #160
Ok, tnx for sorting out!

[2016-03-15 08:08] mweststrate commented on #104
In the mean time, I ported https://github.com/mweststrate/react-particles-experiment to MobX, nice example if you want to do MobX + Flux action dispatching.

[2016-03-15 08:58] boatkorachal opened #161 "What's difference between @computed decorator and getter function"
I'm not sure when should i use the @computed decorator (without asStructure option) in class instead of the getter function for example

[code]

Thanks

[2016-03-15 09:05] OscarBarrett commented on #161
From the [docs](http://mobxjs.github.io/mobx/refguide/computed-decorator.html)

...

So if you're going to observe it, make it a computed property.

[2016-03-15 09:34] boatkorachal commented on #161
What I think is firstName and lastName is being observed in both computed and getter function. At first I thought the use case is for optimize as the docs said that the computed properties will not invoked when there input parameters didn't modify.

[code]

But after I tried, the getter function didn't print duplicate fullName when I assign the firstName "salmon" again.

Thanks.

[2016-03-15 09:45] mweststrate commented on #161
Both solutions will exhibit the same behavior, but introducing `@computed` is better in the sense that it allows MobX to optimized it away more smartly.

If `getFullName` is not computed, and you change `firstName`, everyone using `getFullName` will recompute as well.

If, in contrast, `@computed get fullName` is used, the `fullname` is cached, so if the `firstname` is changed, the `fullname` is r

[2016-03-15 09:50] boatkorachal commented on #161
Got it! thank you very much :)

[2016-03-15 10:25] #161 closed

[2016-03-15 17:55] rickmed opened #162 "hack for componentWillMount in stateless components?"
With mobx, almost all my react components are stateless which works beautifully.

Is there a way to mock componentWillMount in stateless components? I'm trying to do something like this (notice the immediate call to getGif()) but I get error: is not possible to change the value of the state while a computed value is being evaluated (something like that)

[code]

[2016-03-16 22:14] kenotron opened #163 "After doing a resetGlobalState, the objectCache for the createTransformer() isn't cleared..."
So in this case, some old objectCache[someReusedId] could be used and it would then make the createTransformer return an old memoized thing even after resetGlobalState.

This is bad for test cases that could potentially throw

[2016-03-17 02:27] srobinson commented on #115
Really enjoyed following your path to mobxjs. I would have chosen Frank. He's got all the moves.

open, honest, and direct in speech or writing, especially when dealing with unpalatable matters.

[2016-03-17 04:12] kenotron commented on #163
I think if you're going create a cache for the createTransform, maybe you should place that inside the "globalState."

[2016-03-18 03:07] louisnguyen1012 opened #164 "[Need help] Can I use mobx for check dirty form?"
First thing, thank you so much for the nice library!

As mentioned on title, is there any way the Mobx can help us detect dirty form?

Thanks,

[2016-03-18 12:31] mweststrate commented on #164
Can you elaborate a bit on your question? Do you have an example of what you mean by a dirty form? Input validation?

[2016-03-19 13:56] louisnguyen1012 commented on #164
Hi,

I have a page with some input controls, use the mobx to observer and update them when onChange event occurs . Also on this page I have Cancel button, when user clicks on it, the system should know and confirm with user when there are some changed.

[2016-03-19 19:10] butchler opened #165 "Confusing edge case with @computed properties"
I don't think this is a bug with Mobx, it's just a very confusing edge case
that I ran into while making a simple memory game (the one where you flip over
cards and try to remember where the card with the same image was) with Mobx and
React.

Here's a simplified version of the code in question:

[code]

This outputs:

[code]

The second card doesn't consider itself to be false, even though the car

[2016-03-19 20:24] butchler commented on #165
I am using Mobx version 2.0.2.

[2016-03-19 20:32] #165 closed

[2016-03-19 20:36] mweststrate commented on #165
Thanks for reporting this one. While playing with your example, figured that in these cases the computed values should still be correct, even if it means computing the `isMatchWrong` function twice. I just released that as 2.0.3. But I will investigate whether the second (or first) computation could somehow be prevented.

[2016-03-19 20:48] mweststrate commented on #164
Hi,

I think in these cases it is best practice (both with and without MobX) to do not update the state directly while the form is active, but only when the input is confirmed by the user. Dirty checking is then simply comparing your state values with the current values in the form. So you get something like the following example, which modifies the name of a person. (in this example I use observa

[2016-03-19 21:01] mweststrate commented on #162
@rickmed I think in this example `getGif` will run on each render of your component, so that is significantly different behavior then just running on component will mount. The error you get is the similar to the one you would get from react when trying to change the components state in a render method. Although `mobx` provides an option to supress, I strongly recommend against it because it makes

[2016-03-19 21:02] #158 closed

[2016-03-19 21:03] #157 closed

[2016-03-19 21:04] mweststrate commented on #150
Again thanks for writing this down. I think the word `similar` provides enough room to cover subtle differences and the description is fine as it is.

[2016-03-19 21:04] #150 closed

[2016-03-19 21:07] #83 closed

[2016-03-20 00:15] butchler commented on #165
Thank you for the really quick fix!

[2016-03-21 03:28] louisnguyen1012 commented on #164
Yes, thank you for your answer!

I think this way first, but as source code tells - we code manually to check.
And the second think, take snapshot of store and compare it with current value - but it takes a lot of time for comparing.

[2016-03-21 09:34] nardi opened #166 "Derived arrays in MobX"
What is the best way to define a derived array in MobX? By that I mean, if I have an observable array
`var a = observable(['foo', 'bar']);`
and I then perform an operation on it such as

[code]

how do I do this in a way so that:
1. `b` is an ObservableArray itself
2. adding the string `'foobar'` to `a` also updates `b` to `['foo', 'foobar']`

It seems as if I either have to construct a new observ

[2016-03-21 11:28] josvos opened #167 "extendObservable and Object.keys()"
Hi,

When using `Object.keys()` on an observable object in a React component, the component is not updated when I extend that object using `extendObservable()`.  When I change something else that triggers a rerender, the new key added before with `extendObservable()` shows up correctly in the component.  Also, from then on, updates for that key's value correctly trigger a rerender.

Am I doing som

[2016-03-21 12:34] mweststrate commented on #167
No this is the expected behavior, if you want to have dynamically keyed objects [`map`](http://mobxjs.github.io/mobx/refguide/map.html) should be used instead.

[2016-03-21 19:40] mweststrate commented on #166
Hi @nardi,

Currently approach `2` is the idiomatic way: `var filteredArray = computed(() => a.filter(...))`. As noticed this does indeed not result in a new observable array as value from the computation. But the computation itself is cached and will yield the same result as long as the original array doesn't change.

I have planned to add special filter, map, slice etc operations that returns ob

[2016-03-21 19:43] nightwolfz opened #168 "mobx-connect (release)"
[mobx-connect](https://www.npmjs.com/package/mobx-connect) allows use to access mobx state from any component decorated with `@connect`
(similar to redux's connect).

This is a generic version of my previous package [ryan](https://www.npmjs.com/package/ryan).
Hope no one minds if I use the name mobx-connect.

Enjoy !

[2016-03-21 20:41] mweststrate commented on #168
Awesome stuff. I definitely don't mind about the name! Btw, if you want to move it to the org I can arrange that.

[2016-03-22 14:19] chicoxyzzy opened #169 "ES7 interop"
Hi. I just want you to check out https://github.com/cujojs/most/issues/160. I think that it is really useful enhancement.

[2016-03-22 14:55] amsb opened #170 "createTransformer appears to contaminate object with $transformId?"
In attempting to use `createTransformer` in a custom serialization utility, it appears that `$transformId` properties are being added to both the original objects and the output objects. I'm a bit perplexed about how/why this is happening. Can anyone shed light on this and offer a suggestion on how to fix it? THANKS!

From my [JS Bin](https://jsbin.com/cipowaguhu/edit?js,console) example, here's t

[2016-03-22 15:50] #170 closed

[2016-03-22 15:54] mweststrate commented on #170
`$transformId` is used internally for memoization purposes. But the property should not show up indeed. Fixed in 2.0.4 that the property is no longer enumerable.

[2016-03-22 16:48] amsb commented on #170
Perfect. Thank you!

[2016-03-22 19:17] mweststrate commented on #170
By the way, your serialize function seems to be generic? Might be worth
sharing :)

Op di 22 mrt. 2016 om 17:48 schreef amsb <notifications@github.com>:

[2016-03-23 01:45] amsb commented on #170
It's generic, but simplistic (e.g. no cycles). It also unfortunately fails to work for me in an [example app](https://github.com/amsb/mobx-reactor/blob/master/examples/basic/index.js#L123) but I haven't yet been able to isolate the cause although I observe that isObservableMap returns false when I think it should return true.

[2016-03-23 11:06] mweststrate commented on #104
Here is a single stack overflow answer that does routing, authentication, ajax and context based store passing: http://stackoverflow.com/a/36164488/1983583

[2016-03-23 18:17] mweststrate commented on #167
Closing this issue, if anything is unclear, just let me know

[2016-03-23 18:17] #167 closed

[2016-03-23 18:44] nightwolfz commented on #168
Sure but not yet. Once it's more useful, we can make it "official"

[2016-03-24 14:00] foxhound87 commented on #104
I made an example app with some cool features with the main goal to keep things in the simplest possible way. It uses React + Feathers + Mobx and called it RFX stack :D

I think the challenge is to reduce the amount of dependencies required to start up a decent react project and would be nice for the community to have a mini-framework to deal with react out of the box without adding 50+ dependenci

[2016-03-24 14:49] simpixelated commented on #104
Thanks @foxhound87 and @mweststrate for the examples! The app from your Stack Overflow answer is particularly helpful: https://github.com/contacts-mvc/mobx-react-typescript

I'm slowly converting a redux app to mobx and the only problem has been creating a pattern for the architecture. Examples projects using async, routing, authentication, etc. are super helpful, unfortunately mobx just isn't as

[2016-03-30 10:34] capaj commented on #166
@mweststrate I would love to see these derived arrays in mobx. It would help with awfully big arrays, which are cumbersome to reiterate on each small change.

[2016-03-30 14:26] PhiLhoSoft commented on #85
Head ups:
`bower lookup mobx` answers "Package not found".
If I search on bower.io (http://bower.io/search/?q=mobx), I get the mobservable entry...
Indeed, `bower lookup mobservable` answers "mobservable git://github.com/mweststrate/mobservable.git".
`bower home mobservable` answers:
[code]
so it looks reasonably up-to-date...
Apparently, Bower hasn't updated fully to the new bowser.json file, or

[2016-03-30 15:01] PhiLhoSoft commented on #85
I stand corrected. After Bower installation, I get no single `.js` file to load in our project. Nothing at root, not `dist` folder, etc. Not sure how to deal with that. We don't want to use a CDN...

[2016-03-30 18:23] mweststrate commented on #85
I'll take a look tomorrow!

Op wo 30 mrt. 2016 om 17:01 schreef Philippe Lhoste <
notifications@github.com>:

[2016-03-30 18:27] mweststrate commented on #166
Give me a few weeks, but I'll definitely plan on adding this. Which
operations would you need (first)? map, filter, slice? Maybe sort?

Op wo 30 mrt. 2016 om 12:34 schreef Jiri Spac <notifications@github.com>:

[2016-03-30 18:49] capaj commented on #166
@mweststrate thanks, order of importance for me:
1.filter
2.sort
3. slice
4. map

[2016-03-30 21:05] PhiLhoSoft commented on #85
Thanks. I would love to add MobX to our AngularJS project, still relying on Bower for front-end libraries, and using Jenkins for auto-build on CI server, so we can't tinker with original files and what's not. Apparently we need your UMD build, as I used in http://plnkr.co/edit/QGhtGu

As I struggled all day with complex UI state (toolbar button disabling depending on several asynchronous (or not)

[2016-03-31 13:10] mweststrate commented on #85
@PhiLhoSoft yes preferrably the UMD builds are not available through github, does `bower install https://npmcdn.com/mobx/lib/mobx.umd.js` work for you? I'll figure out whether that can be standardized through bower.

[2016-03-31 13:41] mweststrate commented on #85
Even better: `bower install https://npmcdn.com/mobx/bower.zip`

[2016-03-31 21:24] mweststrate commented on #85
@PhiLhoSoft is the above link sufficient as bower installation? It seems that bower provides no installation mechanism that doesn't require storing a generated umd build in git (which is an ugly thing to do imho)

[2016-03-31 21:29] andykog commented on #85
The only way to deal with this is having seperate repo for bower, like git://github.com/facebook/react-bower.git

[2016-03-31 21:34] PhiLhoSoft commented on #85
I did a quick test at home, `bower install https://npmcdn.com/mobx/bower.zip` delivers the `mobx.umd.js` file, so it looks OK.
I will do a test tomorrow, at work. Many thanks for the quick answer.

[2016-04-01 16:08] actransitorg opened #172 "observable string changing to null not triggering refresh in React component."
Say I have this:

`@observable wo = null; // string `

and in my observer React component, I have this:

`<textarea className="form-control" value={this.props.wo} />`

When I load wo with a value, the textarea is refreshed, but when set to null, it is not.   Is this documented somewhere?  I'll have to change all nulls to empty string to force refreshes.

This becomes more complicated once the stri

[2016-04-01 16:16] mweststrate commented on #172
Hi,

This should work as expected. I suspect however that you are passing a string value (the current value of  `wo`) as value to your component. Javascript primitives are never observable, the properties are.

So if you have

[code]

Make sure you pass the person object(which has the observable property) to your observer components, and not just the current value of `person.wo`. I hope that helps

[2016-04-01 16:45] andykog commented on #172
@actransitorg, here is an example https://jsfiddle.net/Sl1v3r/f2usr8gw/

[2016-04-01 18:08] actransitorg commented on #172
That example proves to me I'm doing something wrong.  Thanks for the tips.

[2016-04-01 18:08] #172 closed

[2016-04-04 08:17] mweststrate opened #173 "introduce extendComputed"
for api consistency, deprecate functions in extendObservable

[2016-04-04 12:14] PhiLhoSoft commented on #85
If that's not too much asking, it would be nice to include a `mobx.umd.min.js` (and probably its corresponding .map file) in this Zip file. Thanks.

[2016-04-05 06:40] nardi commented on #166
For me it would be filter, map, sort. I don't really see slice as important, nor am I sure what the semantics would be - I my case I wouldn't care about the actual numerical index of elements, as long as they are stored in unmodified order (except for sort) and enumerable.

[2016-04-06 14:23] genaby commented on #166
For me aggregate or fold is enough to build all the rest: https://en.wikipedia.org/wiki/Fold_(higher-order_function)

[2016-04-06 16:00] PhiLhoSoft opened #175 "Problem with infinite loop in `runReactions` function"
I had the error about a cycle in my attempts to use MobX in my AngularJS 1 project, in a code that should not have a cycle (in my noob opinion...)..
When debugging, I found out the following (transpiled) function:
[code]
OK, what is the intent of the `pr` variable here?

If it is to have a snapshot of the `globalState.pendingReactions` array, to be consumed in the loop via the splice function, it

[2016-04-06 18:35] mweststrate commented on #175
It is intended as just a shortcut indeed. The idea is indeed that the `pr.length` should converge to zero if each time the remaining reactions are pulled from it and executed. I'll introduce clearer var names.

[2016-04-06 18:37] #175 closed

[2016-04-06 18:38] mweststrate commented on #175
Feel free to open a new issue with the reproduction indeed, or reopen this one if more clarification is needed.

[2016-04-07 06:58] mweststrate commented on #130
Would this help, or should it be more fine grained? The latter would be a bit tricky as everything below this point are architectural decisions up to the developer :)
![architecture](https://cloud.githubusercontent.com/assets/1820292/14343074/cbdf4cda-fc9e-11e5-9129-708ec44ace0c.png)

[2016-04-07 07:02] mweststrate commented on #164
Not sure whether this issue is solved now or not, feel free to re-open it if it isn't :)

[2016-04-07 07:02] #164 closed

[2016-04-07 07:03] mweststrate commented on #168
Thanks for sharing this. I'll close this issue for now, but I'll add it to a 'related projects' as soon as I have time to write it :)

[2016-04-07 07:03] #168 closed

[2016-04-07 07:05] fellz opened #176 "Syntax error in docs ?"
Hi
It seems to me that this code has an syntax error

[code]

``` @observable todos = todos: [{ ```

I cann't find this construct in ES6. Babel repl doesn't convert it so is it a mistake or ... ?

https://github.com/mobxjs/mobx/blob/gh-pages/docs/best/syntax.md

[2016-04-07 07:09] mweststrate commented on #176
You need `babel-transform-decorators-legacy` to be enabled, see also #105 or the docs https://github.com/mobxjs/mobx/blob/gh-pages/docs/best/syntax.md#enabling-decorators-in-your-transpiler (same page ;-))

[2016-04-07 08:41] fellz commented on #176
it's not the decorator stuff but

[code]

[2016-04-07 08:56] mweststrate commented on #176
Ah sorry misread the issue! Will fix that, should be `@observable todos = [{`

[2016-04-07 16:08] PhiLhoSoft opened #177 "Some issues with observable arrays"
I still try to use MobX in an AngularJS 1 application, and I have hit some issues and limitations.
I open this issue to record them: perhaps you can do something for some of them, and at least, users might find them when searching...

First, what I call "observable arrays". That's arrays in observable objects, like:
`ctrl.view = mobx.observable({ a: [ someData ] });`

To reproduce my issues and ex

[2016-04-07 17:40] rodryquintero commented on #130
Yes. This makes a good starting point for people used to regular flux libs
and helps to make a mental model of how to structure an application.

Thanks Michel.

El El jue, 7 de abr de 2016 a las 1:58 a.m., Michel Weststrate <
notifications@github.com> escribió:

[2016-04-08 08:37] mweststrate opened #178 "Creating new maps in computed functions fails with an exception"
See: https://jsfiddle.net/h3v05cev/12/

[2016-04-08 16:09] PhiLhoSoft opened #179 "Cycle in the reactive function"
Managed to reproduce the dreaded message again:

I have made a semi-realistic AngularjS 1 + MobX 2 application at
https://jsfiddle.net/x8mnncd3/4/
It works. It reproduces, more or less, in a simplified way, the behavior of a form (in a dialog) that I have in our application.
In the `update1` function in the `autorun`, I compute internal data out of a model, and view data out of internal one. Nice,

[2016-04-08 16:47] mweststrate commented on #179
The last question is answered quickly: https://medium.com/@mweststrate/becoming-fully-reactive-an-in-depth-explanation-of-mobservable-55995262a254 On the rest I'll come back later :)

[2016-04-08 17:31] PhiLhoSoft commented on #179
I have to re-read it more attentively, then... Fair enough! Thanks.

[2016-04-08 19:14] andykog commented on #177
You don't have to put array in object, there is is ObservableArray class by design:
[code]
What mobx does is just recursively replacing every object's value with `observable(value)`

You don’t want to use _.clone / angular.copy / Array.prototype.slice with anything except plain object or plain array, unless you know what you are doing.
Even if it works now, it is bad practice, because you have no

[2016-04-08 23:15] andykog commented on #179
At first, lets look into how to make cyclic dependency. We can make `autorun` which depends on something it modifies, for example:
[code]

Above code is, basically, simplified version of what you have made:

[code]

You don't need `autorun` here, really. `autorun` is good for DOING something: logging, displaying alert, setting checbox etc. Every time you use `autorun` for binding some values to an

[2016-04-09 10:33] PhiLhoSoft commented on #177
Thanks for the detailed answer.

Well, yes, that's what I expected, although maybe I abuse too much of this shortcut.

Note: I used `_.clone` not to get a new `ObservableArray`, but to get a copy of the array (content), precisely to avoid changes to the original one. Mmm, I shouldn't have put the results in `ctrl.view`, though.

My remark about `_.isArray` is more for reference (I didn't need to u

[2016-04-09 11:05] PhiLhoSoft commented on #179
Thanks for taking time to refactor my code!

Little bug: when I click on Save, I get the message: "TypeError: Cannot set property message of #<Object> which has only a getter" because I assign to `message` for which you defined only a getter. But my usage of `message` is messy, actually, so that's not a real problem.

Note: I used ES5 because that's what we use in our projects... But I understand

[2016-04-09 11:48] andykog commented on #179
I'm sorry, I've given you wrong example, it's not the case in MobX 2.0, seems like we have some bug, researching.

[2016-04-09 13:37] mweststrate commented on #177
@andykog yup you are right, slices are usually the way to go before passing observable arrays to other libraries. I usually like to even use slice to pass the array to any place where it shouldn't be mutated anymore, since slice is really cheap anyway.

The non-standard support array functions are listed here: http://mobxjs.github.io/mobx/refguide/observable.html under the array section. (ok, I'm

[2016-04-09 13:52] mweststrate commented on #178
Exception seems correct, computations should not create new state, we are deriving state here and an immutable map should be returned. It makes no sense to modify an map returned from a computation, as in the next run a new map would be created. And since they should be immutable it makes no sense to make them observable.

[2016-04-09 19:36] andykog opened #181 "Fix CRLF line endings"
[Some](/mobxjs/mobx/tree/master/src/core/observable.ts) files have `CRLF` line endings, it would be nice to convert them to `LF`.

[2016-04-10 12:13] andykog commented on #176
Fixed

[2016-04-10 12:13] #176 closed

[2016-04-11 11:44] bstst commented on #160
This happens to me on iOS 7: `"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"`.

Still trying to pin-point the culprit though.

[2016-04-11 13:31] bstst commented on #160
Looking in to it a bit more. For some strange reason on iOS7 Safari (the older iPhone I mentioned above), when I have an observable array, e.g.:
`@observable items = [];`

Then elsewhere in the componentWillMount method (doesn't really matter if `item` is a simple or observable object):
`this.items.push(item);`

The stack moves to `ObservableArray.prototype.replace = function (newItems) {`, not `O

[2016-04-11 13:40] bstst commented on #160
Was able to make it work by making the order of non-enumerable properties of the object to correspond to the order of the prototype methods:

[code]

Is that something that old safari might be doing with the prototype? By the looks of it the methods are getting mapped incorrectly.

[2016-04-11 14:27] bstst commented on #160
And, by the way, @mweststrate, there's no `split` method defined in the prototype either way, so it's `undefined`, but that is not really relevant to the issue described above (just saying).

[2016-04-11 18:49] mweststrate commented on #179
I think this issue is solved now?

[2016-04-11 18:55] #181 closed

[2016-04-11 18:55] mweststrate commented on #181
Fixed, thanks for noticing :)

[2016-04-11 18:55] #178 closed

[2016-04-11 18:56] mweststrate commented on #163
Released as part of 2.1.0 last week.

[2016-04-11 18:56] #163 closed

[2016-04-11 18:57] #162 closed

[2016-04-11 18:57] mweststrate commented on #177
Closing this issue for now, feel free to re-open it on further questions.

[2016-04-11 18:57] #177 closed

[2016-04-11 19:00] mweststrate commented on #160
@bstst thanks for diving into this, I'll at least apply the changes you did above and remove the `split` (really wondering how it got there).

Probably it isn't the issue here, but know that sourcemaps might play dirty tricks with you if it appears that you are in a function you didn't expect to end up in. if you are unsure, disable / strip them.

[2016-04-11 19:25] mweststrate commented on #160
Updated and released as 2.1.2, does this solve the issue? (which would be really weird imho but I guess it is worth trying ;-))

[2016-04-11 19:34] mweststrate commented on #85
Updated the build scripts accordingly. Will be available from the next release (I can release it if you need it now)

[2016-04-11 19:34] #85 closed

[2016-04-12 05:12] bstst commented on #160
Yes, the issue is not reproducible anymore for me with 2.1.2. Maybe @jeffgran might want to give it a go with PhantomJS.

As for the fix itself -- I'm still trying to wrap my head around it ;))

[2016-04-12 05:32] PhiLhoSoft commented on #177
Ah, I knew I have read it somewhere! Maybe it is worth to have a section of its own, like `map`, to find it back easily... Note: the link to `fastArray` here is 404. Is `fastArray` still a thing? There is also an example using it in another page.

Yes, the doc is pretty clear about this... :smile: That's why I made side effects: assigning values to properties of a non-observable object (the view)

[2016-04-12 05:44] mweststrate commented on #160
@bstst only thing that I can imagine is that the non-enumerable("splice") caused a silent exception, which wasn't in the way anymore after putting it at the end at the list. But that still doesn't explain the wrong stack frames...

[2016-04-12 05:47] bstst commented on #160
@mweststrate, nope, I did try removing "split" from the old array before reordering it, and the methods were still being mixed up.

I remember I was once taught not to trust sorting of arrays and object properties. Now I don't know what to trust at all ;))

[2016-04-12 07:59] PhiLhoSoft commented on #179
I know why I thought I should put all my `createTransformer` calls inside an `autorun` function:

From https://mobxjs.github.io/mobx/refguide/create-transformer.html

Is this information obsolete? Or is the usage in a `mobx.obserable()` call falling inside the "reaction" category?

[2016-04-12 08:12] mweststrate commented on #179
To offer a performance gain it needs to be in a an autorun. But these can be indirectly, inside computed functions etc, as long as it is used somewhere inside an autorun. It will also work outside, but it won't do any memoization in that case.

`createTransformer` just creates a big pile of `computations`, a computation per value you pass into it. Computations always work as they can be evaluated

[2016-04-12 08:34] PhiLhoSoft commented on #179
It is OK. As memoization seems to work in my case, I suppose it stems from the fact I consume the graph of dependencies in the autorun updating my view. So my pattern seems to make sense... :smile:

That said, images are always welcome... :laughing:

I wrote a small introductory text for my usage of MobX inside AngularJS applications. For my future self, and my co-workers that will have to maintai

[2016-04-12 08:39] PhiLhoSoft commented on #179
# How I use MobX 2 in an AngularJS 1 application

## Introduction

MobX is a library simplifying state management by using functional reactive principles.
It manages dependencies between values, somehow like a spreadsheet does with its cells: if the value of a cell changes, other cells depending on the first one can change too, in a cascading way.

The manual of MobX can be read at [MobX, Simple,

[2016-04-12 09:20] mweststrate commented on #179
Spot on! Cool write-up :)

One minor correction:

You can use non constant values from the closure, you just have to make sure those are observable as well. If you do that the transformer will also re-run if this variable from closure changes.

N.B. This paragraph confused me a bit

Not sure how to read it, but these things are all equivalent, it might clarify things:

[code]

[2016-04-12 09:38] PhiLhoSoft commented on #179
Thanks for the corrections. Good to know for transformers, I will fix that.
And will rework my other sentence.
Context: my view is **not** an observable. I used this:

        ctrl.view =
        {
            saveDisabled: mobx.computed(function saveDisabled()
            {
                return ctrl._internal.noItems || !ctrl._internal.hasCommonStuff || ctrl._internal.isStarted;
            }),

[2016-04-12 12:12] mweststrate commented on #179
Btw, are you publishing the above story / experiences somewhere? Might be useful for others!

[2016-04-12 13:40] PhiLhoSoft commented on #179
Yes, I plan to publish it on my blog: http://philhosoft.github.io/

[2016-04-12 15:10] mweststrate commented on #179
Looking forward to it. Keep me posted!

[2016-04-12 15:10] #179 closed

[2016-04-12 15:12] mweststrate commented on #160
Haha yeah this is extremely scare ain't it? I close it for now, if similar stuff happens in the future for PhantomJS it can be reopened.

[2016-04-13 02:44] hnordt opened #183 "[Docs] Views as Backend Integration"
In http://mobxjs.github.io/mobx/intro/concepts.html:

Backend integration is a view? I do it using `autorun`?

[2016-04-13 06:35] mweststrate commented on #183
Only the submitting part. You can do it manually when you press a save
button for example. But what we did in several projects is introduce a
@computed asJson property on objects (which is just another view on the
data, like the UI), and use autorun(Async) to submit it automatically to
the server when the json representation changes (which will change if
observable properties inside it are changed

[2016-04-13 07:10] mweststrate opened #186 "Introduce global error handling override for testing purposes"
Computed values and autorun's should never throw. If they do, MobX prints warnings. This is annoying during testing expected exceptions. Make it possible to override this:

`mobx.extras.setGlobalErrorHandler(func, preserve=true)`

It should only be possible to register one handler. This handler will be reset on `mobx.extras.resetGlobalState()` (another test utility to reset all numbers, caches etc

[2016-04-13 15:48] hnordt commented on #183
Awesome, thank you!

[2016-04-13 15:48] #183 closed

[2016-04-13 20:28] jefsayshi opened #189 "observable objects with functions do not work in Jest"
I am experiencing weird behavior when using observable objects that contain functions in my Jest test. The functions appear to be getting removed from the objects. However, it seems to work correctly in browser.

Automocking is turned off. Any help would be appreciated.

package.json:
[code]

Store.js:
[code]

Store-test.js:
[code]

Output:
[code]

[2016-04-13 21:30] andykog commented on #189
Well, functions are replaced with special getter (view). See http://mobxjs.github.io/mobx/refguide/observable.html

Despite those getters are not printed with `console.log` in node environment, they still work, try this:
[code]

They also are not listed in `Object.keys` because of being non-enumerable, so some of you tests may fail.

If you don't want your objects to be modified on inserting insid

[2016-04-13 21:59] jefsayshi commented on #189
Thanks for pointing out some of my errors, I have changed my tests to more accurately reproduce the error.

[code]

Output:
[code]

And the Test observable function with no parameters fails with an error:
`TypeError: obsItem.aFunction is not a function`

[2016-04-13 22:06] hellectronic opened #190 "@computed and "Error: [mobx] Invariant failed""
I get the following error:  Error: [mobx] Invariant failed: It is not allowed to change the state when a computed value is being evaluated.
I am new to MobX, so there is some trial an error here. I think I am using @computed and autorun() incorrectly. I have a case with three classes and I will try to illustrate it.
[code]
The classes `A` and `B` are used by two different React components and are

[2016-04-13 23:08] jefsayshi commented on #189
nevermind, read the manual and this is the expected behavior.

[2016-04-13 23:08] #189 closed

[2016-04-14 08:40] andykog commented on #190
That error means you changing observable state inside `@computed` getter. You must have removed it from your code snippet, but is suspect there is something like (assuming, that `_db.somecollection.find()` works synchronously):
[code]

Just use `autorun` for side effects and observable state modifications

[2016-04-14 08:45] andykog commented on #190
And assuming that your `.then()` is not like `Pomise.then()`, otherwise `@computed get` returning promise doesn't makes sense to me

[2016-04-14 15:38] cafreeman opened #191 "Shared elements when using Store classes with @observable"
I seem to be encountering some weird behavior when working with observables in classes (or there's a crucial detail about property initializers that I'm failing to grasp).

Specifically, certain properties are being shared across all instances of a class (while others remain localized), so that every time a new instance is created, all the other instances update to reflect the new value.

For exam

[2016-04-14 20:33] hellectronic commented on #190
Thanks, that clarifies it. I wanted the `Dao` to be reactive, but I changed it. I use `autorun()` in `A` to call the promise returning `Dao.findSomething()`.

[2016-04-14 20:33] #190 closed

[2016-04-14 21:16] andykog commented on #191
Made #192 to fix this

[2016-04-14 21:24] cafreeman commented on #191
@andykog nice!

[2016-04-15 02:24] #191 closed

[2016-04-15 02:42] mweststrate commented on #191
Released fix as 2.1.3. Thanks for the extensive report @cafreeman, thanks for fixing @andykog :)

[2016-04-15 02:43] mweststrate commented on #85
@PhiLhoSoft, done, the file should be available now (from v 2.1.3)

[2016-04-15 08:34] PhiLhoSoft commented on #85
Ah, sorry, but I can see the minified file at https://npmcdn.com/mobx@2.1.3/lib/, but for some reason, npmcdn doesn't package it in its bower.json (https://npmcdn.com/mobx/bower.zip).

We should really move out of using Bower, but currently we are stuck with it... :grimacing:

[2016-04-15 10:57] jeffijoe opened #193 "@transaction decorator"
Would be super cool to be able to use `transaction` as a decorator.

#### Before

[code]

#### After

[code]

[2016-04-15 12:29] PhiLhoSoft commented on #177
As a heads up: I had an issue because I made an array of objects observable.
I made an array of a subset of these objects, these where still observables (references on the original objects, actually). I gave the subset elsewhere, and a `_.cloneDeep` was done to avoid changing the original stuff. But this resulted in an empty array!
So, beware of interactions with other parts of code.

In my case,

[2016-04-15 22:04] capaj opened #194 "extendObservable doesn't help when we need to introduce new properties to the model-it doesn't rerender mobx-react components"
I would kind of expect that if I run this small app:
[code]

that after 100ms it gives me:
[code]
But it doesn't. It just gives me
[code]

Could there be a way to fix this?
Maybe we could have an `extendObservable` on mobx-react API which would call extendObservable() from mobx and would also rerender any mounted observer component?

If not, maybe just mention in the docs, that extendObservable do

[2016-04-16 17:29] hnordt opened #195 "Backbone.js"
Hello.

I was reading [Best Practices for building large scale maintainable projects](http://mobxjs.github.io/mobx/best/store.html) and now I'm wondering if `stores` are like `Backbone.js collections` and models are like `Backbone.js models`.

If they are related, I think I can make Backbone collections and models observable and use it as my stores and models, that way I don't need to write boiler

[2016-04-16 22:09] jbrantly commented on #194
I just ran into a similar issue where I was trying to use an object as a map. I'm not sure if this is relevant in your case, but the [observable map](https://mobxjs.github.io/mobx/refguide/map.html) worked really well for me.

[code]

The above example is somewhat abusing Map, but it gets the point across.

[2016-04-16 22:34] hnordt commented on #195
Now reading [Flux Stores](http://facebook.github.io/flux/docs/overview.html#stores) again I think we don't need models:

[code]

[2016-04-16 22:34] #195 closed

[2016-04-17 04:03] luosong opened #196 "observable array will throw error when use Array.prototype.push.apply in safari (mac && ios)"
I test, it's ok in chrome (mac && android)

[2016-04-18 05:45] mweststrate commented on #196
Observable arrays are not normal arrays but objects instead (until ES6 proxies are standardized). This means that standard Array prototype methods might not work on them, see also the docs http://mobxjs.github.io/mobx/refguide/observable.html (section "Arrays"). If needed, the `ObservableArray` prototype can be exposed from the library to make it possible to use it's `push` method from the prototy

[2016-04-18 06:39] mweststrate commented on #194
@jbrantly is right, you cannot observe not yet existing properties and be notified about them, except when using maps.

Note also that if you would have triggered the `TimerView` by any some other means to re-render after the timeout. Future changes to `num` will be picked up as the observer list is re-established after each render.

[2016-04-18 06:39] #194 closed

[2016-04-18 09:30] jeffijoe opened #197 "Modifiers are not sticky when reassigning to @observable fields"
As discussed with @mweststrate on Discord.

When using the `@observable` decorator, modifiers are not sticky when reassigning.

Example:

[code]

[2016-04-18 20:20] AriaFallah opened #199 "Understanding MobX and when to use it."
Recently having used MobX, I'm trying to reason about why I'm really using it, and trying to truly understand the pros/cons vs redux and cycle.

For redux, I think that it comes down to the fact that most people do not need the number one thing redux has to offer, extreme predicability and extreme testability, because their apps are not complex enough. Thus, when they're writing a bunch of reducer

[2016-04-18 21:34] chicoxyzzy commented on #169
I think I can implement this so we will be able to deprecate https://github.com/chicoxyzzy/rx-mobx :)

[2016-04-19 17:17] hnordt commented on #199
I don't know Cycle and I have no interest learning it now, so I'll give my opinion on Redux vs MobX.

I've been using Redux since it was released. It's very predictable and testable, but takes a lot time to write a full module, because it needs a lot boilerplate.

Of course you can write helpers to help with less boilerplate, but it still needs boilerplate.

I'm sure you can archieve the same pred

[2016-04-19 17:26] AriaFallah commented on #199
I've had basically exactly the same experience as you, and I think we've reached the same conclusion.

Although I am curious, how do you test your MobX application?

That's actually what caused me to write this in the first place. I was wondering how testing MobX was different from testing Redux.

Redux is built on the reducers, has time travel and everything is explicit, which is what I think is

[2016-04-19 17:34] hnordt commented on #199
@AriaFallah I'm not an expert with testing, but just try to create your functions as pure as possible, for example:

[code]

Redux is just javascript, just follow some of the concepts, for example, actions in Redux are the same as MobX, the only difference is the state transformation, for transforming state, create pure functions and pass data around.

[2016-04-19 18:01] jamiewinder opened #203 "TypeScript declarations?"
Are there any mobx declaration files (i.e. mobx.d.ts) anywhere? I don't mind writing some if not, though being written in TypeScript itself I'm surprised I haven't found them in the usual sources (typings, DefinitelyTyped etc.)

Thanks!

[2016-04-19 18:12] andykog commented on #203
`mobx.d.ts` generated by `tsc` is included in npm package: https://npmcdn.com/mobx/lib/mobx.d.ts
When you working with sources, you don't need `d.ts`, as mobx itself is written in typescript

[2016-04-19 18:13] jamiewinder commented on #203
Thanks, not sure how I missed that!

[2016-04-19 18:13] #203 closed

[2016-04-19 18:15] mweststrate commented on #203
You can directly import {observable} from 'mobx'  indeed, without
installing or even specifying or importing any further d.ts file path. It's
a really awesome feature of TS 1.6 and higher. Sadly only few packages use
it so far...

Op di 19 apr. 2016 om 20:13 schreef jamiewinder <notifications@github.com>:

[2016-04-19 23:51] amsb commented on #199
I've enjoyed the aromas emanating from the melting pot of ideas in JavaScript front-end development, but with such a smorgasbord it can be hard to decide what to eat. Redux is built on solid theoretical foundations with a simple essence and a growing community of experienced developers that makes it an extremely compelling candidate for many projects.

That said, my foray into using it left me wit

[2016-04-20 03:26] hnordt opened #204 "[Request] asStructure - Better Docs"
Hello.

I was reading the docs again and again but can't really understand how `asStructure` works.

Can someone write a detailed explanation with a better real world example?

[2016-04-20 03:54] hnordt opened #205 "Document an approach without models"
MobX is great because we don't have many concepts.

My suggestion is that we document another approach: one without models, just stores. Looking at Flux docs we have [this](https://facebook.github.io/flux/docs/overview.html#stores):

Here is the one of the ways I like to implement MobX:

[code]

[2016-04-20 08:32] jamiewinder commented on #203
@mweststrate - I've just looked up the feature you're referring to and I can see why it isn't working for me; I'm using jspm so it isn't able to resolve the d.ts file (since it sits in `jspm_packages/npm/mobx`, not the expected `node_modules`). Thanks for the hint!

(thanks for the library btw - I've only just started with it!)

[2016-04-20 10:29] capaj commented on #199
@AriaFallah

You write it like this is a quality that only Redux has. I have to disagree. There is no obstacle at getting 100% coverage for mobX powered app. In fact it is easier to achieve since the amount of code is smaller than with Redux.

[2016-04-20 11:27] AriaFallah commented on #199
@capaj Ah okay that's good to know.

Like I said above, I haven't done much testing with MobX. I assumed that Redux, where you have to write everything out explicitly, would be easier to test than MobX because there's less magic, but, as you point out, perhaps MobX is easier to test because that magic helps eliminate a lot of boilerplate that made sense anyways so you need to test fewer parts of y

[2016-04-20 12:07] PhiLhoSoft commented on #199
Some input:
- I know a bit Redux, as I wanted to introduce it to our project. I actually rewrote it in ES5, which made me look into its code (not so big) and to understand how it works. I like the ideas, well explained by Dan Abramov. I finally dropped the idea, partly because of boilerplate, mostly because using a single store of immutable data would be too foreign for my co-workers (and perhaps

[2016-04-20 15:34] jbrantly opened #206 "Patterns for @computed, ES6 classes and (de)serialization"
This is a question but is long/involved enough that it didn't seem suitable for gitter.

One of the hyped advantages of MobX is that you can use ES6 classes for your models. While I don't particularly care about classes vs objects in general, in the MobX world using classes allows you to easily use the @computed decorator to achieve some nifty code. Let's say that I have a collection of line segme

[2016-04-21 02:55] AriaFallah opened #207 "Make autorun schedule effect without running it the first time?"
In my experience, when I've first used `autorun` to schedule an effect, it runs that effect that one time regardless of whether or not the observable has mutated.

Is there a way to schedule an autorun, but without running it?

[2016-04-21 05:27] mweststrate commented on #207
That first run is always needed, otherwise MobX won't be able to detect which data it depends upon. But it is quite common to not needing the side effects of an autorun the first time. You can use a simple flag to avoid that:

[code]

Since this is not an uncommon pattern, I guess it makes sense to have `autorun` pass an optional `firstrun` param in. That would make it possible to just write the f

[2016-04-21 12:18] AriaFallah commented on #207
@mweststrate why reopen? I thought both your solution, and your proposal to update autorun in the feature were good ideas.

[2016-04-21 12:22] mweststrate commented on #207
@AriaFallah exactly, so to not forget about adding it in the feature I reopened it.

Ok, that is weird probably, I'll close this one and create a new one :-P

[2016-04-21 12:23] mweststrate opened #209 "Introduce `firstrun` param for autorun functions"
See #207

[code]

[2016-04-21 12:23] mweststrate commented on #207
...and close!

[2016-04-21 12:23] #207 closed

[2016-04-21 15:00] #204 closed

[2016-04-21 15:03] mweststrate commented on #204
I updated http://mobxjs.github.io/mobx/refguide/modifiers.html, I hope this clarifies the case!

In practice, you rarely need it because usually computations yield changed values if upstream values are changed anyways. But it is a possible optimization.

[2016-04-21 15:59] hnordt commented on #199
@capaj @PhiLhoSoft

Would be awesome if you share some of your testing approaches with MobX.

[2016-04-21 16:06] hnordt commented on #204
Thank you @mweststrate

[2016-04-21 17:36] mweststrate commented on #204
By the way, when using decorators you can use: `@computed({ asStructure: true }) get property() { .. } `, I'll add that as well

[2016-04-21 17:38] mattruby commented on #204
Thanks for the ES5 examples!

On Thu, Apr 21, 2016 at 12:36 PM, Michel Weststrate <
notifications@github.com> wrote:

--
-Matt Ruby-
mattruby@gmail.com

[2016-04-22 08:14] fisch0920 commented on #209
wouldn't this be trivial to implement without an extra param to the autorun function?

[code]

[2016-04-22 08:18] mweststrate commented on #209
Yep :)

[2016-04-22 08:26] fisch0920 commented on #209
Then I would forego this addition.  Keep the official API as simple & small as possible.

[2016-04-22 08:32] fisch0920 opened #210 "mobx community"
I really really like mobx and its simplicity compared with Flux alternatives.

That being said, the main problem I see mobx having is a lack of an official company sponsor like FB & Redux.  Without more resources, the project's relatively weak community of devtools and extensions surrounding mobx will continue to inhibit its growth.

@mweststrate have you given any thought to reaching out to other

[2016-04-22 09:37] mweststrate commented on #105
As reported here: https://github.com/mobxjs/mobx-react/issues/41 it appears that the order of plugins is important, make sure that `transform-decorators-legacy

[2016-04-22 16:28] hellectronic commented on #210
As a start we could collect related projects (mobx-reactor etc.), examples (from #104 ) etc. for the main README ?

[2016-04-22 20:13] mweststrate commented on #206
Hi @jbrantly,

You are right, it is a kind of generic problem, but also quite opinionated. So on one side my hands are itching to provide something standardized for this, but on the other hand I think it should not be part of MobX. At least not of the core package. It is basically client side ORM.

I think it is not too hard to write a standardized solution, as it is basically about (de)serializin

[2016-04-22 20:18] mweststrate commented on #210
@fisch0920 Good questions. I don't think MobX is big enough yet to awake the interest of the Facebook. Note by the way that my employer (Mendix is a medium sized, well settled software company) has a few core projects running on MobX, so in that sense continuation is guaranteed.

@hellectronic Good point. Feel free to PR :)

[2016-04-22 20:30] mweststrate commented on #193
Thanks for the suggestion. I really like the idea, then I figured it could be generalized a bit, as transactions also form nicely conceptual groups of actions.

So here is some work in progress:

* `@action` decorator for instance methods
* `action(function)`, returns "the same" function, wrapped in a transaction.
* `action(logName, function)`, the same, but with an improved logname.

Example usag

[2016-04-22 20:30] #196 closed

[2016-04-22 20:32] mweststrate commented on #84
Closing this one for inactivity.

[2016-04-22 20:32] #84 closed

[2016-04-22 20:33] mweststrate commented on #75
Closing this one for inactivity.

[2016-04-22 20:33] #75 closed

[2016-04-22 20:39] AriaFallah commented on #193
@mweststrate

So would it wrap functions or autoruns?

For example:

[code]

or

[code]

Maybe even both?

[2016-04-22 20:43] mweststrate opened #211 "Make modifiers api simpler & uniform"
I think the use of modifiers can be made more intuitive. In short, instead of the (imho) weird wrapping functions as modifiers, use a settings object that can be passed to both `extendObservable` and `(@)observable`.

Some examples:

(ES6) Create an observable reference to a non-observable array:
`@observable prop = asReference([])` -> `@observable({ reference: true }) = []`

(ES6) Create an obser

[2016-04-22 20:46] mweststrate commented on #193
@AriaFallah exactly, and all changes made in `doSomething` are processed in a transaction and logged underneath the action.

[2016-04-22 20:49] AriaFallah commented on #211
I'm not so sure about this one. For example in my code for mobx-store I'm using

[code]

where createData is

[code]

If you change the API, how would you handle cases like this?

Also in the case that you have something like

[code]

I'd need to call extendObservable 3 times, which doesn't seem so intuitive.

As a side note:

The names `asStructure` and `struct` never made that much sense to me.

[2016-04-22 20:52] AriaFallah commented on #193
Sounds like a very good idea. It's like a more automatic redux.

[2016-04-22 21:17] amsb commented on #193
I really like this! I've been meaning to dig in a bit more to see how state changes could naturally be traced with MobX's internal machinery so I'm looking forward to see how you implemented it. Beyond logging to console during local development, I will be curious to see how it might be built upon to provide an extension point for gathering analytics and exception analysis.

As far as naming, `wit

[2016-04-22 21:23] mweststrate commented on #193
@amsb see: https://github.com/mobxjs/mobx/compare/action-tracking

[2016-04-23 10:37] hellectronic commented on #199
@AriaFallah @hnordt Do you have concrete questions in regard to testing?

[2016-04-23 10:39] capaj commented on #199
@hnordt I have an article on mobx recipes in the making. Will include some samples and showcases on testing. Give me 1-3 weeks, I'll post it then.

[2016-04-23 12:53] PhiLhoSoft commented on #199
Well, as I wrote, testing wasn't much specific. At least in my use case. I added MobX in a very local way (controller level) in an existing AngularJS 1 application, to replace part of the code.
Not using it as a central store, as it would have been too disruptive. We have already some unit tests (made with Jasmine, run with Karma, classical in the Angular world), not enough because of deadlines an

[2016-04-24 06:56] AriaFallah opened #214 "How to observe deep changes?"
Currently if you do

[code]

The console.log will not be triggered.

[2016-04-24 07:55] AriaFallah commented on #214
Nevermind found a more powerful workaround 😄

[2016-04-24 08:24] AriaFallah opened #215 "Add "oldValue" object to "splice" event when observing arrays."
I know you're trying to comply with https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/observe

But I don't see how it's useful in any way to exclude it.

I'm not familiar enough with TS or the library to do a pull, but I think it'd involve modifying spliceWithArray so it has something like this at https://github.com/mobxjs/mobx/blob/master/src/types/observablea

[2016-04-24 12:09] DominikGuzei commented on #84
Just to let you know, we are using Meteor with redux and mobx and this is the code that glues `Meteor.Tracker` and mobx `autorun` together:

[code]
We call this `reaction` and you can pass in any function that depends on reactive data sources in the Meteor world and/or mobx observables like this:

[code]

We tried a lot of different combinations, this was the only way we could achieve a reliable i

[2016-04-24 22:37] mweststrate commented on #215
The main reason it is not included in the splice info (I guess), is that the splice is now currently build up using data you need to know anyway to perform a splice (removedItems is returned from the splice operation). Putting the oldValues in the splice info would require calculating additional information to just emit this event. This event might be emitted very often, so the smaller / simpler t

[2016-04-24 22:43] AriaFallah commented on #215
Ah ok good to know.

[2016-04-24 22:43] #215 closed

[2016-04-25 07:16] mweststrate commented on #55
Closed in favor of the discussion in #211

[2016-04-25 07:16] #55 closed

[2016-04-25 13:56] khrykin opened #218 "N:M data caching best practice"
Hi, I'm new to `mobx`  and for me the subject is not clear after reading docs/playing with examples. I mean since we don't normalize our data it should cause significant overhead to maintain consistency for  n:m relational data... I'm obviously missing something, what is the best way to handle this cases (for example — Trello-style app, where users live in boards, cards, comments etc.) ?

[2016-04-25 18:34] mweststrate commented on #218
Can you elaborate what you exactly mean with maintaining consistency? That data that is displayed from a referred object is consistent, or that objects are properly cleaned up if they are for example no longer be referred to?

[2016-04-25 18:38] mweststrate commented on #84
That looks pretty smart! Thanks for sharing. cc: @faceyspacey

[2016-04-25 18:39] mweststrate commented on #69
Closing this one for now, until more people need it.

[2016-04-25 18:40] mweststrate commented on #169
Fancy! Feel free to take a shot at it :)

[2016-04-25 18:41] mweststrate commented on #173
Closed in favor of #211

[2016-04-25 18:41] #173 closed

[2016-04-25 18:41] mweststrate commented on #140
Solved by https://github.com/chicoxyzzy/rx-mobx

[2016-04-25 18:41] #140 closed

[2016-04-25 19:06] khrykin commented on #218
@mweststrate I'd say I mean both, actually

[2016-04-25 19:25] AriaFallah commented on #218
@khrykin Have you read this https://medium.com/@mweststrate/becoming-fully-reactive-an-in-depth-explanation-of-mobservable-55995262a254#.77jo3gyc5?

[2016-04-25 20:52] mweststrate commented on #104
@andykog just added server side rendering and server communication to the TodoMVC example repo :) https://github.com/mobxjs/mobx-react-todomvc

[2016-04-25 20:55] khrykin commented on #218
@AriaFallah I did. The question is more about how to organize things, i.e. data classes, so, for example when a socket with new comment containing updated author info arrives, I do something like `new Comment(json)` and all components referred to this comment's author will be updated. I just can't imagine how to implement this without collecting `Author` instances in some cache, i.e. some kind of

[2016-04-25 21:19] mweststrate commented on #218
Indeed, you will have inevitable a collection of data stored on your client in which you store your data, usually some observable map or array. Usually per type. MobX is quite unopinionated on how you organize this. But you can safely refer from one object to arbitrary other objects in other stores, as long as you update them in place when receiving changes. (or you can normalize stuff and look it

[2016-04-26 05:04] hnordt commented on #211
I liked te idea. The current modifiers API is weird, the new proposal are cleaner.

[2016-04-26 05:19] AriaFallah commented on #211
@mweststrate Would it be possible to just have both? Keeping them as exports, but also updating the `@observable` decorator?

[2016-04-26 07:10] mweststrate commented on #211
@AriaFallah it will stay at least in the 2.0 range. If it should stay longer then that, maybe the `(extend)Observable` functions shouldn't be able to accept these options as arguments, to don't have confusingly two ways of achieving the same thing.

[2016-04-26 07:44] DominikGuzei commented on #84
Thanks @mweststrate, we really love mobx by the way! This solved all our issues with Meteor & redux, and reduced the boilerplate mess about 80%. Anyone reading this and still using things like `Tracker.Component` should immediately stop and rethink.

[2016-04-26 11:29] khrykin commented on #218
@mweststrate thank you, gonna find the best solution for my cases

[2016-04-26 11:48] mweststrate opened #219 "MobX roadmap"
These are my current ideas of the MobX roadmap (excluding minor improvements), feel free to add your suggestions!

# 2.2
* [x] introduce `intercept`, the counterpart of `observe` to be able to intercept changes before they are applied. A bit similar to proxy traps. Enables #182, cc: @capaj
* [x] introduce `@action` for automatic transactions and tracability + improved logging. Implements #193 and

[2016-04-26 14:20] mweststrate commented on #215
That being said, I will added the fields `added` and `addedCount`. Which is cheap and useful for debugging purposes :)

[2016-04-26 14:50] hnordt commented on #219
I liked all features 🎉

[2016-04-26 16:08] danieldunderfelt commented on #219
One thing I'd love is an official API for running a callback when an observable starts being observed. I didn't have much luck with atoms and hooking into `$mobx.values` feels a bit wrong. This would enable lazily populating datastores from a server or localstorage as they get used in views.

[2016-04-26 16:09] AriaFallah commented on #219
@danieldunderfelt isn't this what [autorun](https://mobxjs.github.io/mobx/refguide/autorun.html) does?

[2016-04-26 16:15] danieldunderfelt commented on #219
@AriaFallah No, autorun observes an observable value. I'm talking about detecting when a view, like autorun, starts observing a value :D

So the mere act of writing
[code]
will register the autorun function as an observer to `observableStore.value`. I'd like to hook into that registration "event". It is already possible by adding a function to `observableStore.$mobx.values.value.onBecomeObserved`,

[2016-04-26 16:18] mweststrate commented on #219
@danieldunderfelt I remember that we talked about this in the past indeed. Atom's should provide the hooks for this, did you have any luck with those? Or do you want to have it more general, like on normal observable values? Thats a pretty cool & feasible idea now that I think of it :)

[2016-04-26 16:27] danieldunderfelt commented on #219
@mweststrate A more general approach would be nice! The atoms were a bit clunky, at least as explained in the docs. One of the coolest things in mobx is that simply using a value has an effect, but there's no easy way to subscribe to that "when a view reads a value" event.

[2016-04-26 16:41] donaldpipowitch commented on #219
I'd like to see more examples which show the idiomatic way to solve different problems (routing, requests and so on). I think currently many examples solve these problems slightly different.

[2016-04-26 16:48] hnordt commented on #219
@donaldpipowitch here is my approach for HTTP requests:

https://gist.github.com/hnordt/9674fc5a5a403bc377033f7b9b75453d

[2016-04-26 17:21] otbe commented on #219
@donaldpipowitch @hnordt
A very simple approach for "inline fetching":
https://gist.github.com/otbe/52a5ba1de9264dc1d58c2f21fee338ca
(works very well for simple use cases)

A more complex approach:
https://gist.github.com/otbe/50e3bdfbba2cf0cd1c7fe21008298c15
All components that show some data from a single todo or a list of todos, will show the same version. Independent of when the last ```loadTo

[2016-04-26 17:40] mweststrate commented on #104
Example of server side rendering + routing with react-router by @kuuup: https://github.com/kuuup/mobx-ssr-example

[2016-04-26 17:42] mweststrate commented on #219
Definitely, I've now thrown most stuff under #104 or under the relevant questions. Does anybody know a nice way to set up a nice list with best practices? Github wiki page?

[2016-04-26 18:29] donaldpipowitch commented on #219
I guess I wouldn't use wiki pages, but either a separate repository (like Cycle does with https://github.com/cyclejs/examples) or just a folder {{examples}} inside this directory. (However I'd place a {{README.md}} inside every example - Cycle doesn't really explain them.)

[2016-04-26 18:31] AriaFallah commented on #219
As a counter example https://github.com/vitaly-t/pg-promise/wiki uses wiki pages, and it's one of the most helpful resources I've ever used.

[2016-04-26 19:11] donaldpipowitch commented on #219
@hnordt @otbe Thanks for sharing

[2016-04-27 01:40] luosong commented on #219
I like intercept and @action

[2016-04-27 01:55] AriaFallah commented on #215
@mweststrate You said that it's extra overhead to include the oldValue on splice changes and I agree. This makes me wonder why include the `object` option?

You can only use observe if the MobX observable being observed is already in scope, and if that's the case won't `object` be already equal to the observable already in scope?

[code]

[2016-04-27 13:23] Keats commented on #199
@AriaFallah posted a short video to some info: https://www.youtube.com/watch?v=83v8cdvGfeA

[2016-04-27 13:24] AriaFallah commented on #199
@Keats haha yeah, but I figured that since I was just summarizing the information here, and not as much in depth I wouldn't promote it myself. I appreciate you posting it though 😄

[2016-04-27 15:06] AriaFallah opened #220 "What does the T(transparent) in TFRP mean?"
When I looked up Transparent Reactive Programming and Transparent Functional Reactive Programming, I was linked back to MobX, which was unproductive, and [this](https://cs.brown.edu/~sk/Publications/Papers/Published/bck-lowering-opt-trans-frp/paper.pdf) 10 page paper which said

Is this paper the motivation for calling MobX transparent? If it is, is the `@observable` decorator what `lifts` your va

[2016-04-27 16:52] mweststrate commented on #220
The lifting is done by not by the ` @observable`  decorator, but by the `autorun`, `@computed` and `@observer`  methods. Where in normal FRP you have to explicit subscribe to the observables, and need operators to combine the different subscriptions, this is done implicitly in the case of MobX and other TFRP libraries; while running your reactive functions it observes which data you access, subscr

[2016-04-27 17:07] AriaFallah commented on #220
@mweststrate agreed on the F. I tried looked up the difference between FRP and RP, but no one ever made the distinction. I just assumed FRP was RP in a functional programming language, and thus it carries the pure function style and immutability.

[2016-04-28 07:36] andykog commented on #49
Consider situation where we want to send comment text to server, but only if user is loged in.
It was easy with `untracked`:

[code]

@mweststrate, how would you solve this without `untracked`? Use `observe`? May be, some hack like this?
[code]

[2016-04-28 10:07] mweststrate commented on #49
@andykog I think `untracked` will stay. I'm even considering putting the new `@actions` always in an `untracked` so that actions never can fire automatically (but maybe you want to trigger an action from an autorun? don't now)

Besides that, I think the following is a nice solution to your case?

[code]

[2016-04-28 10:26] andykog commented on #49
Oh, I completely missed that there is such thing. Unfortunately, doesn't seems that your snippet works, https://jsfiddle.net/Sl1v3r/4dso36c3/ I'll take a closer look at `when` to say why :-)

[2016-04-28 11:05] mweststrate commented on #49
Oh note that  `when` runs only once, and the action is not tracked or something, so in your case you probably need:

[code]

[2016-04-28 11:10] andykog commented on #49
@mweststrate, in that way it doesn't respect the condition: https://jsfiddle.net/Sl1v3r/4dso36c3/

[2016-04-28 11:13] mweststrate commented on #49
argh more acceptance criteria!

[code]

[2016-04-28 14:22] AriaFallah commented on #220
@mweststrate I just realized that everything in MobX is basically a stream...as you said you've just removed the need to explicitly subscribe and emit.

Does this mean you can conceptualize RxJS as a graph as well? If you derive streams from streams?

[2016-04-28 16:34] giacomorebonato opened #223 "Computed property based on a property in another store"
Is it an expected scenario to have a computed property on a store, based on an observable that is in another store?
In my example I have a QueryStore that contains all params to filter an array which is in another store.
How would you deal with this scenario?
In my case I am importing the store in the other one... and it works.

Thank you.

[2016-04-28 18:58] AriaFallah commented on #223
@giacomorebonato It would be helpful if you posted your code or at least something similar.

[2016-04-28 19:25] giacomorebonato commented on #223
[code]

[2016-04-28 19:49] giacomorebonato commented on #223
The code above works... but is it the right approach in your opinion? (the filtering part is not complete..)

[2016-04-28 19:50] AriaFallah commented on #223
I think the idea behind it is fine. Though I'm curious why you're using `new` and a function here. Why not just something like.

[code]

[2016-04-28 19:55] giacomorebonato commented on #223
I didn't like the annotation syntax and I lint with [standard](https://github.com/feross/standard).
I have just tried to follow the ES5 examples in the doc, but your example is really nice... I will think about converting my code. Thank you.

[2016-04-28 20:00] #223 closed

[2016-04-29 00:23] hnordt opened #224 "React Components - Clear observables"
Do I need to clear observables?

Example:

[code]

[2016-04-29 00:27] AriaFallah commented on #224
What would be the benefit of doing that other than resetting the state of your component?

[2016-04-29 00:54] hnordt commented on #224
@AriaFallah just wondering if I need to do any "memory" cleanup

[2016-04-29 03:25] maxguzenski opened #225 "Structure domain store and ui related stores"
I'm trying to figure out how to structure my app, for example, I have a model User, a generic UserStore to keep track all users load so far and some UI related stores like FriendList, PendingFriendList, BlockedUserList, LikedUserList, etc. like that:

[code]

My question is: Is that the way to go? Or is there a better way ??

[2016-04-29 09:22] mweststrate commented on #224
@hnordt no `@observer` takes care of all cleanup. Observables and computeds themselves never need cleanup. The only thing that needs cleanup are `autorun` and `.observe` listeners.

[2016-04-29 09:37] mweststrate commented on #225
Same question on [stack overflow](http://stackoverflow.com/questions/36930301/how-to-structure-mobx/36934819#36934819)

[2016-04-29 15:33] hnordt commented on #224
@mweststrate thank you!

[2016-04-29 15:33] #224 closed

[2016-04-29 15:40] AriaFallah commented on #224
@mweststrate is there a way to know when your store is garbage collected so that you can dispose of the `observe`? Or is that something that's not in my control?

I'm using it pretty liberally for mobx-store:
https://github.com/AriaFallah/mobx-store/blob/master/src/index.js#L85

[2016-04-29 17:48] maxguzenski commented on #225
Thank you very much.
Sorry for post it here and in stack overflow, after put it here I realized that stack overflow was the most appropriate place for this.

[2016-04-29 17:48] #225 closed

[2016-04-29 22:01] andreigabreanu opened #227 "Unit Testing problem related to reseting"
I've been searching for a few hours and probably I am missing something but I have an issue with unit testing a react component connected to an MobX enhanced derived store (based on 2 others computed/observable stores).

Here is a snippet of code (using karma + jasmine + webpack + ts-loader)

[code]

The failure gives the following error(s):

ERROR: '[mobx] An uncaught exception occurred while cal

[2016-04-30 04:30] mweststrate commented on #227
Note that you seem to mix up  `derivedStore` and `computedStore`.

Besides that I recommend doing `mobx.extras.resetGlobalState()` in the beforeEach. By default MobX stops running after the first exception for fail fast reasons. This function reset all derivations for a fresh. I'll make sure a better error message is given when MobX goes in 'errored' state.

[2016-04-30 08:46] maxguzenski opened #228 "actions a la flux"
Hi
I'm trying to figure out how to perform actions that change many stores. I have a UserModel, a PendingFriendStore, FriendStore and SessionStore and want to do something like that:

[code]

How can I do this? just have this method out site of any store or is there a better way?

[2016-04-30 08:57] mweststrate commented on #228
Yeah a controller class sounds fine for this.

Or if you like still apply the flux pattern; create a dispatcher and actions, where the dispatchers dispatches each action to all the stores (the [d3 demo project](https://github.com/mobxjs/react-particles-experiment/tree/mobx-flux) does this as well). But in my experience that is a little less flexible when the order of execution is important or when

[2016-04-30 09:30] maxguzenski commented on #228
I'm porting a medium size app from redux to mobx, dispatchers is exactly what I dont want ;) ...
But has some methods in store, others in controller, others in model dosent look very good was well.

I'll think about it a little more...

[2016-04-30 09:52] mweststrate commented on #228
In large projects I usually keep the stores really dumb (just fetching,
submitting and storing) and have separate controllers with all logic, with
receive the relevant stories in their constructor.

Op za 30 apr. 2016 om 11:31 schreef Maximiliano Guzenski <
notifications@github.com>:

[2016-04-30 13:47] mweststrate commented on #220
All observables are stateful streams in fact. Set(ters) are emitters, get(ters) and `observe` are subscribers. Observables and computations are all "cold", and reactions are observers as well.

RxJs streams can be conceptualized as graphs as well, `const c = a.combineLatest(b)` gives the samee same dep tree as `const c = computed(() => [a, b])` in MobX

[2016-04-30 15:29] mweststrate commented on #215
@AriaFallah `object` is just a pointer, not a copy. And it is very useful if you attach the same observer function to multiple observables, to find out which one fired.

[2016-04-30 15:31] AriaFallah commented on #215
How do you do this? I don't think I've seen it in the docs.

[2016-04-30 15:45] mweststrate commented on #215
Ehh.. just reuse the function :)

[code]

[2016-04-30 15:45] andreigabreanu commented on #227
Indeed, I think the store that is using the other two is a "computedStore" - since it does nothing but observe the other 2 and provide computed values for subscribers. Would you say that is correct?

Regarding the error: I tried with the mobx.extras.resetGlobalState() but got the same issue. I did some more investigations last night and it seems the error is not triggered if I don't render any com

[2016-04-30 15:46] AriaFallah commented on #215
@mweststrate I thought you needed to

[code]

Is it actually part of the prototype?

[2016-04-30 15:48] mweststrate commented on #215
Yep (except for objects to avoid name collisions). But the idiomatic is indeed:

[code]
But the same principle would apply

[2016-04-30 15:49] AriaFallah commented on #220
@mweststrate While I have you attention in another thread 😅 ...I thought cold observables were generally not a good thing? For example, the guy who made cycle.js is now making xstream so that every stream is hot instead of cold.

Is there any advantage to cold streams?

[2016-04-30 16:21] tlvenn commented on #219
For the strict mode, it might be interesting to have some granularity. For example, depending of the nature of a given store, one might want to enforce it for this store alone. A `@strict` class decorator might be handy to do just that.

[2016-04-30 16:51] mweststrate commented on #220
Yeah it is a bad comparison, as RxJs are event streams and MobX has value streams. What I meant by it: all 'streams' evaluate lazily; computations won't run if they are not used by some reaction. From every stream you are always able to get the 'latest' value, and only exactly that.

[2016-04-30 19:29] mweststrate commented on #227
Hmm wait I think I didn't read your error well enough earlier: `[ComputedValue] It is not allowed to assign new values to computed properties.`, I guess you are, as suggested by the error, try to assign a new value to something decorated with `@computed`. If that isn't the case, please attach some more code then I'll take a closer look.

[2016-04-30 21:29] maxguzenski commented on #228
Now I trying to do something like redux autoBind and redux-ducks, but without dispatcher.

[code]

I think that this is ok.

[2016-04-30 22:53] AriaFallah commented on #220
@mweststrate could you let me know where you learned about FRP, TFRP, value streams, event streams etc. ? Are there any sources that you looked at when you were writing MobX to help guide you?

I'd really like to learn more about this, but I know you're not exactly free so would it be possible for you to point me towards some resources to learn and the foundations and the related concepts that you

[2016-05-01 02:11] mweststrate commented on #220
MobX algorithms are a bit more sophisticated, but this [Tracker manual](https://github.com/meteor/meteor/wiki/Tracker-Manual) is I think one of the best explanations of TFRP. To understand the difference between `computed` and `autorun` check [Knockout computeds](http://knockoutjs.com/documentation/computed-pure.html). Rx I learned from some book I think, that is quite a while back.

Besides that

[2016-05-01 02:13] AriaFallah commented on #220
@mweststrate what are the limitations of MobX? 😛

[2016-05-01 05:07] smirnovshina commented on #204
@mweststrate it seems there is a mistake in the example:
[code]
As far as I know `window` object does not have those methods, elements have. Maybe `window.innerWidth` or `window.documentElement.clientWidth`?

By the way I also didn't understand what for the `asStructure ` is needed.

[2016-05-01 14:30] chicoxyzzy commented on #169
Wow actually this is way more complicated than I thought =) I am familiar with TypeScript though I need to explore mobx source code a bit to find a place should I add Symbol.observable method

[2016-05-01 14:52] mweststrate commented on #169
I think you need to add it to the prototypes of `ObservableValue`, `ComputedValue`, `ObservableArray`, `ObservableMap` and as symbol when extend an object. In all 5 cases you can probably use some identical utility function that wraps around `mobx.observe`.

[2016-05-01 15:29] #228 closed

[2016-05-02 12:23] smirnovshina opened #230 "The right way to pass a store to components tree?"
Is there the right and simple way to pass a store to components tree like with react-redux's `Provider` and `connect`? It seems that the kind of functionality should be in mobx-react but there isn't.

[2016-05-02 13:49] mweststrate commented on #230
See mobx-connect or react-tunnel

Op ma 2 mei 2016 om 14:23 schreef Sergey Smirnov <notifications@github.com>:

[2016-05-02 14:09] smirnovshina commented on #230
@mweststrate I have tried those. react-tunnel seems to not support stateless functions (I got an error) and the module itself not supported by the author. mobx-connect is similar to react-redux but more verbose.

What method do you use or the right way to pass a store? It seems it is quite common functionality passing a store to components. Do you plan include this functionality to modx-react, for

[2016-05-02 15:00] AriaFallah commented on #230
@smirnovshina why don't you just pass the store as a prop? That's how every other library does it behind the scenes anyways unless they're using context, which is the same concept regardless. The only reason that a library like redux needs provider and connect is because it has a very rigid structure that you have to follow.

With MobX you shouldn't need another library to pass down your store...j

[2016-05-02 15:22] mweststrate commented on #230
I tend to agree with @AriaFallah. But people ask on a regular basis for a connector. So the question is should `mobx-react` maybe provide some standard approach / HoC for working with context? And if so, what should it look like? considering there can be multiple stores in MobX etc.

[2016-05-02 15:36] mattruby commented on #230
I'm all about passing it down via props.  However, I do get the argument
for context.  At times, I'll have a "smart" component hotwire the works to
grab a store out of the ether.

On Mon, May 2, 2016 at 10:22 AM, Michel Weststrate <notifications@github.com

--
-Matt Ruby-
mattruby@gmail.com

[2016-05-02 16:26] luisherranz commented on #230
What about [recompose](https://github.com/acdlite/recompose) mapProps method?

[code]

[2016-05-02 16:51] hnordt opened #231 "Forms Problem"
Hello.

I'm trying to work with forms, but it is not working correctly and I think I'm missing something.

I have a todo input list and when I add two items with some text and try to edit them it doesn't work.

**How to reproduce?**

1. Open https://jsfiddle.net/wv3yopo0/139/
2. Click "Add" button
3. In the new input type `ab`
4. Click "Add" button again
5. In the new input type `cd`
6. Now click

[2016-05-02 16:54] hnordt commented on #231
@mweststrate @AriaFallah I would appreciate your help on this

[2016-05-02 17:03] AriaFallah commented on #231
@hnordt found the problem

addTodo needed to be changed to

[code]

I think the problem was that you dynamically added a key to a plain object, which caused it to not be observed. If the key exists when it's first inserted it works fine.

The other solution is to use the mobx map to properly be able to dynamically add the key

[code]

and in handleChange

[code]

[2016-05-02 17:07] AriaFallah commented on #230
@mweststrate for the multiple stores problem I keep all my stores in one central store using [mobx-store](https://github.com/AriaFallah/mobx-store). I haven't built anything large or "real world" yet with it though so I think I still need to see if the store of stores idea holds up.

I think it will though considering redux kind of does the same thing.

[2016-05-02 18:05] hnordt commented on #231
You are the best @AriaFallah ! Thank you.

About the key part, please read react index as key

[2016-05-02 18:05] #231 closed

[2016-05-02 18:10] AriaFallah commented on #231
@hnordt ah that `key` post makes sense, but perhaps you should find something other than `text` to use there if it's going to break the rerendering.

[2016-05-02 18:11] hnordt commented on #231
Yeah, I’ll assign an UID. I used text just for demo purposes.

[2016-05-02 18:31] AriaFallah commented on #231
@hnordt actually after thinking about it...does it matter what the key is when you're using MobX? MobX will rerender the component whenever there is a change regardless of what React thinks has changed.

[2016-05-02 18:33] hnordt commented on #231
I don’t know.

Anyway as a best practice I’ll always set an unique key.

[2016-05-02 18:36] maxguzenski commented on #230
I made a simple Provider and a very simple connect

my store
[code]

and on store index.js
[code]

a simple Provider:
[code]

and a very simple connect
[code]

Now I just use "connect" on everyplace and the component receive store (with all stores) and actions (with all actions). Dont need to filter anything.

[code]

[2016-05-02 18:44] AriaFallah commented on #230
@maxguzenski I'm curious, what's the benefit of doing it this way over just passing it down with props?

[2016-05-02 18:47] maxguzenski commented on #230
@AriaFallah Component can "connect" with stores and actions and use what it want... parent dont need to now everything about its children. If a component want to use something new, just use it, without has to change every component that call this one.

[2016-05-02 18:59] maxguzenski commented on #230
@AriaFallah this is like Replay works, just pass down the minimum that components need to know from its parent, and let component find/load/call everything else.

[2016-05-02 19:33] aitchnyu opened #232 "have a plain object as the value of a mobx map?"
I did:

[code]
I expected this for last output:

`Object {}`

How do I have a plain object as the value of a mobx map?

Thank you for making the replacement for difficult to understand models and error-prone GUI updates!

[2016-05-02 19:37] luisrudge commented on #230
Sorry if this is a dumb question, but why go through all those hoops?
This is working just fine for me:

[code]

[2016-05-02 19:38] AriaFallah commented on #232
@aitchnyu it is a plain object, but when you added it to the MobX map it was transformed into an observable value. It'll behave the same as a regular object, but now it's an observable value.

https://github.com/mobxjs/mobx/blob/master/src/types/observablevalue.ts

[2016-05-02 19:48] maxguzenski commented on #230
@luisrudge Yes, You could do that.

But if you want Isomorphic javascript (render on server) that will not work, because you Store is a singleton, and server'll use it to all request, from all users.

ps.: My example was a singleton as well, I updated it.

[2016-05-02 19:50] luisrudge commented on #230
Good to know, thanks!

[2016-05-02 20:42] mweststrate commented on #231
@AriaFallah yes it still matters. MobX doesn't need it, but the React reconciler does need stable keys. Without it React will throw away and recreate your components whole the time. And MobX can't optimize that :)

[2016-05-02 20:50] mweststrate commented on #232
Note that if you are in the rare situation that the values you assign to the map should not become observable, you can use [modifiers](http://mobxjs.github.io/mobx/refguide/modifiers.html) to prevent this default behavior. But in normal situations you shouldn't need this.

[2016-05-02 20:51] mweststrate commented on #220
The benefits of immutable data, like time travelling, those are harder to achieve.

[2016-05-02 20:51] #220 closed

[2016-05-02 20:52] #218 closed

[2016-05-02 20:52] #206 closed

[2016-05-02 20:53] mweststrate commented on #206
Closed for inactivity, feel free to re-open if needed.

[2016-05-02 21:04] AriaFallah commented on #220
@mweststrate

What are the benefits of immutability though? Normally I've heard

1. Read only data with multiple threads. Helps to implement something like STM.
2. referential integrity. Like this quote from ImmutableJS

3. undo/redo

---

But if you think about these benefits:

1. The JS you write runs on a single thread.
2. MobX provides referential integrity.
3. Undo/Redo is actually pretty eas

[2016-05-03 02:47] hnordt commented on #231
@AriaFallah

We use `map` for dynamic observables.

So why always use `map`? The main reason is that `const obs = map({ hello: 'world' })` is slower than `const obs = observable({})`?

[2016-05-03 06:12] jjvattamattom commented on #232
Thanks for resolving my query! I had a react component which didnt work with an observable object, so I had to convert it to JS. However I will try again since it'll behave the same as a regular object, to quote @AriaFallah.

[2016-05-03 10:14] smirnovshina commented on #230
Thank you all for answers, situation became clearer. "react-connect" do the job well, but maybe there is no need to use it and just pass a store through props. Most likely people just need to revise some "Redux habits". 😉 Nevertheless it would be great if there were more "best practices" written: now to structure the app, how to solve some common cases, etc...

[2016-05-03 10:14] #230 closed

[2016-05-03 11:24] mweststrate commented on #231
@hnordt maybe you can best compare it with Java; use maps if you have a dynamically keyed collection with uniform values. Use objects for anything with (roughly) predefined attributes.

[2016-05-03 13:43] hnordt commented on #231
Thank you @mweststrate, unfortunately I don't know Java and your explanation doesn't helped me :(

[2016-05-03 14:01] AriaFallah commented on #231
@hnordt

To me the difference isn't necessarily about speed, but about semantics. It's almost like `let` vs `const`.

When you create an observable object, its keys are constant. You're saying that it is a normal object with all the keys it ever needs. Its values can change, but you're never going add or remove keys from it or want to observe the adding and removing of keys.

With map there are no

[2016-05-03 14:59] hnordt commented on #231
Thank you @AriaFallah 👍

[2016-05-03 22:21] capaj opened #234 "Cannot read property 'atom' of undefined when I call reduce on an observable array"
I just stumbled on this error:

Uncaught TypeError: Cannot read property 'atom' of undefined
Object.defineProperty.value @ mobx.js:1147
priceSum @ orders.js:110
dehydrate @ backend.js:1685
dehydrate @ backend.js:1685
dehydrate @ backend.js:1685
(anonymous function) @ backend.js:917
flush @ backend.js:912
(anonymous function) @ backend.js:900

Versions:
"mobx": "^2.1.5",
"mobx-react": "^3.0.5",

[2016-05-03 23:08] AriaFallah commented on #234
I'm guessing the error is located in [this](https://github.com/mobxjs/mobx/blob/master/src/types/observablearray.ts#L308) block of code

[code]

and that for some reason your array doesn't have `this.$mobx` defined. I'm not sure if that's the case, but that's where I would start looking.

[2016-05-03 23:20] capaj commented on #234
I have a json object which has an array on one attribute. In the render I run that reduce. It is indeed that 5th line from the bottom which throws.

[2016-05-03 23:36] AriaFallah commented on #234
@capaj can you paste the code you use to create that JSON object?

[2016-05-04 15:05] Diniden opened #236 "Maximum Stack Size Exceeded"
I made a simple application that has a store structured something like this:
[code]
All of that is observable. I then made a computed view of the table data:

[code]

I then fill the tableData with ~10000 items that contains data like:

[0, new Date(), "foo", "foo", "foo"]

and I render it out via:

[code]

Trying to change my sort column, I get this spewing out from mobx:

[code]

I understand 10

[2016-05-04 19:24] jefffriesen opened #237 "Uncaught RangeError: Maximum call stack size exceeded"
@mweststrate suggested I post this as a ticket after discussing the problem on Gitter. I also saw issue #236 but decided to not post it on there in case it's a different problem.

On Gitter, I mentioned maxing out the call stack on a filter. I realized it was also happening on a simpler function so I'll post that here.

Context: After importing lots of records, I'm assigning one or more classifica

[2016-05-04 20:34] gusev-p opened #238 ""Invariant failed" for computed array properties"
Hello,

I'm having trouble implementing the following 'ObservablePromise' logic:

[code]

This works fine if ObservablePromise's type is string or number or array of 'simple' types, but for arrays of complex types this throws "Error: [mobx] Invariant failed: It is not allowed to change the state when a computed value is being evaluated. Use 'autorun' to create reactive functions with side-effects.

[2016-05-05 02:28] mweststrate commented on #237
Just pushed version `2.1.6` which should address this issue. It might be the case that the call stack issue is disappeared but that the operation is slow, just let me know if that is the case.

[2016-05-05 02:28] mweststrate commented on #236
Just pushed version `2.1.6` which should address this issue. It might be the case that the call stack issue is disappeared but that the operation is slow, just let me know if that is the case.

[2016-05-05 02:30] mweststrate commented on #234
@capaj did you have a debugger open when running into this? I saw this once before, when using some debugging tools and the `this` was not bound correctly inside the getter / setter function (!) when inspecting values through the development tools.

[2016-05-05 02:35] mweststrate commented on #238
Can you elaborate a bit on what you try to achieve with the ObservablePromise? I see the way you are heading, but I am not sure what your intention is :)

[2016-05-05 04:04] gusev-p commented on #238
I want some kind of 'async observable' - give to the consumers of 'products' some 'thing' which will be seen as having default value (empty array for instance) for the time of ajax and will receive real value when ajax completes. And like ordinary @computed property this 'thing' should detect any changes in used observables to pass them as parameters to server call. For example, ProductsStore may

[2016-05-05 04:15] gusev-p commented on #238
In other words, I want to abstract away async nature of 'products' for it's derivations to make them simple @computed properties.

[2016-05-05 04:35] jefffriesen commented on #237
Yep, that fixed it. Thank you. I'm curios how you knew that splatting the arrays was causing the problems.

[2016-05-05 04:35] #237 closed

[2016-05-05 07:07] mweststrate commented on #237
As usual, stack overflow http://stackoverflow.com/questions/22123769/rangeerror-maximum-call-stack-size-exceeded-why :)

[2016-05-05 08:54] maxguzenski opened #240 "transaction suppressing errors"
I believe that transaction is suppressing js errors. I have a lot of nested transaction, and a model was a invalid reference (null) and Chrome console show nothings.

[2016-05-05 13:57] jefffriesen commented on #237
Really interesting thread. Thanks for sharing. The call stack isn't being maxed out, but classifying and filtering are pretty slow (5-7 seconds to perform something). At this point I think this is probably on me to re-evaluate and optimize how I'm doing the classifying and filtering. Or break the data set up into smaller pieces.

thanks

[2016-05-05 18:43] gusev-p commented on #238
Realized that I can use ordinary observable([]) for this:

[code]
ticked can be closed probably.

[2016-05-05 18:43] mweststrate commented on #238
I think indeed this might not be the most convenient way to go (but I might be mistaken, feel free to prove me wrong). But observables in themselves are not sync or async, they just are, and at any moment in time they have a value. MobX allows you to implement your own observables through the concept of [atoms](https://mobxjs.github.io/mobx/refguide/extending.html)

`@computed` is used wrong in yo

[2016-05-05 18:51] mweststrate commented on #237
Yes reactive sorting is pretty expensive on large collections, because there are many values and function calls to be tracked. After all the result of your sort depends on any value in the array that is used in the comparison function. (Not only the array can change, but also the values in the objects could influence the result of the sort and hence they need to be tracked). There are some optimiz

[2016-05-05 18:52] mweststrate commented on #234
If you have a small reproduction btw i gladly dive into it

[2016-05-05 18:58] mweststrate commented on #240
Hi,

I'm quite sure it doesn't (unless you are using an older version of MobX). The current code base does not contain any `try ... catch` statements, so exceptions should not be eaten. If this is still an issue, could you try narrowing it down / reproduce it?

[2016-05-05 19:46] capaj commented on #234
@mweststrate I will try to isolate a small case this weekend. Please keep open until then

[2016-05-05 20:26] maxguzenski commented on #240
Im trying to reproduce it outside of my app and I cant... I'll try a little more.

[2016-05-05 21:28] maxguzenski commented on #240
was axios related.

[2016-05-05 21:28] #240 closed

[2016-05-06 07:48] gusev-p commented on #238
I get you point about side effects in `@computed` props, thanks. It will be really strange for example to set progress indicator flag for the time of ajax (to display that something is going on for the user) in `@computed` prop. But there are more code than I would like for simple server call, I will think about some abstraction to simplify this.

[2016-05-06 07:49] mweststrate commented on #237
See also #166 which will improve the time needed to update a derived sorted array after an update a lot. The initial sort will remain expensive though

[2016-05-06 13:41] #238 closed

[2016-05-06 13:42] mweststrate commented on #232
closing this issue as it seems resolved. @jjvattamattom if your issue is still there, feel free to open a new one :)

[2016-05-06 13:42] #232 closed

[2016-05-06 13:43] mweststrate commented on #227
@andreigabreanu could you indicate whether your issue has been resolved? Tnx!

[2016-05-06 18:45] andreigabreanu commented on #227
Unfortunately, I didn't have any time to get back to this. I guess we can close for now and I'll reopen when I have more info / time to dig into it. Thanks for the help!

[2016-05-06 20:51] #227 closed

[2016-05-08 13:12] capaj commented on #234
I tried to reproduce it, but I cannnot anymore. It might be that I was doing something weird like lodash _.clone(observable) and the merging it with other observable using _.merge().
In any case, closing this bug.

[2016-05-08 13:12] #234 closed

[2016-05-08 20:22] mweststrate commented on #236
@Diniden could you indicate whether this issue has been resolved sufficiently? Thanks!

[2016-05-10 02:16] philcockfield commented on #210
Is there a Slack Channel, or Gitter group where people are talking with each other about MobX?  What's the best place to go and ask questions?

[2016-05-10 02:21] AriaFallah commented on #210
@philcockfield

1. [gitter](https://gitter.im/mobxjs/mobx)
2. There are a fair amount of MobX questions in the issues section so I think you can go there as well.

[2016-05-10 02:42] AriaFallah opened #242 "Elaboration on RxJS shortcomings in wiki."
[In the wiki](https://github.com/mobxjs/mobx/wiki/Mobx-vs-Reactive-Stream-Libraries-(RxJS,-Bacon,-etc))

(x = a.combine(b), y = a.combine(c), z = x.combine(y))
[code]

[2016-05-10 03:10] jlhamilton commented on #210
There is a MobX channel on [Reactiflux](https://facebook.github.io/react/blog/2015/10/19/reactiflux-is-moving-to-discord.html) where @mweststrate answers questions.

[2016-05-10 05:00] philcockfield commented on #210
Cheers - thanks guys.  MobX totally lands conceptually where I want it too.  This just makes so much elegant sense.

[2016-05-10 18:11] fibric opened #244 "Find a new logo"
During the [AMA](https://hashnode.com/ama/with-mobx-cinspo7i500vyxs53buh8ebls#cinssey9t00zqo75381sepfbd) on hashnode.com @mweststrate suggested developing ideas for a new logo.

Well, here we are.

Throwing some ideas:
- something related to the mafia
- something with cars
- something about observing
- something with the initials M & X maybe ;-)

[2016-05-10 19:57] AriaFallah commented on #242
https://youtu.be/DfLvDFxcAIA?t=1368

[2016-05-10 19:57] #242 closed

[2016-05-10 23:22] makeitrein opened #245 "Would MobX play nicely with VueJS?"
Just started a new VueJS pet project, does anyone have experience with using MobX for state management rather than the default VueJS implementation?

Would love to be able to use MobX @computed syntax at the store level, not sure if this is a good idea or not.

Thx!

[2016-05-11 08:36] canuzunoglu opened #246 "Opera 12.5 strange bug."
Hello,

First of all sorry for my english.

I am building a IPTV application and i must work with opera 12.5.

React, Observable, Computed are all working but i can not update an array with its key.

This code won't work in Opera 12.5. Array is not changing when i call increaseSomeNumber.

    class SocketsStore {
        @observable numbers = [1, 2, 3, 4, 5];

        increaseSomeNumber(key) {

[2016-05-11 18:05] mweststrate commented on #246
Would you mind creating a small fiddle or jsbin? You can fork for example this [one](https://jsfiddle.net/mweststrate/049r6jox/). I will take a look anyway, but a ready to use reproduction will help pinpointing the issue faster.

[2016-05-11 22:34] fibric commented on #244
While trying to get my hands warm, I came up with the idea of a silhouette of a detective. Maybe someone can produce a vector of my hand drawing. Or it's not wanted at all.

![mobx-detective](https://cloud.githubusercontent.com/assets/623932/15198640/f2ba4d3c-17d8-11e6-8d0e-3b8d3c317919.jpg)

[2016-05-12 01:23] arahansen commented on #244
I'm actually a fan of the current logo. I think it would be cool to see a redesigned logo that still captures the essence or ideas of the current one.

[2016-05-12 06:32] mweststrate commented on #244
@fibric cool :) Yeah I was thinking something along those lines as well indeed. Maybe with an X somewhere. I think referring to Mafia is very suitable for great jokes, as the Mob is kind of anti-state ;-).

cc @tetsuo

[2016-05-12 06:34] canuzunoglu commented on #246
Hi again,

I forked and updated jsfiddle, you can check. https://jsfiddle.net/ttpjcdc1/1/

By the way, this type of approach is working with Opera 12.5. Maybe this will be helpful.

    increaseSomeNumberWorking(key) {
       var newNumbers = this.numbers;
       newNumbers[key] += 1;
       this.numbers = newNumbers;
    }

[2016-05-12 06:41] mweststrate commented on #246
Thanks for the reproduction!

I just installed Opera, but I got version 37.0 (from the standard deb repository, in which it is working correctly). Did you use a desktop opera? On a certain OS? Otherwise 12.5 sounds quite old?

[2016-05-12 07:27] tetsuo commented on #244
@fibric wow that looks great 👍

[2016-05-12 08:09] iamakulov commented on #244
Is there any necessity to actually update the logo? If the current one is already spread, radically changing it will make MobX less recognizable.

I’m up to removing the shadow though:

![mobx](https://cloud.githubusercontent.com/assets/2953267/15207740/9f738fd2-1830-11e6-8458-447109e4dc47.png)

This shouldn’t affect recognizability as the `]x[` part is remaining unchanged.

[2016-05-12 08:21] mweststrate commented on #244
btw, original SVG can be found here: https://github.com/mobxjs/mobx/blob/gh-pages/images/mobservable.svg

[2016-05-12 08:51] iamakulov commented on #244
Yup, edited it too.

Inkscape source: http://svgur.com/s/5Z.
Plain source: http://svgur.com/s/5S. In this file, I’ve converted the text to path so it can be safely used on any computer and the `]x[` part is always visible.

[2016-05-12 16:09] capaj opened #247 "question: what is the best way to make an observable object plain again?"
let's say I have
[code]
How can best convert my object back to plain javascript object?
I realize, I could use _.cloneDeep(a) or JSON.parse(JSON.stringify(a)) but I just wonder-wouldn't it be a good idea if MobX provided a utility to do this?
For example I imagine it would be super heplful for arrays-because when you make an array observable using  _.cloneDeep(a) won't get it back to a regular arr

[2016-05-12 16:10] AriaFallah commented on #247
http://mobxjs.github.io/mobx/refguide/tojson.html

[2016-05-12 19:50] capaj commented on #247
@AriaFallah I thought that toJSON() would give me a JSON string. hmm okay, thanks. I guess that is good enough.

[2016-05-12 19:59] capaj commented on #245
@makeitrein I think some people use MobX with Angular, so it should be possible, but I would probably stick to the state management built in to Vue. I have no idea how they implement it, but everywhere I look I see that vue handles reactivity for you via some "proxyiing". I would be very interested in how they do it.
For example here:
http://blog.evanyou.me/2015/10/25/vuejs-re-introduction/
and
ht

[2016-05-12 20:00] andykog commented on #247
Yeah, I'd better call it `toJS`, like [Immutable.js](http://facebook.github.io/immutable-js/docs/#/Iterable/toJS) do.

[2016-05-12 20:02] capaj commented on #247
@andykog oh please, let's make that happen. This is just plain confusing.

[2016-05-12 20:08] andykog commented on #247
@mweststrate, we could introduce `toJS` and keep `toJSON` as an alias, what do you think?

[2016-05-12 20:48] mweststrate commented on #247
I agree you guys are right

[2016-05-12 23:22] nyura123 commented on #236
Hi @mweststrate, thank you for this awesome lib! I had the same issue & your fix worked for me - thanks!

[2016-05-13 00:14] daimeng opened #248 "How does runtime subscription work?"
Hi guys. A little background. Currently working as part of a small group to completely overhaul a backbone frontend. I've chosen MobX recently as our primary state management candidate to use with React. We have a large team to expand this to later potentially, so I needed something easy to ramp up. While I find the overall concepts easy to follow, there are some parts that still seem like black m

[2016-05-13 01:03] AriaFallah commented on #248
@daimeng

MobX tries to act as much like a proxy sitting in front of an array as it can without being able to use ES6 proxies. MobX arrays aren't actually native JavaScript arrays. Internally they use a JS array, but all of the array prototype methods are overwritten to either `reportObserved` or `reportChanged` before actually running calling the method on the internal collection. With MobX objec

[2016-05-13 05:02] jefffriesen commented on #247
This confused me too and why I built my own function to convert an observable to a non-observable.

[2016-05-13 05:11] jefffriesen opened #249 "Loading indicator change for long-running synchronous functions"
I am using mobx successfully building a non-trivial app. But I'm running into a problem that I wouldn't expect. I'm trying to show a loader before a long-running calculation and hide it after it's done. I've done it successfully with async functions, like in the examples:
[code]

But when I set an observable on both sides of a synchronous, long-running operation, the initial setting doesn't rerend

[2016-05-13 05:18] AriaFallah commented on #249
@jefffriesen

Gonna wing it here since I'm not 100% sure of this, but could you try updating your observable values using `set` and getting your observable values using `get`?

So for example:

[code]

There are some docs on the rationale behind what I'm proposing here: http://mobxjs.github.io/mobx/refguide/observable.html#primitive-values-and-references

[2016-05-13 05:37] mweststrate commented on #249
@jefffriesen that that doesn't work is simply a combination of the fact that JS is single threaded and React. MobX will actually signal your component to re-render twice (you can verify that by logging `isUpdating` in an autorun for example).

React doesn't render and flush the DOM immediately (this is an optimization to prevent to much redraws), but only on a next tick. But since your calculating

[2016-05-13 05:38] AriaFallah commented on #249
@mweststrate so I was completely wrong 😅 . When you use the observable decorator I assume `.get()` and `.set()` are called implicitly.

[2016-05-13 05:38] jefffriesen commented on #249
@AriaFallah Thanks for the suggestion.
When I do this:
[code]
Same thing with `.set()` - not a function.

I've also tried to wrap `this.calc = looongCalculation() ` in a `transaction` with no luck.

[2016-05-13 05:39] AriaFallah commented on #249
@jefffriesen I realized I was completely mistaken my bad. Please take @mweststrate's advice instead.

[2016-05-13 05:45] jefffriesen commented on #249
@mweststrate Great explanation, thank you. Basically, the long-running function is preventing the tick that would render it from happening. That makes sense. I'll do the setTimeout or do it in a web worker.

[2016-05-13 05:45] #249 closed

[2016-05-13 09:20] mweststrate commented on #248
@daimeng in two lines: `autorun` and `computed` put the function the execute on a stack. Whenever an observable values is accessed, MobX associates that value with the function that was started by `autorun` / `computed`. Now if that value changes in the future, the associated `autorun` / `computeds will be retriggered. It is explained in greater depth [here](https://medium.com/@mweststrate/becomin

[2016-05-13 09:32] mweststrate commented on #246
@canuzunoglu  Opera 12 was released in [2013](http://www.opera.com/docs/changelogs/unix/), so I can imagine it's ES5 support is limited. Is it an option for you to upgrade the browser?

[2016-05-13 22:10] jordan2b1 commented on #245
@capaj - thx for the answer, I ended up dropping Vue - React + MobX is the sweet spot I've been finding for front-end JS projects.

[2016-05-13 22:11] #245 closed

[2016-05-14 07:01] mweststrate commented on #219
Updated the roadmap above in the most likely order of execution. For 2.2 mainly documentation is left :)

[2016-05-14 07:31] osenvosem commented on #244
May I propose a concept?
![logo-01](https://cloud.githubusercontent.com/assets/6762673/15267031/dbc3a41a-19be-11e6-8ca9-63a2be4dc5e7.png)

[2016-05-14 10:50] tetsuo commented on #244
@osenvosem ok this is officially photoshop battle now 😸

![logo](http://i.imgur.com/IUV5ckA.png)

[2016-05-14 11:11] osenvosem commented on #244
@tetsuo so cute))

[2016-05-14 12:24] osenvosem commented on #244
Or something like this:
![mobx_logo2-02](https://cloud.githubusercontent.com/assets/6762673/15268456/eaa0d0ec-19e7-11e6-9d60-3617dddaf9f9.png)

[2016-05-14 16:01] donaldpipowitch commented on #219
@otbe and I currently use https://github.com/inversify/InversifyJS to inject stores in components and we're very happy with that and its a solution which doesn't dependent on React or MobX.

[2016-05-15 01:47] nyura123 opened #250 "duplicate map.get() causes duplicate observers?"
here's a small example:
[code]

output:
[code]

Should we avoid calling .get() more than once within the same derivation? That might be difficult if it calls other functions which might `get` the same data.
I had a React component that observed & sorted 1000 items, and when it was unmounting, the root map had around 200K observers (so unmounting took a while).

[2016-05-15 06:03] daimeng commented on #248
@AriaFallah Thanks for the explanations. I've been playing around with some of your examples in jsfiddle and how observable works with different kinds of values is becoming a lot more clear to me now. This is a really useful reference to keep.

@mweststrate Yes I read that article! It was a large part of what convinced me to try MobX. At the time I did understand in some capacity that the runtime

[2016-05-15 07:27] mweststrate commented on #250
in general there is not much need to optimize those calls away. in the map example both entries are needed because a and b can be changed independently.

the sorting might be a lot more efficient if you slice the list first.  probably that should be a standard optimization.

mobx does by default a lot of feed deduplication in the observers list. see observable.ts `reportObserved` and `quickDiff` i

[2016-05-16 14:38] nyura123 commented on #250
Thanks! I'll try slicing the array - though in my case it's just an array of keys and I look up the fields to sort by in an observable map. I'll build an array with all the fields pre-looked up before calling sort on it.

Btw I tried to build mobx with a change to do a lookup of observable.id before adding it to `observing` and while it greatly speeds up my specific case, it slowed down the mobx t

[2016-05-16 20:59] Diniden commented on #236
Sorry for taking so long :) Lots to sort through.

I just tested your latest, and the issue went away for me. Thanks! I'll let you know if I encounter it again.

The sort is a little slowish, but it's not from re-triggering renderings, which is all that I care about. I believe most of the slowness is just the browser re-rendering, I haven't had time to profile the actual sort operation on the data

[2016-05-16 20:59] #236 closed

[2016-05-17 08:14] mweststrate commented on #248
Closed, question is answered. (I think ;-))

[2016-05-17 09:27] #248 closed

[2016-05-17 09:29] mweststrate commented on #250
Haha yeah I tried that as well a while back. I'm thinking of doing something more smart in the future, change the observers storage strategy from array to object if the list becomes too long or something similar :) It is a fully internal concept, so a lot of tweaks can be done in this area

[2016-05-17 09:29] #250 closed

[2016-05-17 09:31] mweststrate commented on #246
Closing for inactivity, @canuzunoglu feel free to re-open if needed.

[2016-05-17 09:31] #246 closed

[2016-05-17 09:33] mweststrate commented on #244
@osenvosem I really like the idea :) can you somehow make it a bit more suitable for 1:1 aspect ratio?

[2016-05-17 11:17] giacomorebonato opened #251 "context null in store methods"
Hi, I am trying to write to write the change state methods inside the store.
Example
[code]

I thought that it was a good idea, because in this way I can just use directly the function in React render method.
Why it works only if I don't bind the function directly?
[code]

[2016-05-17 11:20] AriaFallah commented on #251
@giacomorebonato

If I were to guess, it might be because `this` is set to the wrong value in your first line. Could you try

[code]

for me to confirm?

[2016-05-17 11:25] giacomorebonato commented on #251
In this case the context is undefined.

P.S. I am inside of a stateless functional component

It is not really a problem, but I was thinking about a pattern to suggest... if it would have worked.

[2016-05-17 11:27] AriaFallah commented on #251
Ah so it didn't work 😓 ... hopefully someone else can help then. I've been on a pretty bad streak of helping people haha.

[2016-05-17 11:34] mweststrate commented on #251
This is more a generic JS issue, but personally I think

`<input onChange={(e) => { userStore.changeName(e.target.value) }} />` is the proper way to do this, as it gives the flexibility of also doing stuff with `e` like preventing default, logic which doesn't belong in a store.

otherwise `<input onChange={userStore.changeName.bind(userStore)} />` would also work.

In any case I would restructure

[2016-05-17 11:48] osenvosem commented on #244
@mweststrate how about this?
![mobx_logo](https://cloud.githubusercontent.com/assets/6762673/15321288/306c6c78-1c3e-11e6-9033-33d7a5382af0.png)
Here are `X` letter and vivid colours to emphasise reactivity.

[2016-05-17 11:50] AriaFallah commented on #244
@osenvosem

This is your best one yet, but it's a little annoying how the X on the tie doesn't align with the X on the hexagon. Not sure if that's just me.

[2016-05-17 11:52] osenvosem commented on #244
@AriaFallah I did that intentionally to add a bit dynamics.

[2016-05-17 12:00] andykog commented on #244
osenvosem's logo won't play nice in small size. Anyway I didn't get the idea (no offense). +1 for iamakulov's proposal
![logo-heroku](https://cloud.githubusercontent.com/assets/6760207/15321544/d7e63fa0-1c3f-11e6-8fd9-16adea4701f4.png)
.

[2016-05-17 12:16] giacomorebonato commented on #251
Wow, thank you for the explanation it was what I needed.

[2016-05-17 12:16] #251 closed

[2016-05-17 12:23] giacomorebonato commented on #251
Can I propose some examples to add to the documentation?

[2016-05-17 12:25] mweststrate commented on #251
sure! that is always appreciated. there should be edit buttons in the docs

Op di 17 mei 2016 14:23 schreef Giacomo Rebonato <notifications@github.com>:

[2016-05-17 12:44] osenvosem commented on #244
@andykog the idea is portray "reactive state manager": tie, colours, `X` outlines. Small elements may be removed or increased in size.

[2016-05-17 12:45] osenvosem commented on #244
We also can play with the letters:
![mobx_logo2](https://cloud.githubusercontent.com/assets/6762673/15322587/610a9686-1c46-11e6-995e-f647143dd99e.png)
![mobx_logo](https://cloud.githubusercontent.com/assets/6762673/15322586/610953fc-1c46-11e6-89bf-a7332be50a62.png)

[2016-05-17 19:44] timeyr commented on #236
I assume that in this case this means that I have a cyclic dependency among my observers, right?

mobx.js:640 Uncaught RangeError: Maximum call stack size exceeded
@ mobx.js:640findCycle
@ mobx.js:647findCycle
@ mobx.js:647findCycle
@ mobx.js:647findCycle
@ mobx.js:647findCycle
@ mobx.js:647findCycle
@ mobx.js:647findCycle
@ mobx.js:647findCycle
@ mobx.js:647findCycle

[2016-05-17 20:26] mweststrate commented on #236
correct. nasty, this is exactly the kind of situation that `findCycle` tries to find and report. Can you try to reproduce this issue in a fiddle or some other place where I can test it? Thanks in advance!

[2016-05-17 20:50] timeyr commented on #236
This is a bit ugly, because logically (i.e. when looking at the values of the variables), there will never be a cycle. However programmatically this cannot be detected, I guess:

[code]

[2016-05-17 23:50] mweststrate commented on #236
@timeyr thanks for the code! really useful. I just released `2.1.7` where the cycle detection is fixed and the cycle is now reported properly.

But indeed, if cycle reporting is completely disabled in the MobX code, the above snippet terminates correctly. I'm gonna dive a bit deeper to figure out if this is either a situation that should not be reported as cycle, or that should be encoded in a dif

[2016-05-17 23:56] mweststrate commented on #236
@timeyr note that at least the following work around works:

[code]

[2016-05-18 03:26] hnordt opened #252 "Early Binding"
The React Performance docs (https://mobxjs.github.io/mobx/best/react-performance.html) say we should bind functions early:

[code]

When I need to pass custom params to the function, I do something like this:

[code]

This is the best approach?

[2016-05-18 05:33] mweststrate commented on #252
Binding in the `render` method results in the `MyComponent` always to be re-rendered if the parent component is re-rendered. Often this is not an issue, but when having many or expense `MyComponents` it might.

In your case you are still binding in the render, which should ideally be prevented if performance is a potential issue.

So any of the following approaches will work:

as seperate field: `

[2016-05-18 06:18] timeyr commented on #236
Hm, the only change is that you introduced a Boolean to implement the filter? It's not obvious why this would allow the cycle detection to work correctly... In any case, thanks a lot for your help, will update to 2.1.7 tonight and do some more tests.

[2016-05-18 06:26] mweststrate commented on #236
ah that is quite simple:

`total0` depends initially on the value of `value` of _all_ children initially (they are needed in the map.
However the `value` of kind 1 children itself depends on the same `total0`. Hence this is seen as a cycle.

But I think that you are right that in this specific case this is technically a false positive for the cycle detection, I'll investigate whether I can recogni

[2016-05-18 06:41] timeyr commented on #236
I still don't get it: why does it depend on _all_ children? The filter is applied before the map (both in your and in my example) such that `Child.value` should only be called for either kind-0 children or kind-1 children.

[2016-05-18 06:50] mweststrate commented on #236
It's due to the moment at which the cycles are detected: Initially, `total0` depends on your third child's value. During the assignment your third child starts to depend on `total0`. Before the dependency is registered it will first check whether adding `total0` to the dependency tree of `value` won't introduce a cycle, which is still the case at that moment, because `total0` is needs to be re-eva

[2016-05-18 06:55] timeyr commented on #236
Wow, this is really tricky, but I think I got it now! Thanks for taking the time to explain!

[2016-05-19 01:27] jefffriesen commented on #219
I feel like there could be some improvement in the API for observable objects. In the docs `observable` section, this is stated:

I think I've read most of what is out there on MobX, including that documentation at one point, and it still didn't sink in. The main message I kept hearing is that if you make something observable, whatever is observing it will be updated if that object changes. And th

[2016-05-19 01:33] AriaFallah commented on #219
@jefffriesen

From what I know about MobX, I'm actually surprised your `update` solution works. Anyways, I disagree about the dynamic by default, but agree that `map` should be made a lot more visible than it currently is since it's tucked away in the "Advanced API" section that no one really visits/sees I think.

What problems did you have?

[2016-05-19 02:05] jefffriesen commented on #219
I tried inside an observable class:
[code]

@AriaFallah I'm curious why you don't think added keys should automatically be observed. Performance? Or do people use that as a feature?

[2016-05-19 02:22] AriaFallah commented on #219
@jefffriesen

As for why your autorun doesn't work you can look at this explanation I wrote on the quirks of autorun:

https://github.com/mobxjs/mobx/issues/248#issuecomment-218927070

Specifically:

With MobX maps to log the whole thing on change it'd be

[code]

---

Also now that I think about it some more, I don't think I'm super against added keys being observed by default. I guess the only r

[2016-05-19 02:33] jefffriesen commented on #219
@AriaFallah That is a good, thorough explanation of autorun. Thanks.

I wonder if it's possible to abstract that complexity away from the user, so autorun just works naively as it's expected to. That's also what I was going for with auto-observing dynamic keys - seems to me like it should just happen for the end user automatically.

[2016-05-19 02:46] AriaFallah commented on #219
@jefffriesen I think that autorun as good as it can be, but the special cases such as logging an entire map for example aren't well explained.

The challenge with that is getting it to work lazily. The laziness is a great feature because it makes sure autorun doesn't run anymore when the object isn't being observed anymore. Though this works against you if you want to log the whole thing because i

[2016-05-19 04:28] mweststrate commented on #219
@jefffriesen @AriaFallah Thanks guys, this is really useful feedback!

@jefffriesen your suspicion is indeed correct, new keys won't be picked up because ES5 has no general construction in which this can be detected (ES6 proxies solves this, but are not available yet in all browsers)

That being said, the situation can be improved I think, here is a short proposal:

1. Move `map` indeed to the cor

[2016-05-19 10:33] rej156 opened #254 "Hot module reloading and ES6 class mobx stores"
Hi I was curious if you knew of any example where modifying a store would not reset the state within the running application while using React-HMR?

It's because instantiating an ES6 class store would create a new object and call its constructor reinitiating state afaik.

[2016-05-19 10:58] mweststrate commented on #254
Something like this: https://github.com/mobxjs/mobx-reactive2015-demo/blob/master/src/stores/domain-state.js#L97 ?

[2016-05-19 11:22] AriaFallah commented on #219
@mweststrate

I really like the `asMap` idea because it definitely fits in much better with the decorators and is named much better than just `map`.

As for the `objectutils`, is it that you're trying to make regular objects like maps? I don't think it's a bad idea, but when would it be an appropriate case to use the `objectutils` over `asMap`?

[2016-05-19 11:33] rej156 commented on #254
Saw that already but any suggestions as to how to deserialize and serialize with ES6 class stores?

[2016-05-19 11:36] mweststrate commented on #254
There is no standard solution for that in MobX, but you might use
mobx-model for that, or some arbitrary (de)serialization package.
(Personally I gave a little bit upon HMR though, to often issues with
decorators not being picked up etc, not being able to use stateless
functional components etc, so for just HMR itself I wouldn't go through
this trouble)

Op do 19 mei 2016 om 13:33 schreef Eric Joh

[2016-05-19 11:38] rej156 commented on #254
Yeah surprisingly managed to get it partially working with React Hot Loader 3.0-beta.2 although my stores are resetting back to initial state
I can modify component class methods though with markup and css reloading which is good!
I'll look into mobx-model thanks!

[2016-05-19 14:20] jefffriesen commented on #219
Wow, proxies as polyfills is not straightforward. You must be paying attention to that because I imagine they would be super helpful for MobX. There's this: https://github.com/GoogleChrome/proxy-polyfill but it doesn't support dynamic keys, unless you just replace the whole object with the key added (which is what I did in my example above).

I still think it would be nice not to have to treat obj

[2016-05-19 20:52] sridharAJ commented on #129
@royriojas and @mweststrate  i want to use controlled form element in my form, What is the best workaround.

Can you please share some examples.

[2016-05-20 02:27] royriojas commented on #129
Hi @sridharAJ

I've made a helper for that basically. I don't have the final version of it, but I have one of the proof of concepts I did.

https://jsfiddle.net/royriojas/qp5p33cn/

This one shows a helper that can be used to construct a "form model", with validation, both async and sync.

[2016-05-20 10:30] superplussed commented on #160
I'm having a similar issue as mentioned in this thread and starting to troubleshoot it, but the thing that's confusing to me is that @bstst and @mweststrate, you are mentioning a phantomjs version 2.1.2.  But it doesn't appear to me that 2.1.2 has been released yet: https://bitbucket.org/ariya/phantomjs/downloads.  Am I missing something?

[2016-05-20 11:21] andykog commented on #160
@superplussed, try https://github.com/Medium/phantomjs/releases (or see `npm info phantomjs versions`)

[2016-05-20 12:58] rej156 commented on #254
https://gist.github.com/rej156/4524b59ea77a697fb62a39eada5b9bbe
Managed to get it working, I deserialized my es6 class stores using JSON.stringify 👍

[2016-05-20 13:17] alexanderchan commented on #219
Perhaps proxies could be used if they are supported in browser to provide a warning that adding keys feature is not supported due to proxies not being in all environments.

[2016-05-20 13:50] alexanderchan commented on #252
@hnordt also see the protips in the eslint rule that sub components can also be used: https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-no-bind.md

[2016-05-20 13:58] jefffriesen commented on #219
This is a really interesting idea. MobX needs to work well in lots of browsers, so it can't use Proxies. But developers are the target for this warning, and they use a limited set of browsers. Anecdotally, all people I know develop in Chrome. I am sure there are plenty of folks who develop in Firefox and more and more, IE Edge. I don't have a sense of Safari as the primary dev browser, but it's no

[2016-05-20 16:01] hellectronic commented on #244
I would not change the current logo. I am in favour of iamakulov suggestion to just remove the shadows. I like the current one and it is recognizable.

[2016-05-20 17:26] mattruby commented on #244
+1 to keeping it the same - shadow

On Fri, May 20, 2016 at 11:01 AM, hellectronic <notifications@github.com>
wrote:

--
-Matt Ruby-
mattruby@gmail.com

[2016-05-20 17:30] alexanderchan commented on #219
@jefffriesen warnings would definitely be intended for developers and could save a bit of time if one creates a new property instead of extendObservable or using map.

One would probably want the check to be removed for NODE_ENV==='production' for perf reasons.

[2016-05-20 18:32] mweststrate commented on #219
Ok, I figured that `asMap` should be part as 2.2.0 as well, as it makes the api more consistent.

Besides that, the rest of 2.2 can already be tested with `npm install mobx@2.2.0-beta.1`

[2016-05-20 18:32] AriaFallah commented on #219
@mweststrate awesome! Any docs/suggestions on what to use?

[2016-05-20 18:41] mweststrate commented on #219
Sure, very quick summary:

* `action(name? fn)` or `@action` decorator; use this to mark all your actions for better dev experience, automatic transactions etc. if `mobx.useStrict(true)` is called, you are forced to use actions if you want to modify state.
* `intercept` has basically the same signature as `mobx.observe`, namely `intercept(target, propName?, callback: (change) => change)`, and is c

[2016-05-21 08:46] timeyr commented on #209
A related question: I would like to have an autorun that runs exactly once and then disposes itself. I understand that using the `firstrun` variable as suggested above would be enough to skip any computations after the first one, but wouldn't it make sense to also dispose the autorun in order to save resources?

[2016-05-21 08:50] timeyr commented on #209
A related question: can an autorun dispose itself? Like:

[code]

[2016-05-21 09:45] mweststrate commented on #209
see `when`

Op za 21 mei 2016 10:50 schreef Tim Meyer <notifications@github.com>:

[2016-05-21 11:59] mweststrate commented on #209
@timeyr the idiomatic way to do that is `const dispose = when(() => relevantEvent, () => doSomething)`.

After running `doSomething` when will be automatically disposed. The returned `dispose` method is only need to _cancel_ the thing entirely.

[2016-05-21 19:25] mweststrate commented on #247
`toJSON` will be renamed to `toJS` in **]v[** 2.2

[2016-05-21 20:05] dacz commented on #101
I know that's closed but I'm still a little bit confused.

When I use observe on parent, parent gets the updated data from observable store and may pass them to the children. Even when children do not have observe wrapping, they should update (new props should be passed down). At least when I modify your fiddle https://jsfiddle.net/mweststrate/wv3yopo0/ and remove observe from TodoView, it still u

[2016-05-22 11:11] timeyr commented on #209
Ah, I should RTFM, thanks for the hint!

[2016-05-22 17:47] liron00 opened #256 "map.clear incorrectly registers a dependency"
The implementation of `map.clear()` accesses the map's observable `._keys` member.

If I call `map.clear()`, I'm not necessarily ever reading the map anywhere in the current computation. Therefore the current computation shouldn't be re-run later if/when the map's set of keys gets mutated.

[2016-05-22 17:53] mweststrate commented on #256
Thanks for finding this one! That is incorrect indeed. As a temporarily workaround you can use `mobx.untracked(() => map.clear())`

[2016-05-22 19:03] aeosynth opened #257 "React example without mobx-react"
How would I set up React components without using the mobx-react package? I ask because I'm using a different virtual dom library, which obviously does not export React, ReactDOM, etc.

[2016-05-22 19:09] mattruby commented on #257
You'd probably want to use autorun. I've used it on a few older jquery
features.
On May 22, 2016 2:03 PM, "James Campos" <notifications@github.com> wrote:

[2016-05-22 19:09] liron00 commented on #256
Thanks. Speaking of `mobx.untracked`, I do believe it needs to be in the production API.

Meteor's `Tracker` package is quite similar to mobx and it offers [Tracker.nonreactive](http://docs.meteor.com/api/tracker.html#Tracker-nonreactive).

One use I have for it is in my `LiveQuery` class, which gets constructed with a specification of a Firebase query path like '/users/john-smith' and then makes

[2016-05-22 19:15] mweststrate commented on #256
@liron00 I doubt whether in your case it makes sense to make `isActive` observable at all? Otherwise `untracked` is nice to use here indeed.

@liron00 In MobX 2.2 a separate concept will be introduced, that should largely remove the need of `untracked` in general (but not in the above example), namely `action`. Actions are intended to modify state and hence are always run with `untracked` and `tra

[2016-05-22 19:20] liron00 commented on #256
I think it's reasonable to need `isActive` to be observable because I have a higher-level class that offers its own computed `.value` getter that looks something like this:

[code]

Looking forward to seeing what you're doing with `action`.

[2016-05-23 05:43] mweststrate commented on #101
Lot of questions, I'll try to answer them with a generic explanation. You can best see `@observer` of a variation of `@computed` (it calculates a VDOM based on some observable data structures)

Take a look at the following example:

[code]

Now should `displayName` have `@computed` or not? The runtime behavior with and without will be exactly the same. Except for the logging statements! Without th

[2016-05-23 07:29] AriaFallah opened #258 "MobX map replace method/event?"
So with the [mobx-store](https://github.com/AriaFallah/mobx-store), I recently added the ability to use observable maps in the store. Undo/redo works perfect with both the objects and the arrays now, but there is one caveat.

With arrays there is the `replace` method. So that if I want to remove 5 elements, but have it be only one undo to get all five back, I can do `.replace(arrayWithFiveElements

[2016-05-23 08:53] dacz commented on #101
@mweststrate That's excellent answer, thank you! I'm getting into it and I like the approach a lot.

[2016-05-23 12:05] gaearon commented on #254
decorators not being picked up etc, not being able to use stateless
functional components etc, so for just HMR itself I wouldn't go through
this trouble)

Small note: HMR is the transport that gets updated JavaScript into the browser. It is not the thing that detects React components or patches them. Vanilla HMR API just lets you say that module A knows what to do when a module B is updated.

[2016-05-23 12:30] mweststrate commented on #254
@gaearon you are right, this comment is a bit short through the corner, I still use webpack HMR for reloading the app, but not anymore to preserve the state of React components, it is doable (see the [mobx docs](http://mobxjs.github.io/mobx/best/stateless-HMR.html)), or even app state at all.

It can all be done, but personally I'm fine nowadays with an automated full refresh of the app, indeed of

[2016-05-23 14:44] yelouafi commented on #199
IMO the most fundamental difference between Redux and MobX, from a conceptual POV, relates to the *update logic*.

In Redux, a Reducer encapsulates *all* the possible ways in which a piece of state can be updated. i.e. you can't update that piece of state from outside. And the overall state/reducers is organized around this notion of update logic.

In MobX, the state is managed inside observables,

[2016-05-23 14:54] AriaFallah commented on #199
I've never thought about it that way.

I do have one question though. When you say:

Could you elaborate on what you mean by `can't call the class method directly from your UI callback`, and also why it's easier to use Redux in this case vs MobX? I'm having trouble visualizing what you're saying. Is it that MobX can't wrap all of the update logic in a single place like Redux reducers can?

[2016-05-23 15:25] yelouafi commented on #199
Say for example, you dispatch an action `TODO_ADDED` and you have 2 reducers : `todoList` (to add the new todo to some list) )and `onBoarding` (for ex. to track user progress) which both react to the same action. In the Todo UI, you'll only do `dispatch(todoAdded(...))`, the store will dispatch the action to all reducers and both reducers will perform the update logic internally.

Now with mobX, i

[2016-05-23 15:39] glenjamin commented on #199
I think this is the fundamental difference, most of the rest is just implementation details.

Redux (and flux in general) forces you to write your data updates outside the components at the top of your application, and enumerate all possible updates.

MobX doesn't enforce this, however there's nothing that prevents you from doing it this way.

[2016-05-23 15:40] AriaFallah commented on #199
@yelouafi

I see. So you're saying that you can't mutate two different domains, `Todos` and `OnBoarding` for example, at the same time without using something like `computed`, which isn't reacting to the event itself, but to the mutation of another observable.

My question would be, couldn't you solve the problem by taking a "redux-like" approach and having a single store at the root that accepts

[2016-05-23 15:47] yelouafi commented on #199
I want to add that the 2 approaches are not mutually exclusive: we can have advantage from the 2 words by combining the pros of each approach

- From Redux the reducer being able to encapsulate all the update logic and not having those 'free slots' (observables)

- From MobX with the dynamic and self-adjusting dependency model (automatic dep. tarcking) which offers a great way to express reactive

[2016-05-23 16:10] yelouafi commented on #199
And of course the other way is also possible. You can embed behaviors in Redux (with some restrictions thou to make serializability/hot reload possible) and implement an automatic dep. model (like observable selectors) on top of that

[2016-05-23 18:03] AriaFallah commented on #199
@yelouafi

I actually was looking into something similar recently while looking into FRP. I was experimenting with combining MobX and Most.js to get a mix of the event and behavior/cell streams, but didn't get very far.

I guess my question at this point is that if FRP *with both discrete and behavior streams* is the solution, how come it hasn't been created/used yet? Are there any drawbacks?

[2016-05-23 20:37] yelouafi commented on #199
Cant say this is THE solution, this is just my POV. Many will find no issues on writing code  with free observables b/c it maps directly to their mental model. Others will prefer FRP style updates. And domain space can also make either option more appealing

That being said, and although I didnt looked much into different libs I think Bacon.js has a similar concept called `Property` and also flyd

[2016-05-23 20:56] yelouafi commented on #199
And I'd just like to add that, in my POV, there is an added value on putting as much as you can of your logic into the 'pure side'. The world of functions is 'eternal': a relation between 2 things is like an invariant captured in your program, insensible to time, and wont be affected by how things get sequenced on the external world (i mean the relation). You can view it like eager (non lazy) mobx

[2016-05-23 21:10] mweststrate commented on #244
Tinkered it about a bit longer, and indeed the logo doesn't need a radical change. It is very recognizable, and has ascii art support `]v[` which is kinda fun in tweets and such. I leave this tread open until I, or someone else, finds the time to apply some minor tweaks and update the logo everywhere. At least the shadow should be removed, maybe the font should be a bit bolder, and a very subtly '

[2016-05-23 21:14] AriaFallah commented on #199
Forgive me if I'm asking too many questions, but I have a few more.

* When you mention purity, at least in relation to MobX, I think of its emphasis on mutation. Do you think there are any benefits MobX can gain from being more pure/immutable? When I think of immutability, I think of thread safety, which doesn't apply to JS, referential integrity, which MobX already gets through observability, an

[2016-05-23 21:30] mweststrate commented on #199
Don't want to interfere to much in this thread, because it is way more interesting to discover how people _perceive_ MobX than having me talking about how I _intended_ MobX ;-).

But the cool thing that @yelouafi is onto here is probably that the behavior objects are observable, trackable and seemingly mutable to the outside world. However to mutate an object, you have to invoke one if its actions

[2016-05-23 21:41] AriaFallah commented on #244
@mweststrate

Does `]v[` mean something except looking like an M? I was wondering if `][` has some kind of mathematical significance or something.

[2016-05-23 21:47] mweststrate commented on #244
eh nope a cooler story would be nice, but it is just an M 😐

Op ma 23 mei 2016 23:41 schreef Aria Fallah <notifications@github.com>:

[2016-05-23 22:37] yelouafi commented on #199
@AriaFallah simply put you can write a program in terms of relation input-output and have the underlying runtime ensure the relation *always hold*. Actually mobx ensures ref. transparency between obs. and derivations but the part the goes from the event to the obs. mutation is outside of its scope.

I dont emphasize on immutability at this level. In fact the whole purpose of immutabiliy in FP lang

[2016-05-24 05:32] mweststrate commented on #199
see transaction?

Op di 24 mei 2016 00:37 schreef Yassine Elouafi <notifications@github.com>:

[2016-05-24 07:00] mweststrate commented on #199
@yelouafi didn't test it, but an implementation of behavior with `mobx@2.2.0-beta.1` would look like this I think:

[code]

[2016-05-24 07:41] osenvosem commented on #244
@mweststrate
![mobx_logo](https://cloud.githubusercontent.com/assets/6762673/15496082/14b232f2-219c-11e6-90b1-7e5e7ba195ac.png)

[2016-05-24 10:48] hellectronic commented on #244
@mweststrate @AriaFallah don't you see it? "] [" indicates an open interval an v is a value in an open intervall of changing values :D

[2016-05-24 10:54] SenerDemiral commented on #244
Please look http://blog.typekit.com/2013/08/14/understanding-letters/

[2016-05-24 10:54] luisherranz commented on #199
I've been thinking about this a lot too. I really like the way code is written in Mobx but I prefer the Redux code organisation and pattern (Flux).

A while ago I had an idea to build a redux-like API on top of Mobx. I stopped because first I want to build a big app using redux/redux-saga and another one with mobx, which is what I am doing that right now with two of my projects.

Anyway, I'd love

[2016-05-24 12:05] AriaFallah commented on #199
@luisherranz

One problem with what you're presenting is that `redux-saga` only has so many advanced features because it's using generators. If you switch to `async-await`, you'll lose most of what the current saga implementation provides because `async-await` only deals with promises so it won't know what to do with `.call()` as just a single example as that doesn't create a promise.

[2016-05-24 12:46] luisherranz commented on #199
@AriaFallah thanks. That's not a problem as long as you are in the middle (`saga.call` can return a resolved promise if the function passed is synchronous) but maybe we should use the gist comments for that type of things and keep this issue only for when to use Mobx in contrast to Redux or possible implementations on top of Mobx and what improvements that may have.

[2016-05-24 13:55] xgrommx commented on #199
@mweststrate Your behavior and behavior in cfrp from @yelouafi pretty similar to join pattern in BaconJS
http://baconjs.github.io/api.html#join-patterns but with `update` method instead of just `when` Also you can take a look in  https://github.com/yelouafi/cfrp/issues/1

[2016-05-24 14:17] mweststrate commented on #199
@xgrommx no join patterns are fundamentally different from transparently tracking deps. Because the first require you to declare, provide and combine the required dependencies, while the latter determine at runtime which observables are used and hence should be tracked.

It is like comparing JQuery with React. With both you can build a DOM, but with the first you specify which DOM nodes should be

[2016-05-24 16:16] arahansen commented on #244
Ooh I'm a fan of @osenvosem s latest

[2016-05-24 16:56] mweststrate commented on #244
me too! one question @osenvosem, was the font change intentional? or just missing? from the top of my head the original font is the Ubuntu font, with the slightly curved V.

[2016-05-24 17:00] mweststrate commented on #244
also the new color is really nice!

[2016-05-24 18:52] andykog commented on #244
May be something like a real «`M`»?
![m](https://cloud.githubusercontent.com/assets/6760207/15515890/e60faa3a-21f8-11e6-8e39-affe13b5094c.png)
(ascii representation is ]V[, with capital `V` :-)

[2016-05-24 19:29] osenvosem commented on #244
@mweststrate just played with fonts and this one seemed quite pretty. This is Ubuntu, it also looks nice:
![mobx_logo](https://cloud.githubusercontent.com/assets/6762673/15517113/bd92f444-21fe-11e6-8492-719c51d32715.png)

[2016-05-24 23:16] mindeavor commented on #12
Is there an official solution for this? I'm trying to write a generic component abstraction over mobx, and I think I need parameters for computed functions. For example:

[code]

[2016-05-25 11:27] mweststrate commented on #12
@mindeavor  What kind of components are you talking about? For react components it should be enough to wrap them in `observer`. Note that `computed`  doesn't depend on arguments, it will just react to any observables used in the function body, so I think you could write `createComponent` simply as

[code]

[2016-05-25 11:51] PhiLhoSoft commented on #244
Some days ago, I though "Hey, would be nice if MobX had a logo".
Then I went to the repository, and saw the `]v[` again. "Mmm, maybe that's the logo, after all".
But I hardly made the connection between a v between brackets and a "MobX"... Until I winked a lot and saw the M. :pensive:

So, yes, I am among those thinking that a new logo would be nice... Will give some thoughts about it... :smile:

[2016-05-25 15:13] yelouafi commented on #199
@mweststrate Thank, I'll give that a try.

One concern I have is with handling transaction from 'simultaneous events'. MobX is glitch free with regard to its internal dependency graph. But when connecting the behaviors to external event streams we may end up with situation when some root event (e.g. button click) cause 2 notifications (e.g. deselect a shape and select shape). From the FRP POV thos

[2016-05-25 15:31] mindeavor commented on #12
Thanks for the reply :) I'm trying to get Mobx to work with other VDOM libraries. `state` should be persisted across all view redraws, but `args` can change depending on the parent component.

If I'm not mistaken, the version you suggested will create a new `mobx.computed` on every redraw, losing the benefit of "update only as necessary". My example was probably too stripped down to get the full p

[2016-05-25 15:48] asterius1 opened #260 "performant undo/time travel in mobx?"
With Immutable data structures going back to previous state is **constant** time operation.
From what I've seen currently with mobx it would involve deserializing previously serialized whole store, which is **linear with size of the store**.

Example use case in which it would be useful would be consistent optimistic updates for actions needing confirmation from the server. [as previeved by Lee By

[2016-05-25 16:43] thomas-jeepe commented on #199
@yelouafi

If you just do

'''javascript

transaction(() => {
  this.boxA.selected = false
  this.boxB.selected = true
})

'''

Mobx will consider both changes "simultaneous" and call all dependcies (boxA's and boxB's) at the same time.

If it isn't in transaction, then boxA's dependencies will be called first then boxB's.

[2016-05-25 17:08] AriaFallah commented on #260
I have undo/redo working here pretty seamlessly: https://github.com/AriaFallah/mobx-store/blob/master/src/index.js

The only issue with it is explained here: https://github.com/mobxjs/mobx/issues/258

[2016-05-25 17:47] asterius1 commented on #260
Hmm, that's interesting.

How well does mobx-store work with not normalized or deeply nested data structures? Main reason I would use mobx is possibility of having my store composed of classes referencing each other directly.

[2016-05-25 17:47] mweststrate commented on #260
@AriaFallah thanks for sharing!

@asterius1 you are right, undo / redo or time travelling is really trivial with immutable data. (well at least time travelling, undo / redo as a end-user feature is usually a lot more involved and requires transactions, undo / redo-ing side effects etc, so let's for the sake of this thread focus on the simpler time travelling).

To achieve time travelling you can s

[2016-05-25 17:52] AriaFallah commented on #260
@asterius1

I'm not quite sure what you mean, but if you want to ask your question more specifically, you can create an issue over at my repo. If what you want doesn't exists, I can make it part of mobx-store 😄

@mweststrate

I'm not quite sure if you're familiar with what I'm doing for undo/redo, but the simple idea is that currently I'm calling `observe` on everything added to the store and undo

[2016-05-25 18:17] mweststrate commented on #260
@AriaFallah yep I look at it (a while ago thouhg). But I think in your case it easier because you don't have "deep" structures. Or am I mistaken now?

`spy` would not be nice in your case I think, because that would report all global changes while your lib now can have multiple mobx-stores, which is really nice.

I think #258 is a good idea, but first I'm gonna wrap up 2.2 ;-)

[2016-05-25 18:20] asterius1 commented on #260
@mweststrate Just tried out `spy`, and it awesome :clap:
Having impression that if there is anything lacking in mobx it is being implemented or will be very soon. Very  impressed :smile:

[2016-05-25 21:24] mattruby commented on #257
Closing due to inactivity.  Please feel free to re-open if needed.

[2016-05-25 21:24] #257 closed

[2016-05-25 21:27] mweststrate commented on #257
Here are some useful links though to get the idea:

MobX + JQuery: https://jsfiddle.net/mweststrate/vxn7qgdw/
Mobservable + Deku (old): https://gist.github.com/mattmccray/d8740ea97013c7505a9b

[2016-05-25 21:38] #247 closed

[2016-05-25 21:38] #256 closed

[2016-05-26 12:48] mtyaka opened #264 "Bad section title in the documentation"
I think this section was called "Advanced", but now it says "(Ignore below, just links to make gitbook work)".

![screen shot 2016-05-26 at 14 44 43](https://cloud.githubusercontent.com/assets/32585/15574995/da3d0d02-2350-11e6-809a-bf06112fcfbc.png)

[2016-05-26 13:29] PhiLhoSoft commented on #244
I just drew a few ideas. Sorry for the low quality, both of drawings and image, but it is just as RFC. I can clean up to SVG if needed...
![mobxlogos](https://cloud.githubusercontent.com/assets/1087902/15576017/07db4c42-2356-11e6-9727-320d30844aaf.jpg)
The first one, I started by drawing a nice big M. Then I thought it looked familiar, I added a semi-cursive X, and stopped here in fear MTV sues me

[2016-05-26 13:45] andykog commented on #244
@PhiLhoSoft, are there some kind of bugs inside binoculars? :-D

[2016-05-26 14:01] PhiLhoSoft commented on #244
Aha! No bugs in MobX, of course!
Naw, it was supposed to be some kind of shadow / reflect to show these are glasses. Made with a fat marker on a small surface => ugly. :laughing:

[2016-05-26 14:55] tcrognon commented on #254
A related problem I'm having right now is that hot reloading React components that have @computed class properties breaks. Patching doesn't skip them and an error happens because they are "get" only.

[2016-05-26 19:27] dettier opened #266 "ComputedValue.get not optimal"
Hi everyone!
I believe something is not quite optimal inside ComputedValue.get function. Computed function gets re-evaluated when there's really no need for it.

Here's an example, every access to `heavyComputed` takes 1 second:

[code]

[2016-05-26 19:49] mattruby commented on #266
If you have that field in an autorun, it should cache as you'd like.
On May 26, 2016 2:27 PM, "Sergey" <notifications@github.com> wrote:

[2016-05-26 21:27] mweststrate commented on #266
@dettier Indeed, the heaveComputed is not caching because you are not using it in your application (as far as MobX knows). As soon as you use the computed value in a React component, or do the logging in an autorun like `autorun(() => console.log(obj.heavyComputed)` you will see different behavior.

The reason for this is that MobX automatically detect whether something is depending on your heavyC

[2016-05-26 21:46] AriaFallah commented on #266
@mweststrate

Would [createTransformer](http://mobxjs.github.io/mobx/refguide/create-transformer.html) fix this behavior? Just curious how you would avoid it without using it in an autorun/react.

[2016-05-26 21:58] mweststrate commented on #266
Nope, createTransformer still needs an observer. Any means of observing is enough to keep it alive, even if you do not use it in the observer, but somewhere outside, just `autorun(() => obj.heavyComputed)` or `observe(obj, 'heavyComputed', () => {})` is enough to keep it alive.

But in practice I never encountered a use case where I needed this. Why should data be kept up-to-data if nobody needs i

[2016-05-26 23:28] vinej commented on #104
I just did an example of React/Mobx using a Flux pattern inspired by Redux. The example is complete with a REST server. I hope it will give some ideas to others. For the moment, it's only a proof of concept.

https://github.com/vinej/react-portal

Thanks

[2016-05-27 01:12] dettier commented on #266
@mweststrate Thanks for the clarification! I encountered this when implementing debounced computed with `immediate=true` behaviour and the call to get initial value indeed wasn't inside autorun or other dep tracking context. `autorun` fixes this.

Thanks again for detailed explanation.

[2016-05-27 01:12] #266 closed

[2016-05-27 01:45] osenvosem opened #267 "Strict mode error"
[code]
This simple code cause the Error
[code]

Just created simple webpack conf and this one entry point. The state object is not even created.

[2016-05-27 07:31] mmazzarolo opened #268 "Testing actions"
Hello there!
First of all thank you for MobX, it's an awesome tool 👍

After upgrading to 2.2 I started playing with `actions` and I'm trying to grasp the concept behind them because I'm having an issue on testing an async action that with the the `@action` decorator won't work.
My async action:

[code]

and this is my test:
[code]

If I run the test this way the it fails:
[code]

Removing the `@ac

[2016-05-27 10:48] luisherranz commented on #104
@vinej very interesting 👍

[2016-05-27 13:51] otbe opened #269 "@action throws invariant failed at runtime"
Hi,

```@action``` does not work for me in my current project. It throws ```action can only be invoked on functions``` at runtime.

![bildschirmfoto 2016-05-27 um 13 33 12](https://cloud.githubusercontent.com/assets/3391052/15609931/05c938a6-2423-11e6-9e2a-3436d6b593c6.png)

Usage:
[code]

mobx@2.2.1 and ts@1.8.10
TSC target is es6 with ```relflect-metadata``` package.

Project is available at git

[2016-05-27 14:46] otbe commented on #205
This may work for simple models like todos, but if they become more complex I really like to have an extra class. Just for testing and better decoupling. From my point of view one of the big advantages of mobx over other "state management frameworks" is ```store.todos.push(new Todo());```. Plain and simple JS. No extra function that could fail in some circumstances. Nothing to test :D
Also keep in

[2016-05-27 15:11] mweststrate commented on #219
N.B: 2.2 has been released yesterday: https://medium.com/@mweststrate/mobx-2-2-explicit-actions-controlled-mutations-and-improved-dx-45cdc73c7c8d

[2016-05-27 16:45] jeffgran commented on #234
I have seen bug reports of this happening in production, but have not been able to reproduce it either.

Maybe the OS/browser has to do with it? This is the user agent info from my bug report:

[2016-05-27 19:06] xiamidaxia opened #270 "Mobx MVVM example by mobx-roof"
Mobx-roof is a simple React MVVM framework based on mobx.

[mobx-roof](https://github.com/mobx-roof/mobx-roof)
[mobx-roof-boilerplate](https://github.com/mobx-roof/mobx-roof-boilerplate)

[2016-05-28 06:00] arlair opened #273 "intercept takes a string, variable is nicer?"
I haven't tried to use this feature, but I was reading through this [medium article](https://medium.com/@mweststrate/mobx-2-2-explicit-actions-controlled-mutations-and-improved-dx-45cdc73c7c8d#.k8znu8aul) and one thing that jumped out at me was the use of a string.

I don't know if there is any clever way to use the variable name instead, like theme.backgroundColor. It seems that would be nicer if

[2016-05-28 07:18] mweststrate commented on #273
Note that `intercept(theme, change => { if (change.name ===
"backgroundColor" ... ` would also work, but doesn't entirely resolve the
issue. I think the only way to make this statically working is using
symbols? Or introducing some additional type, but writing
`theme[themeAttrs.backgroundColor] = "#123"` would also be weird. I think
javascript (nor most other languages) doesn't have anything nice

[2016-05-28 07:58] arlair commented on #273
Yes, I couldn't think of anything either, but I can dream ;) It doesn't look like anyone found a nice solution here, so I will close for now:
http://stackoverflow.com/questions/13612006/get-object-property-name-as-a-string

I think this approach could also break with minification/uglifying, so care should be taken. Seems like uglify supports --mangle-props.

[2016-05-28 07:58] #273 closed

[2016-05-28 12:59] mweststrate commented on #270
Nice :) thanks for sharing. Feel free to add it here: https://github.com/mobxjs/mobx#related-projects

[2016-05-28 13:12] #270 closed

[2016-05-28 13:21] mweststrate commented on #268
@mmazzarolo which version of MobX are you using? `2.2.0`  had an issue where it used sometimes the wrong `this` inside functions which might be related. Does upgrading to `2.2.1` make a difference.

If that doesn't help: which transpiler are you using?

Note that you should also use `action` inside the `async`: `async action((api = ...) => {})`, because `@action` applies only to the current stack,

[2016-05-28 14:02] #267 closed

[2016-05-28 14:02] #269 closed

[2016-05-28 14:05] mweststrate commented on #269
Can you verify this issue is fixed in 2.2.2?

[2016-05-28 14:07] mweststrate commented on #267
Should be fixed now. Sorry, this was an embarrassing one!

[2016-05-28 14:16] osenvosem commented on #267
@mweststrate it seems now it works as intended. Thanks.

[2016-05-28 14:17] mweststrate commented on #264
Ah yeah that was me annoyed with gitbook, actually I don't want the section at all, because "API overview" now contains these entries as well, but without link in the ToC gitbook won't compile these files. I'll rename it back to advanced.

Thanks!

[2016-05-28 14:17] #264 closed

[2016-05-28 14:22] mweststrate commented on #252
@alexanderchan I'll add those links to the docs. Thanks!

[2016-05-28 14:22] #252 closed

[2016-05-28 14:26] #260 closed

[2016-05-28 14:27] #210 closed

[2016-05-28 14:30] mweststrate commented on #209
Closing this for now. The feature still makes sense, but `reaction` does this already by default so maybe `reaction` is favorable for these patterns. Let's await how people use that in practice :)

[2016-05-28 14:30] #209 closed

[2016-05-28 14:32] mweststrate commented on #205
I agree with both of you. MobX doesn't need model classes, but for complicated it is still a nice pattern, very imho because it is a matter of taste as well. @hnordt would you feel for adding these clarifications to the docs? (`gh-branch`, `docs` folder)

[2016-05-28 14:34] mweststrate commented on #193
MobX 2.2 introduced `@action`. No need for `@transaction` anymore :) Thanks @jeffijoe @amsb for igniting this idea!

[2016-05-28 14:34] #193 closed

[2016-05-28 15:42] danieldunderfelt commented on #166
1. Filter
2. Sort (and a new sortBy à la lodash would be EXCELLENT)
3. Map

[2016-05-28 16:41] AriaFallah commented on #166
Just wondering how would it improve perf? Is it similar to view vs materialized view in SQL?

[2016-05-29 01:00] vinej commented on #210
I'm working for CGI at SNC-Lavalin as a software architect and I started to do some marketing about React/Mobx because I really like it. Last week, I sent a link of my repository to all my co-workers to show them that it's possible to build software more easily with this kind of technology.

Continue your good works,  it's worth it.

Thanks

[2016-05-29 03:22] liron00 opened #278 "Reaction runs too often?"
[code]

Console output:

[code]

Shouldn't it only run the side effect once until `large` changes to `true`?

[2016-05-29 05:27] hnordt commented on #205
@mweststrate of course. I'll do this next week.

[2016-05-29 06:18] mweststrate commented on #278
no, you need `when` for that.

Op zo 29 mei 2016 05:22 schreef Liron Shapira <notifications@github.com>:

[2016-05-29 08:23] otbe commented on #269
Works now. Thanks!

[2016-05-29 13:16] liron00 commented on #278
Hm I didn't really mean "once". What I mean is, if the computed expression gets evaluated again but still returns the same value as before, in this case false, is it really the intended behavior to call the side effect again with the same value?

[2016-05-29 14:33] vinej commented on #130
If you really want something like the first diagram, look here; https://github.com/vinej/react-portal.
For me, the advantage of Mobx is really to be able to use mutable data.

Michel, would be possible to add my example to the list of example to your repository to give an example to the community about a flux pattern ?

Thanks

[2016-05-29 20:35] samuelsimoes commented on #219
Is impossible or hard to implement the map properties access without the `get` function? Within some tests that I have done if you access a map's property directly (`someMap.name`) you get an `ObservableMap@X`. I'm doing something wrong? 😅

[2016-05-29 23:56] vinej commented on #205
I agree for simples cases that models are not needed, but if you have to create a new record that contains many fields with default values, you will need something like a model to create a new instance of that record. The store can contains a static method to create a new instance.

[2016-05-30 06:55] mmazzarolo commented on #268
@mweststrate Updated to `2.2.2`, now it seems to work correctly 👍

[2016-05-30 07:06] #268 closed

[2016-05-30 11:28] mweststrate commented on #278
Yep that is intended indeed (well kind of, unless the general feeling is that the semantics should be different :)).

You can achieve the desired behavior by using `computed(() => this.x > 10).observe(action(large => ...))`  (the `action` is optionally but idiomatic)

[2016-05-30 12:19] mweststrate commented on #85
`Server error: ENOENT: no such file or directory, lstat '/tmp/npm-http-server-mobx@2.2.2/tmp/npm-http-server-mobx@2.2.2/bower.zip'` on https://npmcdn.com/mobx@2.2.2/bower.zip

@PhiLhoSoft seems like an issue on npmcdn to me at first sight: `/tmp/npm-http-server-mobx@2.2.2/tmp/npm-http-server-mobx@2.2.2/bower.zip` should probably be `/tmp/npm-http-server/mobx@2.2.2/bower.zip` or something...

cc: @

[2016-05-30 12:38] PhiLhoSoft commented on #85
Yes, I pinged @mjackson via Twitter about this issue.
Meanwhile, I bite the bullet and get MobX (and another library with lesser Bower support) via npm, then copied the files among the other Bower libraries via Gulp (already had a `gulp.js` in my Maven-based build process, anyway):
[code]
Seems to work so far... (easier because of no dependencies).
Would probably be a good idea to drop Bower entir

[2016-05-30 13:03] mweststrate commented on #219
Actually it is possible to merge map and objects and both give them the
same behavior. The convenient thing about map is however that it can has
it's own methods as fields are always accessed through "get". So it is safe
to introduce methods like "keys", "merge", "observe" etc etc without
collision risk. If object and map would be merged, then all those methods
need to become static ( mobx.keys(ob

[2016-05-30 13:55] liron00 commented on #278
Well the docs for `reaction` say:

I think I prefer those semantics.

[2016-05-30 14:33] giacomorebonato opened #281 "Wrapping with action where needed"
I am refactoring a project where I used to change state around in my components...
So I am creating methods in my stores and wrapping them with actions.
Is there a way to find the point of the code where I am changing the state outside actions?

[2016-05-30 14:35] AriaFallah commented on #281
You could do

[code]

and if you change state outside an action, it'll throw an error.

[2016-05-30 14:45] giacomorebonato commented on #281
Ok, I was wrapping a lot of function containing state change at the fulfill of a promise.
If I wrap with 'action' only the function with state change and I invoke it at the end of the promise, everything works.

[2016-05-30 14:45] #281 closed

[2016-05-30 15:08] mjackson commented on #85
Ah, sorry for the regression. It's [fixed](https://github.com/mjackson/npm-http-server/commit/ae0f9387999fd1933b91e466fda07adf9d0629c0) now.

Yep :)

[2016-05-30 15:11] mweststrate commented on #210
Thanks for sharing!

Op zo 29 mei 2016 om 03:00 schreef Jean-Yves Vinet <notifications@github.com

[2016-05-30 15:13] mweststrate commented on #166
@AriaFallah yeah it is very similar to that indeed. Instead of always remapping the array, the splices can be observed and applied (after mapping) to the target array. Etc. I made something similar in the past and it was quite doable and very efficient. Only nasty one is sort, but still doable I think with binary search / insertion.

[2016-05-30 15:20] mweststrate commented on #85
Awesome, thanks!

Op ma 30 mei 2016 17:08 schreef Michael Jackson <notifications@github.com>:

[2016-05-30 15:44] mweststrate commented on #234
I think it is browser related indeed, when googling for Object.defineProperty and Android 2.3 there are quite some hits, among this one: https://mail.mozilla.org/pipermail/es-discuss/2014-March/036778.html

So there seem to be some workarounds, but not sure how feasible (or needed) that is.

[2016-05-30 16:07] mweststrate commented on #254
This might also be useful for others reading this issue: https://gist.github.com/rej156/4524b59ea77a697fb62a39eada5b9bbe

[2016-06-01 02:09] Brendan-csel opened #285 "toJS on a class instance does nothing"
Sorry if I've missed this somewhere.  Is there a trick to getting a plain object from a class instance (i.e. using toJS)?

I copied from one of your JSFiddles to make an example here https://jsfiddle.net/77266z52/2/

[code]

[2016-06-01 07:12] aksonov commented on #186
i have problem with console.error(“[mobx] unexpected exception …….”)
The problem that React Native outputs red screen with that message and i don’t see real error.
Could you make it configurable - i prefer to see original exception

[2016-06-01 07:32] xiamidaxia opened #286 "`action(fn)` stop the autorun when throw an Error"
[code]

[2016-06-01 10:04] dschalk opened #287 "The second "Getting Started" demo is malfunctioning"
The second "Getting Started" interactive demonstration at https://mobxjs.github.io/mobx/getting-started.html prints the first todo five times.

[2016-06-01 12:55] AriaFallah commented on #286
Does this happen even without `@action`?

Also not 100% sure on this, but isn't this the expected behavior? If something autorun is observing throws an error, shouldn't it stop observing it?

[2016-06-01 13:37] lucsky opened #288 "Observing a store property seems to work when using Typescript but not when using ES6/Babel"
Running the following snippet with ES6/Babel leads to an invariant error:

[code]

Running it with Typescript (tried in JSBin) seems to work just fine.

[2016-06-01 13:47] AriaFallah commented on #288
Might be related to #285 as well.

[2016-06-01 14:42] xiamidaxia commented on #286
All the autorun will be invalid when the `@action` throw an error , So this will make affect on global data.

[2016-06-01 15:38] EmilTholin opened #289 "5.1 In depth explanation of MobX - broken link"
The link to 5.1: In depth explanation of MobX in the documentation is broken. Should it link [here](https://medium.com/@mweststrate/becoming-fully-reactive-an-in-depth-explanation-of-mobservable-55995262a254#.kctkdiozj)?

[2016-06-01 15:42] AriaFallah commented on #289
Yes that's where it should link

[2016-06-01 15:44] lucsky commented on #288
@AriaFallah Right, looks like there is something fishy here.

[2016-06-01 15:48] mweststrate commented on #288
argh always babel. will take a look tomorrow.

Op wo 1 jun. 2016 17:44 schreef Luc Heinrich <notifications@github.com>:

[2016-06-02 04:19] mweststrate commented on #278
Thought about for a while, I think you are right. I think the nice thing of what you are proposing is that it forces people to create a pure excerpt of the data they want to react to. For example:

`reaction(() => { user.name; user.avatar; return user; }, person => {})`, will no longer react because the same user is returned over and over again. (Ok, probably nobody did this, just expecting the un

[2016-06-02 04:46] satispunk opened #290 "Introduce `isAction`"
Hi,

Recently started to explore MobX
I am trying to write own connect that just takes the store, is the a way to recognize that certain function of the class is marked with action decorator?

In the end I'd like to replace redux connect with that new connect and components should stay working without any change.

[2016-06-02 06:16] mweststrate commented on #289
I think it is a bug in gitbook or something, link remains broken..  I'll create a page with a link instead..

[2016-06-02 09:10] mweststrate commented on #290
Did you check `mobx-connect` package?

I planned to add `isAction` indeed:
* `isAction(fn)`
* `isAction(object, propName)`

That would also allow to pass actions to `(extend)Observable` and copy them verbatim to the target object instead of turning them into computed properties (when they don't have arguments)

[2016-06-02 10:11] satispunk commented on #290
Would be great to have isAction!

I am trying to achieve similar as mobx-connect does, but with a little difference: connect should take selector over store like its done in redux

[2016-06-02 10:28] satispunk opened #291 "computed properties (methods) with arguments"
How could it be done with mobx?

[code]

I connect that someSelector to react component and would like component to update whenever items in lists with certain ids are changed.

In real app, computation may have dependencies on observable data of different level of store and it is not very convenient to have computed properties on item levels.

I tried to return asReference(() => ...), but this do

[2016-06-02 10:39] jamiewinder opened #292 "Can map handle numeric keys?"
The type definitions tells me that a `map` accepts only string-based keys. Is this actually the case? Can I safely use a number? Can it, like an ES6 map, use an object key?

[2016-06-02 11:23] liron00 commented on #278
Sounds good to me. Btw in case you haven't seen this, here is Liebniz to your Newton: https://github.com/ds300/derivablejs

Check out the API, lots of interesting ideas. The biggest difference is that MobX's API has the primitive concept of a mutable object while in Derivable the only mutable thing is an Atom (but you can set the atom to have a slightly different immutableJS clone of the object it

[2016-06-02 12:23] jamiewinder opened #293 "Naming autoruns"
I know you can name an autorun by naming the function parameter:

[code]

Which is great for debugging, but it can be a bit of a pain to fully utilize. For example, if I want to do something like this:

[code]
It's a little convoluted. It'd be nice if I could do:
[code]

This'd also align nicely with how an `[@]action` can be named. I'm happy to try adding this if there is any interest?

[2016-06-02 12:26] mweststrate commented on #293
Sounds like a very good idea! Feel free to go ahead, I don't think it will introduce overload issues

[2016-06-02 13:14] mweststrate commented on #292
I think numbers will work pretty well as they can be coerced to strings, but objects like in ES6 maps won't work. (Upgrading to ES6 maps could technically be done, but are only supported in IE 11 and higher)

[2016-06-02 13:26] mweststrate commented on #291
You can do

[code]

or, more efficient, use createTransformer (which is basically the same as the above, except it memoizes; it keeps a map `id` -> `computed`, so for the same id you get the same computed back)

[code]

in both cases invoke it as `Store.someSelector(id)`. See this commit for an example: https://github.com/mobxjs/mobx-contacts-list/commit/6c8e889f1bc84644d91ee0043b7c5e0a4482195c

[2016-06-02 13:42] satispunk commented on #291
@mweststrate Alright, gonna try it and see how it works. Ideally I'd like to have the same opportunity of writing complex selectors that I have with reselect.

[2016-06-02 15:06] AriaFallah commented on #292
You can also just do something like `map.set(JSON.stringify(obj), obj)`. Unless you have a bunch of identical objects that each have different properties you don't really need to store the object itself.

[2016-06-02 15:10] jamiewinder commented on #292
Thanks both. For now I've taken to manually converting my numbers to strings (e.g. `'' + num`) when using the ObservableMap types. If only just to get around TypeScript warnings.

I don't actually need object keys, but I was just curious since the type otherwise appears to try and emulate an ES6 Map.

[2016-06-02 15:45] antitoxic opened #297 "A `fromJS` api (opposite of toJS)?"
Hello and kudos for the new state-handling approach.

Having server-rendering and time-traveling in mind, is it not possible to make `fromJS` api that will read a plain object and create all necessary nested classes defined in the observable structure?

[2016-06-02 15:46] antitoxic commented on #75
Related #297

[2016-06-02 15:50] mweststrate commented on #291
In computed properties you can basically do anything except modifying state so you should be fine there. Common practice in MobX is to not normalize data, so usually normal objects are passed around instead of ids. But more importantly the computed properties are usually defined on the object that owns or deletes them. So where in Redux you would have a selector (factory), in MobX people either in

[2016-06-02 15:55] AriaFallah commented on #297
Isn't that what [observable](http://mobxjs.github.io/mobx/refguide/observable.html) does? It takes a plain object/array/value and will make every part of it observable.

[2016-06-02 15:58] mattruby commented on #297
I think Anton is dealing with computed fields and such.  So he'd want his
classes hydrated.  Please correct me if I'm wrong.

On Thu, Jun 2, 2016 at 10:55 AM, Aria Fallah <notifications@github.com>
wrote:

--
-Matt Ruby-
mattruby@gmail.com